[2022-02-01 10:52] cescoffier commented on #1588
Thanks for the repoducer. I got a hack that made it work:

[code]

[2022-02-01 13:15] cescoffier commented on #1588
Opened https://github.com/vert-x3/vertx-amqp-client/pull/78 which would let me fix this issue in a less hackish way...

[2022-02-01 13:30] cescoffier commented on #1588
I opened a PR (not ready because of a huge hack waiting for a vert.x release), but you can try with it.
You would need to build the project and then add the following dependency in your reproducer:

[code]

[2022-02-01 16:37] cescoffier commented on #1589
Wow... that's interesting. I asked @mkouba as it looks like something odd in Arc (it works with Weld).

[2022-02-02 06:51] cescoffier commented on #1589
We found the issue, and it's a missing index in smallrye-common annotation. I will fix that this morning.

[2022-02-02 07:19] cescoffier commented on #1589
See https://github.com/smallrye/smallrye-common/pull/129.

[2022-02-03 22:30] MichaelMiles opened #1592 "Pausing kafka channels via KafkaClientService does not work"
Env:
    Quarkus - 2.6.2.Final
    Java - openjdk 11.0.11

Issue:

The sample repo https://github.com/addebartek/pause-flap can reproduce the scenario where pausing a channel with https://quarkus.io/guides/kafka#kafka-bare-clients does not work. More specifically, if the channel is paused through `KafkaClientService`, it is possible it will get resumed by `KafkaRecordStreamSubscription` due to att

[2022-02-04 10:29] arnoutvw opened #1593 "Smallrye-rabbitmq: when queue/exchange are lost they are not recreated until restarted"
We had a problem with are rabbitmq cluster and it needed to be restarted. After the restart the queues we used were gone. The application automatically restored the connection. Only the rabbitmq tries to listen for messages on the queue but it is gone and gets a 404 from rabbitmq. It shutdown the channel en restarts again. The health endpoint says everything is fine.

Steps to reproduce
- start ra

[2022-02-04 11:45] ozangunalp commented on #1592
Thanks for the sample repo, the issue description is very clear.
`pause-if-no-requests` provides an automatic way of handling pause/resume of the Kafka consumer.
If you'd like to pause/resume manually, why not disable `pause-if-no-requests`?

[2022-02-04 12:04] cescoffier commented on #1592
We probably should mention that in the javadoc. If you need to pause/resume manually, you should disable RM automatic pause/resume.

[2022-02-04 14:02] jogueber opened #1594 "RabbitMQ not setting internal queue size cause OOM exception"
If using the Rabbitmq connector with Quarkus have something like
[code]
This causes an Out-of-memory exception over time since the internal `ArrayDeque` fill up.
If the `max-incoming-internal-queue-size` is set this problem disappears.
Currently in the [RabbitMQConnector.java](https://github.com/smallrye/smallrye-reactive-messaging/blob/3462e3ed308cfca18e4e0347efc1995ed7a2f202/smallrye-reactive-me

[2022-02-04 18:12] MichaelMiles commented on #1592
HI all, If we pause manually, we would expect either `KafkaRecordStreamSubscription` to check for manual pauses in its `pauseResume` logic or for our manual pausing attempt to fail / throw with some clear message about `pause-if-no-requests`

[2022-02-04 18:13] MichaelMiles commented on #1592
And yes, it would be great to mention that if to pause/resume manually, `pause-if-no-requests` should be disabled.

[2022-02-04 20:34] LazaroR94 opened #1595 "record.nack() behavior not as expected for headers"
Hello, I have recently implemented the DLQ failure-strategy in my application and have been monitoring behavior on how the DLQ works in the reactive-messaging library. I have gathered this information from the official documentation:

[code]

If I understand correctly from above, if a message is _nacked_ properly with a Throwable argument then that Throwable itself gets passed along as metadata to

[2022-02-05 17:01] cescoffier commented on #1595
Do you have a reproducer? It should pass the error message as the header's value.
Note that we don't serialize the exception, but just use `getMessage()`.

[2022-02-06 13:40] sbednarik opened #1600 "Graph.materialize throws java.lang.IllegalArgumentException: Comparison method violates its general contract!"
Environment:
Wildfly -> 25.0.1.Final
Smallrye reactive messaging -> 3.10.1
Java -> openjdk 11.0.7
Maven -> 3.6.3

After adding more than 31 Emitters to the application `Graph.materialize` throws `java.lang.IllegalArgumentException: Comparison method violates its general contract!`

The exception is thrown from this part of the code:
[code]

I assume the sorting method does not return consistent re

[2022-02-06 14:35] jogueber commented on #1594
For our project 500,000 messages worked with a heap of around 4GB still not sure if there is a smarter way to determine it _but_ having it on `Integer.MAX_SIZE` can cause trouble
for us it took us some time to figure it out

[2022-02-06 16:42] cescoffier commented on #1600
Oh yeah... in addition to be wrong it is also expensive. I will open a PR with a fix.

[2022-02-06 19:41] cescoffier commented on #1600
BTW, thanks for the test!

[2022-02-07 13:15] #1600 closed

[2022-02-07 16:57] LazaroR94 commented on #1595
I'm sorry, but what is meant by a *reproducer*? The message(s) that come into the final DLQ are only persisted to a database and not retried in any way as that was done by the primary Kafka consumer.

[2022-02-07 17:45] cescoffier commented on #1595
A reproducer is a small project reproducing the issue you are seeing. So, I can quickly jump into it and debug it / fix the bug if any.

Just create a small project on GitHub that I can use to reproduce the issue.

[2022-02-07 19:17] #1594 closed

[2022-02-07 21:20] LazaroR94 commented on #1595
Sure. I have created a small and simple project so that you may try and reproduce this: [Smallrye Kafka Test](https://github.com/LazaroR94/smallrye-kafka-test)

[2022-02-08 07:13] cescoffier commented on #1595
Can you also invite @ozangunalp ?

[2022-02-08 07:59] sbednarik commented on #1600
Thanks for the quick response  👍

[2022-02-08 09:40] seseso commented on #918
I found that some work was already done (https://github.com/smallrye/smallrye-reactive-messaging/pull/478) on this topic.

It would be a great addition to the project!

[2022-02-08 14:14] LazaroR94 commented on #1595
He has been invited

[2022-02-08 14:24] LazaroR94 commented on #1595
I assume the issue here lies not on the actual metadata itself (offset, topic, et.c) but the headers of that message not getting populated at all.

[2022-02-08 16:07] sbonnalc opened #1604 "smallrye-kafka partitions behaviour"
Hello,
May-be this is more a confirmation/question than an issue.
I'm using mp.messaging.incoming.mailbox-channel.connector=smallrye-kafka
and mp.messaging.incoming.mailbox-channel.partitions=100
In the logs, I effectively see the 100 KafkaPoolingThread created for each partition (the kafka topic has 100 partitions too).

The application signature is the following:
[code]
I was expecting the proce

[2022-02-10 10:31] #1604 closed

[2022-02-10 10:31] sbonnalc commented on #1604
I put this question on https://quarkusio.zulipchat.com/.

[2022-02-11 11:43] ozangunalp commented on #1595
Sorry, it took me some time to look at this.
Looking at your reproducer, I noticed a couple of problems:

1/ In testDlqViaApi, as you are using a MutinyEmitter to produce records to the kafka topic, you need to chain the Uni returned by the `emitter.send` method. As in

[code]

2/ I don't think `onFailure().call` in both consume methods is doing what you are expecting to do. It will still propagat

[2022-02-14 19:56] LazaroR94 opened #1609 "NoSuchMethodError after Quarkus 2.7.1 uplift"
Hello, I have recently upgraded my Quarkus version to 2.7.1 and all Quarkus packages along with it. I have come to a strange issue in which I am receiving in my Gradle "test" phase and also when I run the application locally that I can only assume has to do with reactive messaging from what I can tell from the very limited stack trace. Can I get some assistance in understanding what is wrong here?

[2022-02-14 20:00] cescoffier commented on #1609
That does not look like a reactive messaging issue. @radcortez any idea?

Did you "clean" after updating?

[2022-02-14 20:11] LazaroR94 commented on #1595
Thank you @ozangunalp. I have actually started seeing the DLQ logs come now with the correct **nack** headers so I _believe_ the problem resolved itself.

To your second point, are you saying that I should `recoverWithUni` on my initial call to the DLQ? Or should I be using `recoverWithUni` on both consume methods?

[2022-02-14 21:59] LazaroR94 commented on #1609
@cescoffier Did any smallrye-kafka related changes happen inside the actual configuration following this new release? Maybe something new is missing that I may need but not know it.

[2022-02-15 02:19] LazaroR94 commented on #1609
I have also just tested this by downgrading to version 2.6.3 and everything works as planned. I should note, the only dependency that was added by me to the application was the new reactive-oracle-client.

[2022-02-15 07:04] cescoffier commented on #1609
Nothing from smallrye reactive messaging, but between quarkus 2.6 and 2.7 there are close to 1000 commits in Quarkus. Can you report the error in Quarkus, as it seems related?

[2022-02-15 09:57] radcortez commented on #1609
The `getNameProfiled()` method was added here:
https://github.com/smallrye/smallrye-config/commit/9fdb499e168b46f6031b8af7b8fef309d8fc6101

And released with SR Config 2.8.0. This was updated for Quarkus 2.7.0:
https://github.com/quarkusio/quarkus/pull/22423

My guess is that a wrong dependency of SR Config is available at the classpath. @LazaroR94 any chance you can provide a reproducer? Can you

[2022-02-15 13:41] LazaroR94 commented on #1609
@radcortez How can I check that exactly? What is the SR dependency that you are referring to? It is hard to reproduce this as it seems it may just be a version mismatch of some sort, but I am trying to duplicate this in a new application.

A bit off-topic, but what would the the correct URI syntax for the new oracle client? I am used to using this for JDBC: jdbc:oracle:thin@host:port/SEID - but th

[2022-02-15 13:54] radcortez commented on #1609
The dependency is `io.smallrye.config:smallrye-config`. You should be able to check the dependencies with `gradle -q dependencies`.

[2022-02-15 14:09] LazaroR94 commented on #1609
So I was able to bypass this just now by enforcing a version on the smallrye-config dependency:

`configurations.all {
        if (requested.group == "io.smallrye.config") {
            useVersion("2.9.0")
            because("Versions below 2.9.0 cause a specific SR config error")
        }
    }
}`

[2022-02-15 14:51] LazaroR94 commented on #1609
This is a multi module product with only two modules "main" and "test". The Quarkus BOM did not override all dependencies as far as I can tell because from the dependency tree view I can see different versions scattered throughout different dependencies. The only way to bypass this is to not use the 2.8.2 version in the application and instead use `2.9.0`.

[2022-02-16 12:55] radcortez commented on #1609
But `2.8.2` already includes the missing method. It was added in `2.8.0`, so the version you are getting has to be lower than that.

Aren't you able to just remove all the code and remove any internal dependencies you have from the gradle files?

[2022-02-17 20:15] Traivor opened #1622 "JMS Connector IllegalArgumentException on message ack."
I'm getting the following stack trace when trying to use the JMS connector:

[code]

This corresponds to:
[code]

Since the IllegalArgumentException doesn't include the original exception, I have nothing to go on for what's happening.

If I switch to using JMS directly, including doing the message.acknowledge(), things work fine. No change to the underlying JMS configuration in the application ser

[2022-02-18 16:34] Traivor commented on #1622
I'm afraid not. I'm so slammed I don't know when I'd have time to get a debugger going. If there's a release that doesn't swallow the exception I can certainly give it another look.

For background, my goal is to have channel transport be user configurable, with the default for a single app instance deployment being something in-vm. For a multi instance, ultimately multi-regional, the user would c

[2022-02-20 18:07] cescoffier commented on #1609
Closing - not a reactive messaging issue. Please reopen in the Quarkus core repository.

[2022-02-20 18:07] #1609 closed

[2022-02-20 23:21] PyAntony opened #1624 "What is the difference between Strategy.NONE and Strategy.MANUAL for Kafka connector?"
Hi,

I can't find any difference when using any of these 2 acknowledgment strategies. Specifically, for these 2 commit strategies: throttled and latest, what changes when using NONE or MANUAL? both seem to be doing exactly the same thing.

[2022-02-21 09:52] ozangunalp commented on #1624
Acknowledgement strategies are applicable depending on the signature of your channel.
For example, when your signature accepts a `Message` Manual acknowledgement is the default strategy, and if it accepts payloads, Manual strategy is not applicable.

You can find an exhaustive list of how that applies in the [Reactive Messaging specification](https://download.eclipse.org/microprofile/microprofile-

[2022-02-21 16:25] fndejong opened #1626 "Support for single-active-consumers in RabbitMQ Connector"
First of all, a big thanks for providing a really awesome library!

We're currently transitioning our microservices from Spring Boot to Quarkus. Therefore, all our new systems should be coded in Quarkus. Today, we stumbled on a missing feature within Smallrye Reactive Messaging that is available in [Spring Cloud Stream](https://docs.spring.io/spring-cloud-stream-binder-rabbit/docs/3.2.1/reference/

[2022-02-21 17:13] PyAntony commented on #1624
Thank you for replying. I have a few questions:

1) The web site (https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/3.9/index.html) does not contain all the information in the link you posted above. Is the link you posted more "up to date"?

2) Documentation indicate that the following function is incorrect (I understand the reason):
[code]
Will the system print any WARN

[2022-02-22 09:46] ozangunalp commented on #1626
@fndejong Thanks for the PR! I think it looks good and will be merged soon.
For the extra-args map property, I don't think that we can implement it as you describe.
Reactive messaging depends on the Microprofile Config spec which doesn't support Map types (without a converter).
– To be specific, Smallrye Config, so Quarkus, does support Map types –

I think it may make sense to use CDI and search

[2022-02-22 09:49] cescoffier commented on #1626
A catch-all property can work as we did in Kafka, but it's not that simple. Basically, you need to read all the keys.

[2022-02-25 14:04] #1595 closed

[2022-02-27 09:14] cescoffier commented on #1622
Fixed by  #1630 - at least we will get the reason.

[2022-02-27 09:14] #1622 closed

[2022-02-27 16:38] Traivor commented on #1622
Cool. Thanks!

[2022-03-01 06:47] cescoffier commented on #1541
Sorry, this is a left-over. This got fixed with the update to Vert.x 4.2.x

[2022-03-01 06:47] #1541 closed

[2022-03-01 06:50] cescoffier commented on #1626
@fndejong Can you open a discussion about this?

I'm going to close this ticket as the PR is merged.

[2022-03-01 06:50] #1626 closed

[2022-03-01 07:17] cescoffier commented on #1624
About 1., the content is also available on https://smallrye.io/smallrye-reactive-messaging/3.14.1/concepts/signatures/. It is the most up-to-date version because while we implement the specification, we also offer more features.

About 2. The reason is that it's dangerous. Indeed, you cannot acknowledge the message, as acknowledgment is async, but you implemented a synchronous method. We want to p

[2022-03-01 07:17] #1624 closed

[2022-03-01 10:10] belks commented on #1541
Thank you for fixing this bug :) ...we tested it with Quarkus version 2.1.7 now, and the issue no longer happens

[2022-03-01 15:19] cescoffier commented on #1541
Awesome! thanks for the feedback!

[2022-03-01 22:08] PyAntony commented on #1624
so, for your answer in number 3, assuming this is exactly what I want ("every time your application or one of its replicas restart, it will reprocess all the messages stored in the topic"), if I use `latest` or `ignore` and I never commit, I will NOT get an OOM correct?

[2022-03-03 14:56] ericsouza opened #1640 "Kafka Connector and Avro: Does Deserialization with Avro Block in some way?"
Hey! I'm using kafka with avro (confluent schema registry), consuming or producing messages can block in any way due the need to communicate with schema-registry?

If does not block how is the flux to consuming messages, would be something like below?

receive message (polling non blocking) -> call schema registry (non blocking) -> deserialize (when schema registry response is ready) -> read messa

[2022-03-03 15:42] cescoffier commented on #1640
I don't know the internals of the Avro serde from Confluent, but that should not be a problem anyway as it happens on the Kafka polling thread (which can be blocked).

So, in your case, you use something like: https://quarkus.io/blog/kafka-avro/

[2022-03-03 15:44] ozangunalp commented on #1640
Deserializers and Serializers are called by the underlying Kafka consumer and producer clients. Reactive Messaging extension calls poll (consumer) and send (producer) methods on dedicated threads, outside of the event loop.

[2022-03-03 16:23] ericsouza commented on #1640
Wonderful!! Thanks @cescoffier @ozangunalp!

[2022-03-03 16:23] #1640 closed

[2022-03-03 16:34] PyAntony commented on #1624
thank you!

[2022-03-03 17:09] gbzarelli opened #1641 "smallrye-rabbitmq: Can't publish directly to queue with amq.default (or empty) exchange"
The rabbitmq allow directly publish using the default exchange (amq.default)

![image](https://user-images.githubusercontent.com/6283514/156613411-c4735b08-5690-48db-a160-2d6a338b8044.png)

I configure my quarkus app with the following values:

[code]

Code:
[code]

But the message **was not reached to destine** and the output log says:

Log DEBUG:
[code]

If I publish manually using the same argu

[2022-03-04 14:48] IsSkyfalls opened #1642 "smallrye-rabbitmq: Unclear error message on IncomingRabbitMQMessage.getPayload()"
When consuming messages from a rabbitmq queue, I got this horrible stacktrace.
[code]

I spent a couple of minutes digging through the stacktrace but really isn't a lot of information here.
It turns out the other producer submitted the message with header "content-type" instead of "content_type". The rabbitmq connector just refuses to convert the message to JsonObject because of the wrong header.

[2022-03-06 08:46] cescoffier commented on #1642
It looks like it expect a io.vertx.core.json.JsonObject, but it receives a byte[]? What's your method signature?

[2022-03-06 11:16] IsSkyfalls commented on #1642
[code]

It recieves a byte[] because the header is incorrect(- instead of _). And `convertPayload()` just fallsback to byte[] in that case.
[code]
I'm just wandering why isn't the method signature respected here. Why does the header matter if we explicitly want a JsonObject.

[2022-03-07 05:29] #1588 closed

[2022-03-07 06:42] cescoffier commented on #1642
Yeah, that sounds like a bug in the RabbitMQ connector.

[2022-03-07 08:03] cescoffier opened #1649 "Provide a way to pause/resume inbound and outbound traffic (connector-based)"
This issue is about providing a way to pause and resume inbound and outbound traffic.
Basically, it would introduce `Pauseable` inbound channels and outbound channels which once paused:

- inbound: will stop the poll/querying, but accumulating the downstream requests but not passing them to the "client"
- outbound: will stop the write of messages, but accumulating the message and stop making new r

[2022-03-07 08:03] cescoffier commented on #1592
I've added a few sentences to the javadoc and also opened #1649.

[2022-03-07 08:21] #1592 closed

[2022-03-08 14:47] IsSkyfalls commented on #1642
So the problem actually lies in the `com.rabbitmq:amqp-client` library. It always uses the `content_type`attribute, and it's not customizable.

From https://www.rabbitmq.com/tutorials/amqp-concepts.html

My suggestion: If the library can use whatever they want for the attributes, implementing a flag that disables the attribute check is probably a good idea. Or we could just ditch the check complet

[2022-03-09 11:09] ozangunalp opened #1654 "Automate release process on Github CI"
Automate release on CI like in https://github.com/smallrye/smallrye-mutiny

[2022-03-11 12:53] fndejong opened #1659 "Add support to directly pass properties to RabbitMQ"
Following up on https://github.com/smallrye/smallrye-reactive-messaging/issues/1626, I would like to investigate the option to pass 'undefined' properties to RabbitMQ, for example when declaring an input- or output channel.

At this moment, only predefined options (i.e. [configuration-reference](https://smallrye.io/smallrye-reactive-messaging/3.15.0/rabbitmq/receiving-messages-from-rabbitmq/#confi

[2022-03-11 13:59] IsSkyfalls opened #1660 "Flaky HealthWithSubscriberTest / WeldTestBaseWithoutTails"
After running `ChannelNameConflictTest`, which installs an invalid config file, the config values are not correctly cleared. Resulting in the next test, if using `WeldTestBaseWithoutTails`, consistently fail in `ConfiguredChannelFactory.detectNameConflict`. For me this is `HealthWithSubscriberTest`.

It seems that I'm the only one who has this issue, pretty strange.

Test logs:
[code]

Debug:
[cod

[2022-03-11 15:41] alexlitovsky opened #1662 "AMQP - when using multiple Emitters intermitently fails to retrieve credits on startup"
**Scenario**
Quarkus application using SRM AMQP 3.15.0
Application uses Emitters to send messages to multiple Queues on the same Azure Service Bus

**Problem**
On startup, SRM silently fails to obtain credits for **some** of the channels.  This is sporadic but frequent.
This does not cause the startup to fail.  It also does not recover.
Attempts to send messages using these Emitters fail.

**Repro

[2022-03-11 16:12] cescoffier commented on #1662
It may come from the "client sharing" (it shares the same client). I will have a look.

[2022-03-11 16:30] cescoffier commented on #1662
I just tried a few times using quarkus:dev, and it worked every single time. What's your java version? Are you running quarkus:dev or from a jar file.

[2022-03-11 16:32] alexlitovsky commented on #1662
[code]
It fails for me almost consistently, though for different channels

[2022-03-11 16:39] alexlitovsky commented on #1662
Also just tried it from multiple computers and multiple OS's (Mac and Windows).  Able to reproduce almost consistently.

[2022-03-11 17:28] alexlitovsky commented on #1662
@cescoffier It seems to be caused by the latency of the broker and the application.
In my scenario, the broker was located in the same Azure region as I am.
When I moved the broker to Azure's "Central France" location, it works every time.

Basically it works when the broker is far way.  Doesn't work when the broker is close.

I checked in the "Central France" broker coordinates into my reproducer

[2022-03-11 18:20] cescoffier commented on #1662
Hum, still the same result for me:
[code]

I launched it 20 times, it always got the credits.

[2022-03-11 20:35] alexlitovsky commented on #1662
I created a VM co-located in Azure with the broker.  Will send you the VM info and exact steps by email.
I am able to reproduce it there consistently.

It's definitely a race condition:
2 cores:  could not reproduce
4 cores:  50/50
8 cores:  consistently reproducible

[2022-03-12 01:39] IsSkyfalls commented on #1660
Fixed in #1661

[2022-03-12 01:39] #1660 closed

[2022-03-13 12:36] IsSkyfalls commented on #1642
Done in #1667

[2022-03-13 12:36] #1642 closed

[2022-03-13 12:43] cescoffier commented on #571
Fixed with the new documentation.

[2022-03-13 12:43] #571 closed

[2022-03-13 18:54] cescoffier commented on #1662
@alexlitovsky tha is, send me the details to clement@redhat.com

[2022-03-14 10:09] cescoffier commented on #1662
Thanks! I've found the bug.

Working on a fix.
The problem is a race when retrieving the credits. If the initial credits are not retrieved "in time", it just does nothing to retrieve more. Now, it will ask for more credits.

Note that the emitters will still need to be protected with:

[code]

[2022-03-14 10:27] cescoffier commented on #1662
Here is the PR fixing it: https://github.com/smallrye/smallrye-reactive-messaging/pull/1668.

[2022-03-14 11:10] #1662 closed

[2022-03-14 14:02] alexlitovsky commented on #1662
@cescoffier Is there a way to block until credits have been retrieved for a channel?  I don't think wrapping in an `if emitter.hasRequests()` helps us much.  Ultimately the messaging subsystem is not ready to be used until credits have been obtained.

[2022-03-14 14:53] cescoffier commented on #1662
hasRequests should be used almost every time you use an emitter. You cannot safely 'send' to a reactive world without checking if you have requests.

You can wait and retry until you have requests, but be sure you are on a thread you can block.

Note that the issue is not only happening on startup. It can happen when you are running out of credits (but that path was already covered).

[2022-03-14 14:55] cescoffier commented on #1662
The messaging system is ready, it just does not have the capacity. It got the first credits, they were 0. But the connection is established and the sender opened.

[2022-03-16 14:16] victorgawk opened #1671 "Kafka error when consuming from multiple partitions with DLQ strategy"
Having a Kafka consumer with:

* `partitions >= 2`
* `failure-strategy = dead-letter-queue`

will raise a warning when Smallrye tries to create the DLQ producer for the second, third partition and so on. This is happening because Smallrye is trying to create one DLQ producer for every partition. An exception is thrown because all producers are being created with the same client ID.

[code]

Java v

[2022-03-16 14:44] ozangunalp commented on #1671
Indeed a producer is created for each consumer, which is created per partition.
We are using `kafka-dead-letter-topic-producer-${channel.name}` as the producer client id.
I think it makes sense to use `kafka-dead-letter-topic-producer-${consumer-client-id}` for producer client id.
Consumer client id would include the partition (when applicable).

@victorgawk Would you mind creating a PR for this c

[2022-03-17 15:32] josephearl opened #1673 "Erroneous warning about unrecognised config `merge` for producer using smallrye-reactive-messaging-kafka"
We are using `smallrye-reactive-messaging-kafka` and have multiple producers sending messages to a single Kafka topic

To do this we have configured the topic with the `merge: true`:

[code]

On startup of the application there is a warning about an unrecognised configuration:

[code]

However removing `merge: true` from the config results in an exception on startup:

[code]

This warning seems er

[2022-03-17 18:47] cescoffier commented on #1673
Agreed, we should add 'merge' to the list of attribute to be remove from the serializer config.

[2022-03-19 11:04] #1671 closed

[2022-03-21 08:01] #1673 closed

[2022-03-22 07:17] knutwannheden opened #1679 "Link to documentation from main SmallRye documentation"
The [SmallRye main documentation page](https://smallrye.io/docs/index/index/index.html) doesn't have any link to the [SmallRye Reactive Messaging documentation](https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/3.13/index.html). The latest documentation I could find was for version 3.13.

I was looking for documentation on OpenTelemetry support in Quarkus for Kafka. In Qu

[2022-03-24 12:30] Basil1991 opened #1681 "SRMSG00073: Invalid configuration, the following channel names cannot be used for both incoming and outgoing"
My config:
mp.messaging.incoming.ws-broadcast.connector=smallrye-kafka
mp.messaging.outgoing.ws-broadcast.connector=smallrye-kafka

Error:
Class - ConfiguredChannelFactory
Method - detectNameConflict()

----------------------
Question:
Why we need "detectNameConflict"?
I use kafka to ensure our websocket cluster notice.
so I need broadcast the message to all node in websocket cluster.
how can I do

[2022-03-24 12:41] cescoffier commented on #1681
The spec prevents you to use the same name for the incoming and outgoing channels.
So, you need:
[code]

and change the `@Outgoing` or `@Channel` to be `ws-broadcast-out`

[2022-03-24 12:41] #1681 closed

[2022-03-29 19:04] scrocquesel opened #1688 "sending message on failed rabbitmq connector produce NPE"
When the connection fail, the Uni<RabbitMQPublisher> produces a null, that seems to make the send method throw NPE.

https://github.com/smallrye/smallrye-reactive-messaging/blob/bf57fcb2c380a280744d4fcf09eca78f5fce4919/smallrye-reactive-messaging-rabbitmq/src/main/java/io/smallrye/reactive/messaging/rabbitmq/RabbitMQConnector.java#L348-L349

[code]

Could it be nacked with a more descriptive error

[2022-04-03 12:48] cescoffier commented on #593
Followed up by https://github.com/quarkusio/quarkus/issues/24717.

[code]

[2022-04-03 12:48] cescoffier commented on #693
Followed up by https://github.com/quarkusio/quarkus/issues/24718.

[code]

[2022-04-03 12:48] cescoffier commented on #466
Followed up by https://github.com/quarkusio/quarkus/issues/24719.

[code]

[2022-04-03 12:49] cescoffier commented on #438
Followed up by https://github.com/quarkusio/quarkus/issues/24720.

[code]

[2022-04-04 10:49] pravussum opened #1694 "Invalid message causes consuming of messages to stop"
When working with the RabbitMQ connector I realized that if a consumer retrieves an invalid message which the converter fails to parse, the consumer stops retrieving messages instead of NACKing the faulty message.
In my case the poison message was of contentType application/json, but contained an invalid JSON String.

In the consumer method I have no chance handling this error (it is never called

[2022-04-06 10:23] cescoffier commented on #945
@ozangunalp can you describe your current approach?
See #1680.

[2022-04-06 10:26] cescoffier opened #1695 "Document usages of _managed_ Kafka"
This epic is about adding detailed documentation about:

- [ ] Amazon MSK
- [ ]  Azure Service Hub
- [ ]  Red Hat OpenShift Streams with Apache Kafka
- [ ]  Confluent Cloud

The document should explain how to configure the Kafka connector to work with these providers.

[2022-04-06 18:03] ozangunalp commented on #945
The approach implemented in #1680 uses the emitter pattern for writing Kafka records inside transactions.
It defines a custom emitter called `KafkaTransactions`, which can be injected as you'd do for an Emitter:

[code]

Then to use it for sending messages inside a Kafka transaction:

[code]

The `withTransaction` method returns a `Uni`.

When subscribed (in this example as part of the incoming ch

[2022-04-07 14:35] cdennison opened #1696 "Add rabbitmq-quickstart"
I was happy to see that RabbitMQ was recently added to the documentation but I found several points confusing that I think would be best addressed using a quickstart. I plan to submit a PR to add a quickstart.

Questions/confusions I will address in the quickstart:

1. In RabbitMQ the most normal use case is to use the same exchange for both incoming/outgoing messages. In this connector the exchan

[2022-04-08 11:14] pravussum opened #1699 "Allow multiple consumers per channel for RabbitMQ connector"
Currently for each incoming Smallrye messaging channel there is one RabbitMQ consumer created.
It would be beneficial to allow the creation of multiple RabbitMQ consumers per channel.
- concurrency could be increased (there is [a similar issue for Kafka](https://github.com/smallrye/smallrye-reactive-messaging/issues/329))
- support for sharded queues

Our use case is the following:
We have a high

[2022-04-19 09:25] zuochangqin opened #1711 "rabbitmq qos"
Hi, I'm just starting quarkus, Smallrye Messaging is really simple, I use it to consume rabbitMQ messages, but I found that there is no "qos" setting, I found that Vertx RabbitMQClient has basicQos method, please check whether this feature can be added.

[2022-04-19 10:23] GoncaloPT opened #1712 "DeadLetterQueue KafkaFailureHander - Set a custom client.id"
I've set up a Kafka consumer using Smallrye Kafka and setting the failure strategy to dead-letter-queue.
Everything works as expected, but,
For particular reasons, I need to have control over the client.id of every producer on my code.

I've tried to set this on the 'general' kafka client but it seems to be overwritten somewhere

After looking into Smallrye-reactive-messaging code, I think this fe

[2022-04-19 10:32] GoncaloPT commented on #1712
for reference:
https://stackoverflow.com/questions/71915557/quakus-kafka-smallrye-how-to-change-client-id-of-the-underlaying-producer-us

[2022-04-19 10:36] GoncaloPT commented on #1712
I will submit a PR later with a feature implementation proposal.

[2022-04-19 10:50] ozangunalp commented on #1712
@GoncaloPT BTW there has been a recent change on this in #1676. So the producer client id is no longer dependent on the channel name but on the consumer channel client id.

[2022-04-19 11:54] GoncaloPT commented on #1712
That is interesting @ozangunalp, thanks for pointing it out!
What I need is the opportunity of defining the producer client id without any values prepended.

So I see this as maybe adding a specific configuration like we have for deadLetterQueueTopic but for clientId. If the value is not provided, then it will use the one we have currently.
Your thoughts?

[2022-04-20 19:34] #1712 closed

[2022-04-20 20:41] ylepikhov commented on #1162
It's possible to implement such logic with PublisherDecorator (which is not documented). It has one method PublisherDecorator.decorate taking publisher instance and channel name as parameters and returning new decorated publisher instance. This method gets called once for each channel at startup. I've implemented such decorator to convert all outgoing messages to String (see Kotlin code below).

[

[2022-04-21 17:43] filipe-j-delgado commented on #1711
Need the same!!!

[2022-04-24 09:51] josephearl opened #1718 "The JMS Connector does not support interop between different components when deserializing messages"
Given a distributed architecture with multiple JMS components, Smallrye Reactive Messaging JMS does not support deserializing messages properly in the following scenarios:

* A producer and consumer having different classes for the same thing - e.g. `com.example.producer.Person` and `com.example.consumer.Person` - in this case the consumer will be unable to receive these messages at all
* A produc

[2022-04-25 08:19] josephearl opened #1719 "Support JMS 1.1 Clients"
There's nothing in the JMS connector itself that requires JMS 2.0 (it's makes the code a bit easier to write, but the same could be done using `createConnection` instead of `createContext).

Compiling against and using only the JMS 1.1 API would allow people to use legacy clients such as the ActiveMQ client together with the JMS connector.

[2022-04-26 05:35] cdmikechen opened #1721 "Smallrye-reactive-messaging-mqtt can not handle special characters in topic"
Because currently, the mqtt topic wildcard in project deal with pattern, so that we can not handle special characters in topic.
Suppose my configuration is as follows:
[code]
I can not get message from `$device/update/request/device-1` or others. So that, we should also deal with special characters in topic.

[2022-04-26 05:42] cdmikechen opened #1722 "Smallrye-reactive-messaging-mqtt should support pem files for tls connection"
Mqtt client should support ca / client cert / client key pem files.
Suppose we are using quarkus native image to deploy on k8s by using smallrye-reactive-messaging. We can't easily mount keystore or truststore files inside the pod, but we can easily use configmap/secret with pem content.

Adding some codes in the project and converting cert files before connecting mqtt is not very difficult, but i

[2022-04-26 10:04] radcortez commented on #1719
I guess it won't work if both coincide in the same project, but if the client resides on a separate project, it should be able to connect to any JMS Server (even if Jakarta).

@josephearl, any specific reason why you need the 1.1 API?

[2022-04-26 10:49] josephearl commented on #1719
@radcortez to support JBoss AMQ / ActiveMQ clients (OpenWire protocol)

Although the Artemis server supports the OpenWire protocol, the Artemis client does not

[2022-04-26 18:40] josephearl opened #1724 "Message is not nacked if getPayload throws an exception when called as part of the conversion process"
If a consumer consumes message payloads
And the getPayload of the message throws an exception
Then when the ConverterUtils call getPayload to extract the payload to call the consumer method and the exception is thrown
Then the message is never nacked

(I'm building a connector against 3.15.0)

[2022-04-27 23:38] radcortez commented on #1719
The problem, as @cescoffier pointed out, the Jakarta rename is moving forward, so even if we move to the 1.1 API, we have the namespace change.

What is required to compile the client? Could it be split is some sort of API / Impl, so the client can use its preferred JMS API?

[2022-04-28 03:21] cdmikechen commented on #1722
I've tested connecting mqtt by pem files, And I've found that some ssl config descriptions are not very accurate and may need to be proofread.

[2022-04-28 15:42] josephearl opened #1726 "Message is not nacked if a message consumer throws an exception"
Give a consumer with a consume method like the following

[code]

The message is not nacked.

For the Kafka connector this means that following test passes against 3.15.0 with the `ignore` failure strategy:

[code]

[code]

I think it should fail, and:

- I would expect all numbers to have been received once
- For the number of nacks to be 10
- And for the connector to still be alive

[2022-04-28 19:05] josephearl commented on #1726
If you did want to guard against the possibility of it being called twice, you could just make sure all code in the failure handler and the ack/nack methods does not execute synchronously when the handler method is called

[2022-04-29 07:48] josephearl commented on #1719
@radcortez I'm not sure that would work because the JMS connector is designed to work with an exposed ConnectionFactory bean - if the application supplied a `jakarta` ConnectionFactory and the library was expecting a `javax` one then I think as far the library is concerned that dependency would be unsatisfied.

I think supporting that would involve depending on your own interface rather than direc

[2022-04-29 07:48] #1719 closed

[2022-04-29 08:14] ozangunalp commented on #1726
As you may know already the behaviour you are looking for can be achieved by forcing the `POST_PROCESSING` acknowledgement strategy with `@Acknowledgment(Acknowledgment.Strategy.POST_PROCESSING)`.

I understand the argument about the robustness of the framework. But as you said, the message may have been acked (manually of with PRE_PROCESSING strategy) before the exception is thrown.

TBH I didn't

[2022-04-29 08:55] josephearl commented on #1726
@ozangunalp thanks! I hadn't actually read that part of the docs.

RE: nacking twice, I mean if the consumer does something strange like:

[code]

and your failure handler does something like:

[code]

then if the framework automatically nacked the message, the synchronous code (the log message) would be logged twice

[2022-04-29 19:47] josephearl commented on #1724
This might be OK - but if so it might be worth documenting that deserialization of the payload should be done before constructing the message and that this function should not throw.

[2022-04-29 19:47] #1724 closed

[2022-04-29 19:49] #1726 closed

[2022-05-05 17:04] wolfe111 opened #1731 "smallrye-reactive-messaging-jms removing message from queue after nack"
Whenever I nack a message (like in the example below when an exception occurs). The message gets removed from the queue, when I would of thought it would be kept on the queue

[code]

[2022-05-09 10:29] #1731 closed

[2022-05-14 17:25] pstrumni opened #1739 "Slow RabbitMQ producer"
Hi,
I'm trying to compare multiple frameworks (spring, micronaut and quarkus) by RabbitMQ integration support. I run simple benchmark which simply publish numbers from 0 to 100 000 . While spring and micronaut need max 2 seconds to publish messages, quarkus with  [smallrye-reactive-messaging](https://github.com/smallrye/smallrye-reactive-messaging) need at least 10 seconds.

I have suspected, that

[2022-05-15 15:39] cescoffier commented on #1739
You will have to tell us more. The emitter is using a buffer to handle back-pressure, so you are not sending immediately, but write it to a buffer and the connector poll the items from the buffer.

[2022-05-15 15:57] pstrumni commented on #1739
Thanks for reply. Could you tell me how to send messages immediately?

I have following code:

[code]

[code]

I run apache jmeter thread pool with size 100, each 1000 requests. Without @OnOverflow(OnOverflow.Strategy.NONE) it throws exception:
`SRMSG00034: Insufficient downstream requests to emit item`

With @OnOverflow(OnOverflow.Strategy.NONE) it runs without exception, but very slow.

[2022-05-15 16:27] cescoffier commented on #1739
Yes, you can use an unbounded buffer (risky).

With 'none' it just blocks which is also wrong.

I would not use jmeter to do benchmark as it differs from coordinated omissions.

[2022-05-15 16:36] pstrumni commented on #1739
So there is no other way to simply send message to broker from non reactive code?

[2022-05-15 19:22] cescoffier commented on #1739
You can use any rabbitmq client directly, or the vertx rabbitmq client (it will work in native).

[2022-05-16 14:01] knutwannheden commented on #1162
@ylepikhov I tested your approach in a Quarkus application, where I want to "decorate" outgoing messages as well as extract information from incoming messages (both using the smallrye-kafka connector). I was however only able to get this to work for incoming channels, not outgoing channels.

Stepping through the code the `decorate()` method gets called for incoming channels from `ConfiguredChannel

[2022-05-16 19:39] pstrumni commented on #1739
Why the buffer is being processed so slow? Can I do something to improve performance without switching to other library?

[2022-05-18 09:05] cdongtao commented on #195
hello @cescoffier , so currently which config set up for ssl connect as the global properties?

[2022-05-19 06:19] kdubb opened #1742 "Possibly useless code in RabbitMQConnector"
@cescoffier Is this line not useless?

On completion is creates a cold `Multi` that is abandoned. It seems like this should be removed _or_ switched from `invoke` to a `transform`.

https://github.com/smallrye/smallrye-reactive-messaging/blob/d09f9f9706626586cc0521700c37c66f4444a5d3/smallrye-reactive-messaging-rabbitmq/src/main/java/io/smallrye/reactive/messaging/rabbitmq/RabbitMQConnector.java#L4

[2022-05-19 07:47] cescoffier commented on #1742
Totally useless.

[2022-05-19 18:54] kdubb opened #1743 "RabbitMQ reconnection doesn't work"
## Vert.x Reconnection Issues

Currently when Vert.x reconnect kicks in none of the exchanges or queues are rebuilt. The connector uses a mutiny stream to setup exchanges and queues which is never resubscribed because Vert.x reconnection is handled inside `RabbitMQClient`.

A solution to this seems to be to build the exchanges/queues in the `RabbitMQClient.addConnectionEstablishedCallback` as sugg

[2022-05-19 19:03] kdubb opened #1744 "RabbitMQ Server Named Queues are not supported"
RabbitMQ encourages the use of server named queues when clients are using an "exclusive" and "auto-deleting" queue.

To create a server named queue you must provide an empty string as the queue name. Currently (as of 3.16) providing a blank name for the queue name causes a configuration error.

[2022-05-19 19:09] kdubb commented on #1743
This is almost a duplicate of #1593 but I've tried to outline all the possible paths and why none of reconnection, retry, or recovery works.

[2022-05-20 06:49] #1722 closed

[2022-05-20 06:50] #1721 closed

[2022-05-20 09:47] hjklapp opened #1749 "RabbitMQ: Dead letter exchange is always configured with default"
When configuring a queue, the dead letter exchange is configured, even though I did not configure it.
This is a problem for me, as I want to connect to an existing RabbitMQ (which I have no control over), where the queue might be already declared without the dead letter exchange.

Error message when trying to connect to the existing RabbitMQ:

[code]

I understand that `dead-letter-exchange` has a

[2022-05-21 11:26] pstrumni commented on #1739
I've investigated why publishing messages by quarkus (with smallrye reactive messaging) is so slow and noticed that **it uses only one channel** to send messages to RabbitMQ while spring and micronaut use multiple channels (32 in micronaut and ~200 in spring).

Why don't you use multiple channels for publishing messages to RabbitMQ?

[2022-05-24 11:47] ErraticUnicorn opened #1751 "Setting pre fetch count specifically for one RMQ channel"
Hi,

Been using you all through Quarkus! Great stuff, super easy to work with. I was wondering if there's any way to set the message prefetch count for one RabbitMq channel.

Relevant RMQ documentation: https://www.rabbitmq.com/consumer-prefetch.html
It seems the field here is `basicQos`

I have only seen reference to `max-incoming-internal-queue-size` which I think applies per channel?

Any help

[2022-05-25 15:53] kdubb commented on #1751
Duplicate of #1711, also fix is pending in #1748

[2022-05-25 16:15] #1742 closed

[2022-05-25 16:15] #1749 closed

[2022-05-28 19:48] kdubb commented on #1699
@pravussum @cescoffier This issue can be closed correct?

[2022-05-29 15:52] cescoffier commented on #1739
@kdubb any idea?

[2022-06-12 20:01] pstrumni commented on #1739
@cescoffier , @kdubb any updates?

[2022-06-12 20:02] pstrumni commented on #1739
@cescoffier , @kdubb any updates?

[2022-06-14 12:02] hjklapp commented on #1641
With version 3.16 of the plugin, using `amq.*` as exchange name is forbidden (which is not a problem, as it was not working anyway).

And quarkus config does not allow to set the exchange name to the empty string.

@cescoffier
Could we specify a special string for the exchange name, such as `default-exchange`, which would be converted to the empty string before establishing the connection to the e

[2022-06-15 04:42] lennartj opened #1767 "Make the Smallrye ReactiveMessaging Extension consider/operate on Producer methods."
## Reactive messaging should work with Producer methods

Today the ReactiveMessagingExtension only considers Fields as CDI InjectionPoints for Emitters and Consumer methods annotated with @Channel.

This requires us to create and maintain lots of complex code for each reactive messaging endpoint whenever we want an integration to behave differently in different environments, typically _not to be a

[2022-06-15 07:36] lennartj commented on #1767
CDI Producer methods provide a generic way of creating Emitters. Some implications of this:

- Unless I am missing the point with the `EmitterFactoryFor` annotation, a CDI producer method is extensible enough that any Emitter (or Publisher) subclass can be generated in the producer method body. Hence, using a CDI Producer method implies that the development model is flexible enough without introdu

[2022-06-16 03:05] kdubb opened #1769 "`MessageConverter` failures stall processing indefinitely with manual acknowledgment"
If a `MessageConverter.convert(...)` method throw an exception the incoming channel is stalled indefinitely; exceptions are logged but nothing else happens.

Since the failure is in message conversion there is no chance for user code to ack or nack the messages so it always hangs.

This is being experienced specifically with RabbitMQ but it appears this might affect any broker.

[2022-06-16 03:13] kdubb opened #1770 "Calling `Message.ack` or `Message.nack` more than once causes RabbitMQClient restart"
For RabbitMQ you are only allowed to call one of `ack` or `nack` once. If this mistake happens it causes a complete restart of the RabbitMQ client without any notice as to why it is happening.

Detecting this and logging the problem would be very helpful for developers.

[2022-06-16 03:27] kdubb commented on #1769
I've edited the issue to reflect that this is happening with manual & post-processing ack strategies.

[2022-06-16 08:56] matkinhig opened #1771 "Request Reply mode in rabbitMQ"
i want to use request reply mode (send to queue after that, send another random queue)
[( https://www.rabbitmq.com/direct-reply-to.html)]
i using camel oke, but this lib, i dont know implement that.
Hope a support.

[2022-06-20 19:58] mazenkhalil commented on #1695
Does this epic includes the support of [azure-schema-registry-for-kafka](https://github.com/Azure/azure-schema-registry-for-kafka)?

[2022-06-23 18:55] kdubb opened #1777 "RabbitMQ connector throws backpressure errors if queue is not declared during first connect attempt"
If using the RabbitMQ connector with a non-declared queue, and the queue is not declared when the connector attempts to connect, the connector fails and will then continue to try and reconnect as configured.

If you then externally define the queue and wait for the connector to eventually reconnect, the connector appears ready to receive messages.

Finally, after the connector appears connected an

[2022-06-23 19:02] kdubb commented on #1777
A log of the startup of the an example Quarkus application that uses the `StartupEvent` to declare the required exchanges and queues (as might be done in complex configurations). You can see at the end the connector(s) eventually connect properly with the late declared exchanges/queues.

<details>

[code]

</details>

After sending some messages you can see it handles some and then throws a `BackP

[2022-06-23 19:08] kdubb commented on #1777
@cescoffier I've successfully tracked down the issue that was causing the hang 🎉

[2022-06-23 19:19] kdubb commented on #1777
Also note that if the exchange is not declared on the first connect attempt but the queue is, this issue is not scene; after reconnect the connector works correctly.

[2022-06-26 08:08] #1777 closed

[2022-06-26 08:08] #1770 closed

[2022-06-27 15:22] cescoffier commented on #1718
It makes sense. The infrastructure is already in place.
Fancy a PR?

[2022-06-28 07:54] ozangunalp opened #1782 "Support Queue type and mode configuration in rabbitmq"
From https://github.com/quarkusio/quarkus/issues/25754

[2022-06-28 14:00] cescoffier opened #1784 "OpenTelemetry support enhancement"
In order to improve the OpenTelemetry tracing support in reactive messaging we need:

1. Introduce an SPI that allows _decorating_ messages emitted by emitters. This SPI would be called on the same thread as the one calling `emitter.send(...)`, and the SPI implementor should be able to extract the current OTel Context and create the `TracingMetadata`. This metadata will be added to the emitted mes

[2022-06-29 01:33] kdubb commented on #1771
This really feels out of scope for an SRRM connector. The Request/Reply system for RabbitMQ is about implementing/emulating RPC.

Could it be made to work? Probably. Should it? My opinion is probably not.

[2022-06-29 03:14] kdubb commented on #1782
I've tried to implement this but I'm stuck up against SmallRye config. As I said in Quarkus#25754 this should be implemented as a freeform set of options. There are lots of options for queues and lots of options for exchanges. Not to mention RabbitMQ plugins can add more options to each.

Unfortunately after I implemented this trying to use a `java.util.Map` as the `type` for `ConnectionAttribute`

[2022-07-03 10:29] mrickly opened #1794 "Incoming method with Blocking and WithSpan annotations"
When using an `@Incoming` method annotated with `@Blocking` and `@WithSpan`, the `Span.current()` is the `Span.getInvalid()` inside the method body. The expectation is that the `Span.current()` should be a valid span inside the method body because of the `@WithSpan` annotation.

Observations:
1. Removing the `@Blocking` annotations "solves" the problem, because in that case the entirety of the cod

[2022-07-03 10:30] mrickly commented on #1794
@radcortez : Issue with reproducer, cf.: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Quarkus.20and.20OpenTelemetry/near/288232875

[2022-07-04 15:04] iurybakov opened #1795 "Calling the io.smallrye.reactive.messaging.kafka.KafkaConsumer#pause doesn't suspend the consumer"
Description.
Using the public API **io.smallrye.reactive.messaging.kafka.KafkaConsumer#pause**, we are trying to suspend the consumption of the Kafka topic. But as a result of the background work of the subscription class (io.smallrye.reactive.messaging.kafka.impl.KafkaRecordStreamSubscription#pauseResume), there are cases of unexpected resumption of message consumption.

Expected behavior.
Callin

[2022-07-05 14:04] cescoffier commented on #1795
IT's a hard problem, and as documented (I think it is) we cannot use the pause/resume method while having the auto-pause-resume cycles.

[2022-07-06 06:45] ozangunalp commented on #1795
Yes this has been treated in #1592. Basically if one needs to handle pause/resume manually they need to disable `pause-if-no-requests`.

[2022-07-06 06:45] #1795 closed

[2022-07-06 11:38] ozangunalp commented on #1767
@lennartj the original issue you created and the Emitter Factory feature are two different things.

Reactive Messaging works on CDI-managed beans and detects declared channels/emitters in order to create necessary streams on connectors, verify the completeness and link them together. This happens at deployment time, so the application startup. (In Quarkus, it is done at build-time) At runtime, CDI

[2022-07-06 14:16] coiouhkc commented on #1420
It's an interesting feature of ActiveMQ, I couldn't find anything similar for IBM MQ. In our project we ended up creating `Proxy`ies capable of detecting the above mentioned connectivity issue (and a couple more) and recreating the connection.

[2022-07-07 09:36] twinkybot opened #1799 "Cannot get Test going for InMemoryConnector"
Hello

I could not get the InMemmoryConnector Example from the documentation
https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/3.3/testing/testing.html
running.
Did I do something wrong or is the documentation not complete?

Steps to reprodice:
1. Got a new Quarkus Project from
https://smallrye.io/smallrye-reactive-messaging/3.18.0/getting-started/

2. went to
https://sma

[2022-07-07 12:55] ozangunalp commented on #1799
You are right about adding the `smallrye-in-memory` to the test configuration. The switch to in-memory trick won't work for Quarkus tests.

Then you need to inject `InMemoryConnector` using a CDI qualifier,`@Any` should do it as there is only one of that type.

When using the injected connector, you need to get a `source` or `sink` from the in-memory connector for a channel that exists in your app

[2022-07-08 06:08] ylepikhov commented on #1162
@knutwannheden, sorry for delay. You're right. In my case there was message processor with both `@Incoming`  and `@Outgoing`. In this case there will be implicit incoming channel for '@Outgoing'. But it does not work for regular emitters annotated with `@Channel`.

[2022-07-11 09:02] liuzhaozhao opened #1803 ""io.smallrye.reactive.messaging.kafka.KafkaConnector.getConsumer(Channel)",Only one KafkaConsumer instance can be retrieved when partitions are greater than 1"
I want to get all the consumers and close them in the order I want, Some consumers can close them in parallel to avoid waiting too long in serial.

My consumers manage their own consumption points and need to persist the in-memory state to the database when the service is down, so this process cannot be satisfied by `kafkaconnector.terminate(Object)`

It might look something like this:
[code]

[2022-07-11 10:38] ozangunalp commented on #1803
You are absolutely right. We need to make a couple of adjustments on usages, especially on the `KafkaClientService` side.

[2022-07-12 11:09] #1803 closed

[2022-07-12 11:46] bosofelipe opened #1809 "RPC with rabbitmq smallrye"
I´m migrating a spring app to quarkus and one of my feature is create an object using RPC with rabbitmq queue.
In spring  there is one way to do that, calling a convertSendAndReceiveAsType method. There is one way to do that using quarkus smallrye?
Feature in rabbitmq (https://www.rabbitmq.com/tutorials/tutorial-six-java.html)
Spring RPC tutorials similiar that i´m doing (https://www.springcloud.i

[2022-07-13 02:42] liuzhaozhao opened #1811 "Kafka consume stopped without any exception log"
### Problem description
My Kafka consumers will occasionally stop consuming, Consumers are distributed across multiple machine nodes, and each node is configured with multiple consuming threads (partitions>1). Once in a while, one of the machine nodes stops consuming (the other nodes do not stop). And there will be no consumer rebalancing. How can I eliminate this problem.

It happens about a coup

[2022-07-13 03:05] liuzhaozhao commented on #1803
@ozangunalp
I have another question,Is there an optimization to be made here?
![image](https://user-images.githubusercontent.com/10733976/178640833-a91a291d-ed79-4f79-be6f-928d1d4018ca.png)

 Sources and sinks can be loaded in the order of configuration (or the order can be specified by annotation) so that closure can be carried out in the order of configuration when `Kafkaconnector.terminate (Obj

[2022-07-13 04:47] cescoffier commented on #1811
Did you try removing the `@Acknowledgment(Acknowledgment.Strategy.NONE)`. With that strategy, the messages are not backed, which means offsets are not committed. After a while, the application will consider you are facing a poison pill.

Also, producing a `List<Void>` is rather weird.  `Uni<Void>` is probably what you want.

[2022-07-13 06:37] liuzhaozhao commented on #1811
Ok, I will modify and see the effect, thank you

[2022-07-13 08:20] ozangunalp commented on #1811
The returning type `Uni<List<Void>>` is suspicious.

But the problem should not be the acknowledgement strategy. You are using enable.auto.commit=true so that's actually ok to use NONE. I'd be curious to see if you'd have the same behaviour with throttled commit strategy.

Plus if it's weird that you are not seeing any rebalances if the consuming stops.

[2022-07-13 09:09] liuzhaozhao commented on #1811
@cescoffier
I've modified it, but consumer is still stopped and there are no WARN, ERROR logs,Is there any other way to eliminate the problem?

[code]

![image](https://user-images.githubusercontent.com/10733976/178683696-00996151-43ec-4352-9f6a-9d27237d0555.png)

[2022-07-13 09:34] liuzhaozhao commented on #1811
@ozangunalp
There are three nodes in total, and two of them are unconsumed, piling up and not being rebalanced.
I'm going to add `@Timeout(60000)` to the consumption method to confirm if it's blocked in the business code.

![image](https://user-images.githubusercontent.com/10733976/178700740-90daec1a-f5d1-45e0-8337-a36b6f451202.png)
[code]

[2022-07-14 06:28] ozangunalp commented on #1809
Probably @kdubb and @ylepikhov would be interested in this feature as well.

[2022-07-14 07:58] vsevel opened #1814 "allow to customize headers on message moved to DLT"
When using failure strategy "dead-letter-queue", nacked messages are copied into the dead letter topic, with new headers: dead-letter-reason, dead-letter-offset, dead-letter-partition, dead-letter-topic, dead-letter-cause.
Right now those headers are hard coded into `KafkaDeadLetterQueue`.
Error headers are an important aspect of the ability for the ops teams to work on rules of auto-remediation,

[2022-07-14 09:17] HknLof opened #1815 "Typo in Concepts.md"
Hi Team,

I think the documentation wants to state

_2. Send message to a remote broker (outbound)_

it actually states

Spotted a second one see Ref 2
Refs:

1. https://github.com/smallrye/smallrye-reactive-messaging/blob/main/documentation/src/main/docs/concepts/connectors.md?plain=1#L25
2. https://github.com/smallrye/smallrye-reactive-messaging/blob/main/CONTRIBUTING.md?plain=1#L9

[2022-07-15 02:24] liuzhaozhao commented on #1811
`.onFailure().invoke(t -> LIMIT_EXCEPTION.tryAcquire(() -> log.warn("Deal Exception", t)))` This code does not block and is internally implemented to do no internal log printing if the limit is exceeded.

The problem does not recur after increasing `@Timeout(60000)`, and needs to be observed for several days
[code]

[2022-07-17 06:52] cescoffier commented on #1815
Fancy a PR?

[2022-07-17 17:10] cescoffier opened #1818 "Add dead letter queue topic to the kafka health topic verification strategy"
_Copied from https://github.com/quarkusio/quarkus/issues/26111._

## Description
smallrye-health automatically detects incoming and outgoing topics as well as their health status and the possibility to verify if the topic exists on the broker.
Unfortunately, this functionality does not yet exist for dead-letter-queues.
It would be convenient if there was also a detection for the dead-letter-queues

[2022-07-19 11:08] HknLof commented on #1815
Yepp, If you allow me to contribute / push a branch, than I can open the PR :)

[2022-07-19 11:18] cescoffier commented on #1815
Yes, sure, just fork the repo and create a pull request.

[2022-07-19 13:43] #1815 closed

[2022-07-20 11:01] JoranBergfeld opened #1821 "Bootstrap servers parsing fails"
**Description**
When providing a `kafka.bootstrap.servers` property wrapped in quotation marks, parsing fails with an error message stating the bootstrap server is invalid. I'm very aware that this is a small quality of life change, but it would be great that either way, you do not encounter this issue.

**Environment**

Java:
[code]
Quarkus BOM: 2.10.3.Final

**Example**

[code]
Fails with parsin

[2022-07-20 11:08] cescoffier commented on #1821
I suppose we could remove the first and last `"`. @ozangunalp WDYT?

[2022-07-20 11:17] ozangunalp commented on #1821
I wonder if smallrye config provides an interceptor for stripping `"` from values.

[2022-07-20 15:50] ylepikhov commented on #1162
Was able to implement such feature with custom emitters.
First, I've implemented an annotation to have a way to specify target class (to convert to).
[code]

For example, to make `SOAPMessage` be converted to `String` for `smallrye-ampq` connector you must
have this:

[code]

Actual conversion will be made by regular `MessageConverter` which can convert `Message<SOAPMessage>` to `String` (I've imp

[2022-07-21 07:20] JoranBergfeld commented on #1821
Failure isn't a big deal, in all honesty. It just causes some confusion, as the bootstrap URL is correct. However, the quotation marks indeed interfere with the class `org.apache.kafka.clients.ClientUtils`, so it's the Kafka layer. I'd probably expect us to sanitise the string before passing it to the Kafka layer. It would improve developer experience a small bit, in my view.

[2022-07-21 07:25] cescoffier commented on #1821
The bootstrap servers should not be wrapped in quotes (Kafka rejects it). I believe we should sanitize on our side as the "key" of the bootstrap server can be the global one, the channel one, or the connector one. The channel one is unknown for MP Config.

[2022-07-21 11:34] ozangunalp commented on #1821
Isn't this the case for every config property? For exemple if you pass `value.serializer="org.apache.kafka.common.serialization.StringSerializer"` config you'd get a ClassNotFoundException.

[2022-07-21 17:27] radcortez commented on #1821
An alternative could be to use a `@ConfigMapping` class and add specific converters to each property.

[2022-07-26 21:22] jbkc85 opened #1828 "Kafka Messaging presenting weird issue with ACKs and updating offsets"
I do apologize, as this could be something completely outside of the realm of this project, however I am bashing my head against the code and wondering what is going on - so I wanted to reach out to see if this community could provide me with any insight.

We are currently using Quarkus and smallrye-reactive-messaging with Kafka.  The pseudocode of our project looks similar to this (please note, w

[2022-07-27 11:20] liuzhaozhao commented on #1811
My business code is running for a long time

[2022-07-29 17:45] neeleym opened #1831 "Unable to establish JMS Connection Factory context with smallrye-jms"
I am attempting to use smallrye-jms to send Kogito ProcessEvents to an ActiveMQ JMS topic. I am following the smallrye-jms documentation found here:
[https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/3.4/jms/jms.html]

I understand that the smallrye-jms connector needs a ConnectionFactory either named as a property or exposed via CDI. I am using the same example as shown

[2022-07-29 19:20] jbkc85 commented on #1828
Some additional notes:

It appears that if we change the `commit-strategy` to `latest`, the offsets change as expected.  However, we are using the smallrye-messaging version that `throttled` is the default strategy - yet we never saw offsets increase after the `5000ms` timing.  Am I not understanding how `throttled` commit strategy works?  Is there something tied into the flex match bytes or max p

[2022-08-04 07:52] ozangunalp commented on #1782
@kdubb I am sorry, your comment went totally under my radar.
IIRC it is not currently possible to use map as a connector attribute.
It is possible to extract free-form config from the channel configuration, we are doing this in the Kafka connector.
We can pass config prefixed with `queue` to queue declare and build on what @cdmikechen did on #1836.
I can give it a shot tomorrow.

[2022-08-06 13:28] liuzhaozhao commented on #1811
@cescoffier The problem is still there, in order to make sure it is not a business code problem, I added the `@incoming ("xxx-in")` consume method Incoming quantity and outgoing (Uni) quantity. When some partition consume stops, the Incoming quantity of this part of partition is the same as the outgoing quantity, so the consume stop location is not blocked in the business code.

Before that, I tri

[2022-08-06 13:38] liuzhaozhao commented on #1811
I like the coding method of `smallrye-reactive-messaging` very much. Compared with using kafka api code, it is very concise, and it can achieve coding experience independent of mq server. If the team changes MQ coding method, it will generate more extra coding workload, so I very much hope that this problem can be solved.

[2022-08-08 10:46] Nidum opened #1839 "Kafka Companion design makes tests dependent on each other"
Current approach to Kafka Companion does not provide out of the box solution for running independent test cases on same Companion instance within same topic.

Imagine, that you write multiple test cases within one test class, each requiring an independent data set for particular topic put into Kafka.
You run your first test case, all fine, it passes, as Companion holds only this cases' data set.
T

[2022-08-09 15:34] leoee opened #1841 "rabbitmq-reconnect-interval"
Hi,

According to the [documentation](https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/3.11/rabbitmq/rabbitmq.html), the values for rabbitmq-reconnect-interval is seconds. During some uses, I realized the time is actually in milliseconds.

[2022-08-09 18:39] leoee opened #1842 "Connection refused for rabbitmq cluster"
Hi,

I am using Smallrye for rabbitmq in a service that is a consumer.

Every time I restart the service I got some issues related to the rabbitmq connection.

2022-08-09 17:49:21,009 ERROR [io.ver.rab.imp.RabbitMQClientImpl] (executor-thread-0) Could not connect to rabbitmq: java.net.ConnectException: Connection refused

It seems this is trying to connect too early, because I received the error 3

[2022-08-10 03:52] liuzhaozhao commented on #1811
@cescoffier @ozangunalp
Analysis of `jmap -dump` and `smallrye-reactive-messaging-kafka:3.13.0` shows that the resume condition is never met.

![image](https://user-images.githubusercontent.com/10733976/183808910-ac21c80d-2daa-41a2-b789-ce77254ec96d.png)
![image](https://user-images.githubusercontent.com/10733976/183808966-36f5eb28-b354-440c-997e-1facd16f2bd1.png)

[2022-08-12 08:31] liuzhaozhao commented on #1811
![image](https://user-images.githubusercontent.com/10733976/184316279-bdb4c051-8108-44b1-8ab9-93348c288676.png)

[2022-08-13 08:08] lostiniceland opened #1848 "Kafka - NPE with CloudEvents enabled and a null header value"
When consuming a Kafka record with CloudEvents enabled the current implementation in the KafkaCloudEventHelper breaks when a header with no value is present.

The problematic code is:
[code]
`new String(null, UTF-8)` causes the problem.

[2022-08-13 08:12] lostiniceland commented on #1848
The question is, what should be put in the headers map for further processing. Should this loop skip null values or just put null in the map?

[2022-08-13 09:12] lostiniceland commented on #1848
I will prepare a PR which skips null headers, but I also wonder if mapping all headers (including non-CloudEvent ones) to a UTF-8 String: the Kafka-client exposes the header values as byte[], so i would be totally fine to place binary content in a header...which will break this helper implementation again.

[2022-08-17 18:57] victorgawk opened #1854 "Documentation error in Kafka DLQ metadata example"
I was trying to reproduce this code example from documentation [documentation/src/main/java/kafka/inbound/KafkaDeadLetterExample.java](https://github.com/smallrye/smallrye-reactive-messaging/blob/main/documentation/src/main/java/kafka/inbound/KafkaDeadLetterExample.java)
but I found out it has a bug. It must call `.build()` after `.withHeaders(...)` to return a `OutgoingKafkaRecordMetadata` object

[2022-08-17 19:12] cescoffier commented on #1854
Thanks! I will update the documentation.

[2022-08-18 09:11] #1848 closed

[2022-08-18 14:34] #1854 closed

[2022-08-24 15:07] ozangunalp commented on #1839
@Nidum thanks for reporting this!
I tried to answer this issue in https://github.com/smallrye/smallrye-reactive-messaging/discussions/1852#discussioncomment-3466705

[2022-08-28 08:41] cescoffier commented on #1831
There is probably a version mismatch. Not that the smallrye JMS connector is not supported in Quarkus (and totally untested in this context).

[2022-08-29 07:44] indiealexh opened #1857 "MQTT get value of Wildcard topic"
Is there a way to get the topic a message is received from when subscribing to a wildcard topic?

e.g. When subscribed to `devices/#` on the incoming can I get the full topic string `devices/00:00:00:00:00:00`

[2022-08-29 07:46] cescoffier commented on #1857
not very elegant (MQTT does not have metadata support yet), but you need to receive a `ReceivingMqttMessage`. Be aware it's a `Message` and not a payload anymore.

[2022-08-29 07:46] #1857 closed

[2022-08-29 09:59] JapuDCret opened #1858 "NPE when incoming (kafka) Header.value() is null"
### Description

NPE occurs, when a Header-value is null.
![image](https://user-images.githubusercontent.com/14893450/187174919-18d97013-f0bc-46c4-a44e-96d256aad198.png)
(sorry I currently have nothing better than a screenshot..)

The result was, that the listener unsubscribed from the topic.

### How to reproduce

Currently I don't know how to reproduce the issue, but I guess it related to a mang

[2022-08-29 15:02] indiealexh commented on #1857
Thank you for the quick response!

[2022-09-05 06:14] cdmikechen opened #1868 "MQTT should support shared subscription feature"
Based on the new shared subscription feature of MQTT, we should also need to support this attribute in the topic, as the current topic processing filters out topic data with a `$share/GROUP/TOPIC_NAME` prefix.
After my testing, vertx is now able to get messages prefixed with `$share/GROUP`.

Link:
https://www.emqx.com/en/blog/introduction-to-mqtt5-protocol-shared-subscription
https://www.hivemq.co

[2022-09-05 07:16] #1858 closed

[2022-09-05 18:38] #1868 closed

[2022-09-05 22:40] aolle opened #1873 "AmqpClientHelper behavior when using a producer AmqpClientOptions bean"
Hello,

the changes introduced in:
#1504

the AMQP configuration behavior is weird and inconsistent.

When you have a bean that produces the `AmqpClientOptions`, all values that have a _defaultValue_ declared in the `AmqpConnector` class are never used from the custom bean configuration; the default `AmqpClientOptions` are used instead.

It can be checked, for example, setting up the following bea

[2022-09-06 06:14] cescoffier commented on #1873
@kabir you did change something in this code recently.
I agree with the content of the issue. For me, the bean values should have priority. Do you agree?

[2022-09-06 07:26] kabir commented on #1873
@cescoffier the only changes I made in this area (at least that I can remember) are in the unmerged https://github.com/smallrye/smallrye-reactive-messaging/pull/1741 (which will need redoing after Julien's changes in vert.x)

[2022-09-06 07:54] cescoffier commented on #1873
ah, sorry @kabir, my memory is failing me. I will open a PR

[2022-09-07 10:19] cescoffier commented on #1873
@aolle not totally the solution you mentioned, but can you look at https://github.com/smallrye/smallrye-reactive-messaging/pull/1874?

[2022-09-07 21:45] aolle commented on #1873
@cescoffier I have been testing the fix and it works as expected!

[2022-09-08 07:17] cescoffier commented on #1873
Thanks @aolle. Closing this issue!

[2022-09-08 07:17] #1873 closed

[2022-09-13 06:42] liangyuanpeng commented on #918
FYI,   pulsar community begin working for A pulsar client of reactive https://github.com/apache/pulsar-client-reactive

[2022-09-13 08:10] ewelling opened #1888 "0 In our Quarkus based microservices using Smallrye Kafka for event streaming, we have implemented tracing using OpenTracing. Now, we're trying to propagate the tracing context between these services using io.smallrye.reactive.messaging.ce.OutgoingCloudEventMetadataBuilder"
In our Quarkus based microservices using Smallrye Kafka for event streaming, we have implemented tracing using OpenTracing. Now, we're trying to propagate the tracing context between these services using io.smallrye.reactive.messaging.ce.OutgoingCloudEventMetadataBuilder:

public class CloudEventBuilder<T> {

  private static final String DATA_CONTENT_TYPE = "application/json";
  private TracingMe

[2022-09-18 16:06] cescoffier commented on #918
We won't use a client using Reactor. The model is quite different from what we want here. This will just create complexity and confusion.

[2022-09-20 17:05] derari opened #1906 "RabbitMQ - BackPressureFailure: Buffer full"
I am regulary getting BackPressureFailures from my RabbitMQ consumer in my Quarkus (2.12.2-Final, Java 17) application.

[code]

The weird thing is that I have configured max-outstanding-messages, so in my understanding it should be impossible to get this error.

[code]

Here's the code that handles messages. consume contains a catch-all statement.

[code]

Any ideas how to approach this?

[2022-09-20 20:40] fikrum opened #1907 "Configuring reactive messaging in Quarkus for custom third party serializer using uppercase properties"
## Description
Having an issue integrating Quarkus reactive messaging with third party serializer.

I use `io.quarkus:quarkus-smallrye-reactive-messaging-kafka:2.9.1.Final`  and a property defined as  `mp.messaging.outgoing.transfer-event-outbound.SOME_VALUE_SERIALIZER=<third party serializer class>`

Notice the key is upper case separated by "_" (`SOME_VALUE_SERIALIZER`) . The third party seriali

[2022-09-23 04:50] cescoffier commented on #1907
It should be possible. However, it's kind of weird that the serde does not follow the kafka convention. In addition, it makes configuration from env variable a bit ambiguous.

In the meantime you can reward the serde and pass the configuration as expected.

[2022-09-23 04:52] cescoffier commented on #1907
Actually, the proposal may be problematic for some kafka properties when coming from env variables. It would need to be checked carefully.

[2022-09-23 04:53] cescoffier commented on #1907
BTW, what's the serde doing that? It might be better to follow the convention.

[2022-09-23 05:10] cescoffier commented on #1907
The proposed approach won't work as it will break configuration from env variables (coming from Quarkus/Smallrye config).

As proposed above, there are two approaches:

- fix the serde
- rewrap it and change the configuration to pass the expected format

[2022-09-23 08:11] antoinechamot commented on #1809
No news on this ? I would also use it with quarkus microservices

[2022-09-25 07:42] cescoffier commented on #1907
Closing as won't fix, please check the workarounds.

[2022-09-25 07:42] #1907 closed

[2022-09-26 08:01] cristianonicolai opened #1911 "PublisherDecorator package breakage"
Changes to PublisherDecorator ( moving package and new parameter to decorate method ) ends up creating incompatible change in Koogito to align with Quarkus 2.7 and Quarkus main version, where reactive messaging is upgraded to 3.19.1.

See Kogito class https://github.com/kiegroup/kogito-runtimes/blob/main/quarkus/addons/messaging/common/src/main/java/org/kie/kogito/addon/quarkus/messaging/common/Ba

[2022-09-26 08:02] cristianonicolai commented on #1911
@ozangunalp @cescoffier could you take a look on this?

[2022-09-26 08:03] fjtirado commented on #1911
If you can keep publisherDecorator in package io.smallrye.reactive.messaging.providers rather than moving it to io.smallrye.reactive.messaging, that will do it.

[2022-09-26 08:05] cristianonicolai commented on #1911
plus, overloading the decorate method so it has the new and old signature.

[2022-09-26 08:05] fjtirado commented on #1911
@cristianonicolai is right, I miss the new boolean parameter

[2022-09-26 08:57] ozangunalp commented on #1911
That's unfortunate, the `PublisherDecorator` interface wasn't part of the public API before, as is the case for the `provider` module. I think you added the usage while we were moving this to the public API.

[2022-09-26 09:05] ozangunalp commented on #1911
We'll restore the `PublisherDecorator` in the providers package and we should release the fix asap.

[2022-09-26 09:17] cristianonicolai commented on #1911
@ozangunalp thanks for that

[2022-09-26 10:46] #1911 closed

[2022-09-26 17:58] javadevmtl opened #1913 "Feature request for DLQ strategy."
As per my conversation with @cescoffier here: https://quarkusio.zulipchat.com/#narrow/stream/294206-smallrye/topic/Suggestion.20for.20DLQ.20strategy.2E/near/300863081

Currently when a message is DLQ, the headers contain the following info as an example:
[code]

When creating consumers to read the dead letter topic and you want to create some sort of processing logic, you need to compare string me

[2022-09-30 18:58] nloke opened #1921 "Quarkus Smallrye reactive messaging stops receiving incoming message on exception"
Based on the documentation failure-strategy= ignore is as below
(ignore: the failure is logged, but the processing continue. The offset of the record that has not been processed correctly is committed.)

I have configured
[code]

I have a test code as below.
[code]

This yields:
[code]

The problem is when this happened, subsequent messages sent to the queue are no longer being processed until I r

[2022-09-30 19:05] nloke commented on #1921
To add to the question above, I also notice every time I restart, it keeps trying to reprocess the message in the queue even though it is already been nack-ed. I was expected nacked will commit? So now I can never move on whenever any exception happens to the system.

[2022-10-01 11:11] ozangunalp commented on #1921
Ignore failure strategy simply calls the ack when a message is nacked, so the configured commit strategy will be applied.

Message `ack` and `nack` are async operations, if there is no subscription it'll possibly never get executed.
I think what you are missing is to return back to the stream the `CompletionStage` returned from the `nack`, as such:
[code]

And remember you may not need to handle `

[2022-10-03 06:08] cescoffier commented on #1921
Closing as invalid.

[2022-10-03 06:08] #1921 closed

[2022-10-03 09:40] samodadela opened #1925 "RabbitMQ Reactive Messaging, can't ack messages manually"
### Describe the bug

It seems that whatever I do, messages get always acknowledged automatically. How can I ack a message manually?

Code:
[code]

[code]
Calling:
[code]

Produces the output:
[code]

### Expected behavior

I'd expect the following output (the ack message only after the message has been acked):

[code]

### Actual behavior

The 'message is acknowledged' block gets called before th

[2022-10-03 12:54] #1925 closed

[2022-10-03 14:00] nloke commented on #1921
thanks @ozangunalp . that explanation helps.

[2022-10-03 16:13] ozangunalp commented on #1811
I think this is fixed by #1895

[2022-10-03 16:13] #1811 closed

[2022-10-06 08:37] dometec opened #1935 "MQTT, Reconnection and CleanSession=false"
Using CleanSession=false, If there is a reconnection for some network reason, the client does not receive any more messages.

If the client reconnects to the server and its response contains the flag Session Present = 0, the client does not send the subscribe request (ok, the subscription must be present on the broker side), but the client code is not notified when the broker sends a publish. This

[2022-10-06 09:13] #1913 closed

[2022-10-06 11:02] jonsalvas opened #1936 "[rabbitmq] dynamic queues"
First of all: Thanks for the awesome support for rabbitmq reactive messaging!!

We are currently setting it up for our project and facing one issue while trying to configure producer/consumer. What we are trying to achieve is to have one outgoing channel publishing messages for a certain dynamic routing-key (let's say k1,k2,k3, ...) and one incoming channel consuming messages. For each routing key

[2022-10-06 13:10] jonsalvas opened #1938 "Multiple @Incomings with RabbitMQ Connector causing "Bean is null""
When using multiple @Incoming annotations over a rabbitmq consumer like this:

[code]

with the following config:
[code]

I receive the following error, when starting the quarkus app:

[code]

[2022-10-07 09:35] dometec opened #1939 "MQTT and CleanSession=false and Unsubscribe on shutdown"
Using MQTT and "auto-clean-session=false" means that I want leave a session with my subscription live on the broker even when my application is down.
On reconnection phase, if the session is present on the broker side, the application does not send subscription requests (given that these should already be present on the broker).

The problem is that when the application is shut down, this sends UN

[2022-10-10 07:13] #1935 closed

[2022-10-11 08:35] cescoffier commented on #1695
Yes.

On Mon 20 Jun 2022 at 21:59, Mazen Khalil ***@***.***> wrote:

[2022-10-12 09:25] cdmikechen opened #1945 "MQTT should add overflow strategy to avoid overflow buffer full"
The only overflow strategy currently used by MQTT is `buffer`.

https://github.com/smallrye/smallrye-reactive-messaging/blob/9120745c0fee96b0e67682f08aa36a8b017f7b79/smallrye-reactive-messaging-mqtt/src/main/java/io/smallrye/reactive/messaging/mqtt/MqttSource.java#L52-L59

I found a problem during the actual deployment of an instance for MQTT sync to timescaledb:
When the downstream is blocked, th

[2022-10-14 10:37] hjklapp opened #1947 "Test ConnectorConfigTest.testPropertyNames fails"
When running the test suite eg by invoking

[code]

the test `ConnectorConfigTest.testPropertyNames` fails on the current main branch.

Test failure:

[code]

[2022-10-21 06:44] dometec commented on #1945
Hi @cdmikechen, I think that the default strategy must depend on QoS. In QoS 0, loss of messages is allowed so the default should be *drop*, in other cases *buffer* is the way to go.

[2022-10-25 00:30] cdmikechen commented on #1945
@dometec Thank you for your advice~
I think this design should make more sense, but it can be confusing for some beginners if some data is lost when using
I'm not very proficient in using mutiny yet, and I think the ideal situation might be to use `drop` when the `buffer` is full, rather than just exceptioning when the `buffer` is full. Do you know if there is a similar way to do this?

[2022-10-25 07:59] cescoffier commented on #1947
Weird, I don't have the issue. Which OS are you using?

[2022-10-25 07:59] cescoffier commented on #1947
@ozangunalp can you try on your machine?

[2022-10-25 08:00] cescoffier commented on #1939
Fixed by https://github.com/smallrye/smallrye-reactive-messaging/pull/1940.

[2022-10-25 08:00] #1939 closed

[2022-10-25 08:01] cescoffier commented on #1938
ping @ozangunalp ?

[2022-10-25 08:44] ozangunalp commented on #1947
I cannot reproduce this one. This never failed on Github Actions. Maybe on a windows machine?

[2022-10-25 12:22] samodadela commented on #1906
Was there any progress with this? I'm also seeing the same error... only restarting the app helps.

[2022-10-25 12:45] dometec commented on #1945
The documentation about MQTT and QoS is very clear, in QoS 0 you can lose messages. I think that a WARN log where the buffer is full and the messages ad being dropped is enough.
For the implementation, let me do some tests and then I'll tell you (I am seeing another possible problem with QoS 1)

[2022-10-25 18:22] hjklapp commented on #1947
It did fail in the Java 11 check of my PR #1964.

And it failed in my windows machine.

[2022-10-26 08:44] ozangunalp commented on #1938
@jonsalvas I cannot reproduce this easily. Would you have a reproducer project?

[2022-10-26 19:04] scrocquesel opened #1957 "RabbitMQ fault handler to send a new message to a given exchange"
When an exception occurs, I would like to delayed the retry attempt at rabbitmq side. AFAIK, this can be done in two different ways.
1. Set the DLQ on the main queue to a 'delayed' queue with a fixed TTL, and set the DLQ of the 'delayed' queue to the main queue. If the message is nack, it will go to the delayed queue and will return back to main queue after TTL Period. When retries attempts are ex

[2022-10-26 20:36] #1957 closed

[2022-10-27 14:12] privetpoka commented on #1811
@ozangunalp hi. I've upgraded quarkus to 2.13.3.Final which has smallrye-reactive-messaging-kafka-3.21.0.jar
But I still am having this issue.

[2022-10-28 14:45] ozangunalp commented on #1811
hi @privetpoka, we've just resolved another fix for this type of problem in #1956. It'll be included in 3.22.0. You can check it yourself, or If you'd have a reproducer I'd be glad to investigate it.

[2022-11-02 17:15] ozangunalp commented on #1945
@dometec @cdmikechen AFAIU QoS > 0 support for PUBACK/PUBREC needs changes in the Vert.x MQTT client.
I am thinking we don't need to rollback #1948 before 3.22 release, WDYT?

[2022-11-03 03:02] Patanouk opened #1966 "RabbitMQ - message stays in unacked at application startup if we use an emitter in an @Incoming annotated method"
Hello!
We've been using Quarkus and smallrye for a while now, and recently ran into a strange issue

We have the code pasted below, which is used to receive messages from RabbitMQ, do some processing, and send back messages to RabbitMQ
The code in the real use case is a bit more convoluted, so we cannot easily replace the `Emitter` with an `@Outgoing` annotation, most notably because `@Outgoing` m

[2022-11-03 09:18] grudid opened #1967 "Exception when using constructor injection instead of field injection"
Hello,

i'm using version 4.0.0 of SmallRye Reactive Messaging with Kafka. I'm getting an IllegalArgumentException "object is not an instance of declaring class" when using constructor injection in my bean. If i use field injection the bean works as expected.
Is this a restriction of SmallRye Reactive Messaging or am i doing something wrong here?

Example code:

[code]

The stack trace looks as fo

[2022-11-03 18:46] mrickly opened #1968 "A message generated from a kafka record with null value (tombstone) should not have a null payload"
Many methods from the Message class require a non-null payload, otherwise an IllegalArgumentException is thrown. When a kafka record with a null value (tombstone) is read from a topic, it will be transformed to a message with a null payload, creating various problems. For instance, transforming the message by decorating the ack and nack functions (message decorator/interceptor) is not possible for

[2022-11-03 18:59] scrocquesel opened #1969 "Decorators should have access to connector config"
I would like to configure a decorator per connector.
When `isConnector` is `true`, would it be possible to pass a `ConnectorConfig` instance of the given connector to the decorate method or be able to retrieve one (constructor is protected) ?

[2022-11-04 13:34] mederel opened #1970 "microprofile-metrics-api is not an optional dependency of reactive-messaging-kafka"
Hi,

while using microprofile metrics API and the smallry-metrics package, the latest changes in [smallrye-reactive-messaging-kafka/pom.xml](https://github.com/smallrye/smallrye-reactive-messaging/blob/main/smallrye-reactive-messaging-kafka/pom.xml#L64) to add [microprofile-metrics-api as a dependency](https://github.com/smallrye/smallrye-reactive-messaging/commit/88f95edb9487a87921828d36bfe8095da

[2022-11-07 05:05] MarcAntoine-Beauvais commented on #1158
Any update or workaround found to integrate nats?
I'm looking to integrate nats messaging into a quarkus project.

[2022-11-07 07:14] cescoffier commented on #1158
No news yet; looking for a contributor that knows NATS enough to build a connector. We can help with the integration, but NATS is in uncharted territory for me.

[2022-11-07 08:22] cescoffier commented on #1968
I don't understand why `null` is inappropriate in this case.
A Kafka record can have `null` as a value.

[2022-11-07 08:24] cescoffier commented on #1967
Can you provide the CDI implementation and the version of SmallRye Reactive Messaging?

Looks very outdated from the stack trace.

[2022-11-07 08:25] cescoffier commented on #1967
Seeing the Local metadata support, so not so outdated.

[2022-11-07 09:01] mrickly commented on #1968
@cescoffier : My concrete use case is that I'm modifying messages from an incoming kafka connector in a `PublisherDecorator`. When the value is null, they are mapped by Quarkus to messages with a null payload. Hence, e.g., a call like `message.withAck` will fail. Therefore, before any such call, I have to test whether the payload is null and, if it is, set a non-null payload, `Record.of(key, null)

[2022-11-07 09:01] ozangunalp commented on #1968
I think @mrickly is talking about the `Message` which doesn't accept `null` as payload.

[2022-11-07 09:04] ozangunalp commented on #1968
I think having `Message` payload `Record.of(key, null)` when the kafka record payload is `null` would be very inconsistent. Isn't it more natural to handle the null case as you are doing now?

[2022-11-07 09:07] mrickly commented on #1968
Hi @ozangunalp: It's fine with me. I wasn't sure whether you were aware of it and wanted to attract your attention to this use case.

[2022-11-07 09:26] #1970 closed

[2022-11-07 11:28] dometec commented on #1945
Hi @ozangunalp, I'm preparing a PR to VertX Mqtt Client to manage QoS 1 and 2 ACK so will be possible to manage the message flow.

For this PR, sorry, I think that is useless (I think also is wrong also the direction = INCOMING_AND_OUTGOING, which should be only INCOMING).

For QoS = 0 --> default is to drop the message if the buffer is full (a WARN log might be useful). Maybe it could be useful t

[2022-11-07 13:23] ozangunalp commented on #1945
Perfect! Thanks for the summary, I'll prepare a PR for the revert.

[2022-11-07 14:39] ozangunalp commented on #1967
My trials of setting up an OpenLiberty app using Smallrye Reactive Messaging have been unsuccessful. If you have a reproducer app I can take a look. Otherwise, we should address the question to the OpenLiberty team.

[2022-11-08 07:54] cescoffier commented on #1968
this is because you are at the junction of two words:

- kafka tombstones have null value - lots of kafka apps uses this
- reactive streams do not support null values - per spec

So, basically, you need to rewrap the tombstone into your own _Tombstone_ object.
Not that tombstones do not make a lot of sense if you don't have the key. So... I would have expected the Message payload to be a record in

[2022-11-08 07:57] cescoffier commented on #1967
As @ozangunalp said, please provide a reproducer. However, it would be best if you ping the OpenLiberty team. Object creation uses the CDI container. The returned "proxy" (because most of the time it's a proxy) should implement the class and so provides the same methods.

Maybe try to use `@Singleton` instead of `@ApplicationScoped`.

[2022-11-08 07:58] #1947 closed

[2022-11-08 17:59] #466 closed

[2022-11-09 14:34] ozangunalp commented on #1141
Initial implementation by #1856, to improve if in need

[2022-11-09 14:34] #1141 closed

[2022-11-09 14:37] ozangunalp commented on #1162
An implementation is provided by #1856 : http://smallrye.io/smallrye-reactive-messaging/3.22.0/concepts/decorators/#intercepting-outgoing-messages

[2022-11-09 14:37] #1162 closed

[2022-11-09 14:42] ozangunalp commented on #1839
Closing this, #1822 and #1961 provide improvements to the Companion API.

[2022-11-09 14:42] #1839 closed

[2022-11-09 14:44] ozangunalp commented on #1641
Fixed in #1949

[2022-11-09 14:44] #1641 closed

[2022-11-09 14:54] #501 closed

[2022-11-10 09:59] cescoffier commented on #1695
Followed up by https://github.com/quarkusio/quarkus-upstream-roadmap/issues/14.

[code]

[2022-11-11 10:25] grudid commented on #1967
Thanks for the quick reply and sorry for my late answer. I have been quite busy the last few days.
I pushed a working example at [GitHub](https://github.com/grudid/jee-reactive-messaging-sample). I hope this sheds some light on the situation.

@cescoffier Thanks for the hint about using `@Singleton`. I tried it out and it seems to work fine. But [Weld Documentation chapter 5.4](https://docs.jboss.

[2022-11-11 15:28] ozangunalp commented on #1967
@grudid thanks for the reproducer, I can indeed run and reproduce the issue.

It has to do with how managed bean proxies are handled by the container. By the CDI spec you need a no args constructor for your proxied managed bean (e.g `@ApplicationScoped`) – when you declare a constructor injection you need to create a no args constructor explicitly. Weld seems to relax this requirement : https://do

[2022-11-11 15:32] gpor0 opened #1978 "RabbitMQ - Use of Transactional on @Incoming and @Outgoing"
Hi,

I went through the documentation but I cannot find anything related to the JTA. I would like to know if is it possible to create transaction towards RabbitMQ in order to make atomic transaction over the RabbitMQ consume / publish operations meaning consumed and published message will be atomic operation on the RabbitMQ?

[2022-11-11 16:02] cescoffier commented on #1967
Ah yes, Quarkus automatically adds such a constructor.

[2022-11-13 15:05] cescoffier opened #1983 "Add support for request/reply"
Using a specific emitter type it should be possible to implement the request/reply interaction scheme for connectors supporting it (RabbitMQ, AMQP 1.0).

[2022-11-13 15:05] cescoffier commented on #918
@ozangunalp is going to have a look.

[2022-11-13 15:07] cescoffier commented on #1571
Might be a good candidate for the jakarta version of RM (integrated into Quarkus 3).

[2022-11-13 15:17] #1968 closed

[2022-11-13 16:16] cescoffier commented on #1978
JTA is not supported (as it requires a synchronous blocking model).

[2022-11-13 16:17] cescoffier commented on #1809
Relates to #1983

[2022-11-13 16:17] cescoffier commented on #1771
Relates to https://github.com/smallrye/smallrye-reactive-messaging/issues/1983

[2022-11-13 16:19] cescoffier commented on #917
The pub/sub connector is no more maintained. Closing as won't fix.

[2022-11-13 16:19] #917 closed

[2022-11-13 16:42] gpor0 commented on #1978
It looks like annotating the method with @Transactional enables the blocking behavior but this does not take transactions into account.

[2022-11-15 16:19] grudid commented on #1967
Hi, thanks for the clarification. I didn't knew about that fact in CDI.

[2022-11-15 16:19] #1967 closed

[2022-11-22 02:04] kdubb commented on #1936
SRRM wires all the @Incoming and @Outgoing at startup (possibly partially at build time). It doesn't support dynamically adjusting the configuration at runtime.

[2022-11-29 14:22] HasseNasse commented on #917
@cescoffier Is there any alternative connector for those still wanting to use GCP pubsub? Or are there no plans to support pubsub further down the line?

[2022-11-29 15:07] loicmathieu commented on #917
@HasseNasse On Quarkus, there is PubSub support thanks to this extension: https://quarkiverse.github.io/quarkiverse-docs/quarkus-google-cloud-services/main/

@meltsufin maybe your team may be able to help contributing reactive messaging support for PubSub.

[2022-11-29 15:12] dometec commented on #750
The linked repository does not exist...

[2022-11-29 18:16] HasseNasse commented on #917
@cescoffier what would the necessary procedure be to start contributing with a pubsub connector? I can see that we already have something started here: [smallrye-reactive-messaging-gcp-pubsub](https://github.com/smallrye/smallrye-reactive-messaging/tree/main/smallrye-reactive-messaging-gcp-pubsub)?