[2020-09-22 14:46] #769 closed

[2020-09-22 15:04] cescoffier commented on #768
Unfortunately, the default topic is the channel name. So it means that I can't distinguish this case.
However, I can add a specific attribute to disable the readiness health check. Would it be ok?

[2020-09-22 15:48] cescoffier commented on #768
@andreas-eberle I've opened the following PR #771.

[2020-09-23 12:10] andreas-eberle commented on #768
Yes, that is fine for me.

[2020-09-23 12:11] andreas-eberle commented on #768
Just to be sure, the connection health check will still be enabled, correct?

[2020-09-23 14:10] cescoffier commented on #768
Yes, only the readiness will be disabled (per channel).

Le mer. 23 sept. 2020 à 14:12, Andreas Eberle <notifications@github.com> a
écrit :

[2020-09-24 06:14] cescoffier commented on #768
I will revisit a bit the PR, and basically it's #771.

[2020-09-24 07:28] #746 closed

[2020-09-25 07:17] phillip-kruger opened #778 "HTTP random port not working with MQTT client connector"
This is a quarkus bug. When using MQTT and vertx, and setting the http port to random, the application fails to start up.
[code-with-quarkus.zip](https://github.com/smallrye/smallrye-reactive-messaging/files/5281186/code-with-quarkus.zip)

Reproducer attached.

[2020-09-25 07:18] cescoffier commented on #778
Thanks @phillip-kruger ! I will have a look today.

[2020-09-25 12:08] cescoffier commented on #778
So, I had a look and it's more tricky than expected.
If I delay the connection artificially it works, if you don't use the port 0, it works...

It may not be related to SmallRye Reactive Messaging (directly). It works with Quarkus 1.7.3.Final but not since 1.8.0. In between, Vert.x Core changed how port 0 is handled. It may have introduced this new bug. There are also recent changes in the MQTT cl

[2020-09-25 13:27] #768 closed

[2020-09-28 13:34] loicmathieu opened #780 "Document dynamic topic routing"
Documentation only inlcudes example when a message is routed to a single topic based on the configured topic name for the channel.

But both `@Outgoing` annotated method and `Emitter` is capable of routing message to a topic dynamicaly by setting `OutgoinMetadata`.

Example of this is:
[code]

Documentation should be updated to cover this functionality.

[2020-09-28 13:59] loicmathieu commented on #780
This functionality exist at least for Kafka and AMQP and should be documented in their documentation.

[2020-09-28 19:58] vietj commented on #778
@phillip-kruger can you adapt the reproducer to use only Vert.x ? that will make it easier for us to debug

[2020-09-29 06:47] jamesnetherton opened #781 "CamelConnector init should check for existing CamelReactiveStreamsService configuration"
It's possible that the `CamelReactiveStreamsService` is already configured on the `CamelContext` before `CamelConnector` attempts its own configuration in the `@PostConstruct` annotation `init` method.

This is the case in Camel Quarkus where its reactive streams extension has already pre-configured `CamelReactiveStreamsService`.

It would be good if `CamelConnector.init()` had a check like:

[cod

[2020-09-29 06:58] cescoffier commented on #781
+1, let me add that!

[2020-09-29 08:00] cescoffier commented on #781
@jamesnetherton I picked a different approach as your code was triggering a lookup loop (was fun to debug). Can you have a look at https://github.com/smallrye/smallrye-reactive-messaging/pull/782 and tell me if that's ok?

[2020-09-29 08:26] jamesnetherton commented on #781
@cescoffier Yes, that works for me :+1:

[2020-09-29 11:07] vietj commented on #778
can you elaborate on how to use the reproducer ? the only thing I see is a single class

[code]

and nothing else

[2020-09-29 11:09] vietj commented on #778
ah ok it is failure to startup

[2020-09-29 11:09] vietj commented on #778
is that possible to run it with a main in the IDE ?

[2020-09-29 11:15] vietj commented on #778
there are no instructions in this project for creating an MQTT server , so instead I used `test.mosquitto.org` then started the fat jar and I did not see any issue:

[code]

can you give the steps to reproduce the issue ?

[2020-09-29 11:34] #781 closed

[2020-09-29 12:54] jamesnetherton commented on #781
@cescoffier any ideas when we're likely to see 2.4.0 released?

[2020-09-29 13:52] cescoffier commented on #781
Tomorrow :-)

The goal is to be included in Quarkus 1.9

Le mar. 29 sept. 2020 à 14:54, James Netherton <notifications@github.com> a
écrit :

[2020-09-29 15:48] cescoffier commented on #778
This is a Quarkus issue. See https://github.com/quarkusio/quarkus/pull/12401.
Closing.

[2020-09-29 15:48] #778 closed

[2020-10-01 13:40] cescoffier commented on #741
Fixed.

[2020-10-01 13:40] #741 closed

[2020-10-02 10:59] loicmathieu commented on #780
I'll provide a PR for this, could someone assign it to me ?

[2020-10-02 12:41] loicmathieu commented on #780
@kenfinnigan just checked and both guides show how to override the topic name: https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2.4/kafka/kafka.html#_outbound_metadata and https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2.4/amqp/amqp.html#_outbound_metadata

So the information is already there, it's just not easily findable (at least I didn't

[2020-10-02 12:46] kenfinnigan commented on #780
So maybe a small section on dynamic topic names that references that code example?

[2020-10-02 14:59] dcram opened #789 "How to send a message to Kafka with a key ?"
How to send a message with a key to Kafka using Reactive Messaging ?

I tried the following [as documented here](https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2.2/kafka/kafka.html#_outbound_metadata), but it throws an exception at serialization stage (see at the end of the message):

[code]

In fact, the following code is throwing the exact same exception:

[code]

Th

[2020-10-02 15:13] cescoffier commented on #789
I don't believe you can ingest a stream of payload and produce a stream of messages.

Can you try with:

[code]

BTW, the next version (Quarkus 1.9) makes it much much simpler:

[code]

[2020-10-02 16:25] dcram commented on #789
Thank you Clément.

It is a pure producer program. I have to create the message from scratch.

[2020-10-02 17:04] cescoffier commented on #789
Even if you receive `EntityOp`, what's transiting in the system are `Message<EntityOp>`. Method accepting payloads (`EntityOp`) are just unwrapping the value from the received message.

For example, if you have something like:

[code]

It's actually a `Multi<Message<Integer>>`. Reactive Messaging gets the integers and wraps them in a `Message`.

[2020-10-05 07:07] dcram commented on #789
It's now working very well with the right method signature:

[code]

Thanks a lot for your help. I am looking forward to testing the `Record<String, EntityOp>` syntax.

Damien

[2020-10-05 07:07] #789 closed

[2020-10-05 13:05] #780 closed

[2020-10-05 15:11] MarianMacik opened #792 "Typo in the documentation of OnOverflow#bufferSize field"
Hi guys, while configuring the back pressure in my application I have found a typo in the JavaDoc of `OnOverflow#bufferSize` parameter:

[code]
Notice the last line: mp.messaging.emitter.**defult**-buffer-size

It may happen that a developer copies this in a hurry and then finds out that it for some reason is not recognized. So fixing that!

Thanks

[2020-10-05 15:57] #792 closed

[2020-10-12 05:44] #742 closed

[2020-10-12 05:44] #743 closed

[2020-10-13 18:35] cescoffier commented on #744
Fixed by #797

[2020-10-13 18:35] #744 closed

[2020-10-14 14:17] andreas-eberle opened #804 "Support subscribing with Multi<Message<>> with reactive messaging handling the acks."
Currently, it is not possible to subscribe to a topic and get use the `Multi<Message<<>>` parameter type. This can e.g. be helpful when you want to subscribe to events and batch them before you process them further.

A workaround at the moment is to produce an internal topic that handles the acks separately (see code sample, Kotlin).

[code]

It would be perfect, if we could define only the method

[2020-10-14 17:08] gemmellr opened #806 "superflous AMQP message sections being sent"
Currently, the AMQP connector sends superflous empty sections for message areas it isnt really even using. For example sending a Message created from only a body payload, causes emission of an AMQP message including empty delivery-annotations, message-annotations, application-properties and footer sections, which for small payloads can rather significantly bloat the overall message. It does appear

[2020-10-14 21:09] Postremus opened #807 "Unexpected trailing sections: v1_0.delivery_annotations"
**Describe the bug**

Whenever I send messages, I get a disconnect on the java side.
In the rabbit container, I see the exception from below about `Unexpected trailing sections`.

I am using RabbitMQ 3.8.9, smallrye-reactive-messaging 2.4.0 (in quarkus 1.8.3) using the amqp connector.
The rabbitmq-amqp1.0 is enabled in rabbit.

If I do an downgrade to quarkus 1.6.0.Final, it works just fine.
I gue

[2020-10-15 11:56] cescoffier commented on #807
First, I would like to thank you about the reproducer! Finally, an easy reproducer using RabbitMQ! As a consequence, I will able to pinpoint the issue and got it working.
You are facing #806. Fixing it right now.

[2020-10-15 16:07] #806 closed

[2020-10-15 16:07] #807 closed

[2020-10-15 16:08] cescoffier commented on #330
RabbitMQ support added by #806

[2020-10-15 16:08] #330 closed

[2020-10-15 16:23] gemmellr commented on #807
Note that there is nothing invalid at all about sending a delivery-annotations section, #806 just points out that it is superfluous if its empty. A peer failing to handle it would be in error.

[2020-10-15 16:38] cescoffier commented on #807
Yeah, I read the spec again and nothing is said. Buy your arguments are valid and as a side effect it fixes the RabbitMQ issue (don't ask :-D )

[2020-10-15 17:05] gemmellr commented on #806
For later reference, this is an example of the payload previously being sent for an integer body (with the 'properties.to' address field populated):

(format uses \xAB formatted hex for non printables)

[2020-10-15 17:21] gemmellr commented on #806
The encoded payload of a comparable message after #812 now being:

[2020-10-19 15:16] chris-aeviator opened #821 "java.lang.ClassNotFoundException for `AbstractKafkaSchemaSerDe` when using confluent kafka avro serializer"
`Build step io.quarkus.kafka.client.deployment.KafkaProcessor#build threw an exception: java.lang.NoClassDefFoundError: io/confluent/kafka/serializers/AbstractKafkaSchemaSerDe`

`Caused by: java.lang.ClassNotFoundException: io.confluent.kafka.serializers.AbstractKafkaSchemaSerDe
	at java.base/jdk.internal.loader.BuiltinClassLoader.loadClass(BuiltinClassLoader.java:602)
	at java.base/jdk.internal.l

[2020-10-19 15:33] chris-aeviator commented on #821
can successfully compile when using

[code]

[2020-10-19 15:33] #821 closed

[2020-10-19 15:37] cescoffier commented on #821
@chris-aeviator Are we missing this information in the documentation?
Also if I'm not mistaken this artifact is NOT available from Maven central and you need a specific repository.

[2020-10-19 16:14] chris-aeviator commented on #821
@cescoffier yes I've done that
 see my comment

however, when adding the repository to `pom.xml` and specifying 5.3.2 it worked

[2020-10-19 17:24] chris-aeviator commented on #642
@obbyK how did you solve the issue? I'm facing the same with kafka + avro

[2020-10-19 17:39] cescoffier commented on #642
@chris-aeviator can you provide the signature of the method?

[2020-10-19 18:19] chris-aeviator commented on #642
@cescoffier thanks for your fast reply.

I'm seriously confused and overwhelmed by the amount of complexity and possibilities.

the error is
`2020-10-19 20:15:11,624 ERROR [io.sma.rea.mes.provider] (vert.x-eventloop-thread-0) SRMSG00200: The method org.myzel.projectPlanner.ProjectInfoToPublishedProjectsMessageConsumer_7#consume has thrown an exception: java.lang.ClassCastException: class org.myzel

[2020-10-19 18:34] chris-aeviator commented on #642
by the way the consumer is crashing successfully on a consumed message only :0

[2020-10-19 18:55] chris-aeviator commented on #642
I can see the record successfully being deserialized with the appropriate avro scheme before the error get's thrown

![grafik](https://user-images.githubusercontent.com/11522213/96499075-37a0d100-124d-11eb-9f85-2e9bd1d4094f.png)

my avro scheme
[code]

[2020-10-20 06:07] cescoffier commented on #642
Can you give me the signature of the method receiving (or expecting to receive) the message?
String key should be fine, but the signature of the method should be something like:

[code]

BTW, the `projectInfo` class not using the Java convention, it should be `ProjectInfo`. I don't believe it's the issue here, but something you may want to fix at some point.

[2020-10-20 06:21] chris-aeviator commented on #642
@cescoffier

I don't use ` @incoming` since I'm working with kogito here. My code (& "wiring" via the `bmpn` file) follows https://github.com/kiegroup/kogito-examples/tree/stable/process-kafka-quickstart-quarkus which does also not have `@incoming` annotations. It allows though to pass the data from a reactive messaging message ("travellers") to be passed into a function defined also in the `bpmn`

[2020-10-20 07:56] cescoffier commented on #642
From the error message, Kogito expects a String and not a ProjectInfo. I don't know anything about Kogito. The Kafka / Reactive Messaging parts is ok (it does get the message, and deserialize them correctly).

[2020-10-20 07:59] chris-aeviator commented on #642
It seems you've pointed me into the right direction.

When changing to capital `ProjectInfo`, telling `avro-maven` to generate into `/src/main/java` and remove my Handmade `ProjectInfo.java` it makes much more sense. Currently fiddling with the drools part but I will write an update whenever I solve this.

Thanks for your explanation of what's happening.

[2020-10-20 08:48] chris-aeviator commented on #642
I'm ending up with the exact same Issue...

[2020-10-20 08:50] chris-aeviator commented on #642
In the generated sources I can now see

[code]

[2020-10-20 09:02] cescoffier commented on #642
So, it expects a String. Is there anything you can configure to use another type? (is it something you can configure).

You may want to bring this issue to Zulip where the Kogito team can help.

[2020-10-20 09:10] chris-aeviator commented on #642
It is set to take `com.myzel.projectPlann.ProjectInfo` as in the example Repo - I'll try to chat with them, thanks

[2020-10-20 10:05] chris-aeviator commented on #642
@cescoffier this is indeed an issue with kogito, they have their own deserilization for events in between and thus the bean vs. string issue. They have an issue on https://issues.redhat.com/browse/KOGITO-2866 that should deal with it for anybody interested.

[2020-10-20 11:30] chris-aeviator commented on #642
I solved this by adding a consumer as `ProjectInfoConsumer` that consumes the avro message and forwards it as a string in an reactive message

[code]

whereas `ProjectInfo` is the avro-enabled kafka message coming in and `projectInfo` is the message that's passed internally, now everything is working as expected. Kogito team was really cool and they added avro support to their feature timeline (ht

[2020-10-21 10:03] oknozor opened #827 "Ambiguous DefinitionException when using @Blocking with invalid signature on reactive channel"
Given the following signature :
[code]

This will produce a compile time error using the following exception :

[code]

The error message is ambiguous since, changing the signature as suggested :
[code]
Will produce the following error :

[code]

I think `definitionBlockingOnlyIndividual` should be used for both signatures.

Let me know if it fine, I will make a PR.

[2020-10-21 12:37] kenfinnigan commented on #827
Agree this is a bit confusing, but they're both accurate.

The first error message is not related to the `@Blocking` annotation, but to the definition of the `@Incoming` method. It's referring to requiring blocking acknowledgment and not `@Blocking`.

[2020-10-21 12:49] oknozor commented on #827
Maybe something like :

@Blocking and return a CompletionStage<Message<?> or return an individual Message or payload.

Also I don't know if it's something that you usually do but providing a link the doc would be great.

See : https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/{current_version}/signatures/signatures.html

[2020-10-21 12:58] kenfinnigan commented on #827
Is there a way to word it without mentioning `@Blocking`, as if it wasn't present the error would still appear and that would be confusing?

I don't think we've linked to docs in error messages, possibly because it requires parsing the version. Thoughts @cescoffier?

[2020-10-21 13:13] oknozor commented on #827
I am trying to understand what happens in `io.smallrye.reactive.messaging.MediatorConfigurationSupport`. Are they cases when  this error is triggered without the `@Blocking` annotation ?

[2020-10-21 13:19] kenfinnigan commented on #827
If you took the example method on the issue and removed `@Blocking`, exactly the same error would appear about blocking acknowledgment. It's unrelated to `@Blocking`

[2020-10-22 14:45] kabir opened #830 "Emitter wrongly implements EmitterBehavior"
org.eclipse.microprofile.reactive.messaging.Emitter extends io.smallrye.reactive.messaging.EmitterBehavior.

This differs from the upstream spec version of Emitter

[2020-10-22 14:54] kenfinnigan commented on #830
It's one of these, innovating the spec pieces.

Otherwise it requires duplicating a tonne of identical code

[2020-10-22 15:05] cescoffier commented on #830
Yes, we need to see how we can avoid duplications.

[2020-10-24 09:54] jeffmaury opened #831 "mp.messaging.connector.smallrye-kafka.cloud-events listed twice in application.properties"
**Describe the bug**
(Describe the problem clearly and concisely.)
We noticed some tests failures in Quarkus Tools for IntelliJ after we updated our test applications to 1.9.0.Final. The problem is that the property `mp.messaging.connector.smallrye-kafka.cloud-events` is listed twice

**Expected behavior**
(Describe the expected behavior clearly and concisely.)
Property should be listed once only

[2020-10-24 12:38] ivangfr opened #833 "Performance to listen messages from Kafka degraded with version 1.9.0.Final"
Hi, I've updated my producer-consumer `Quarkus` project (https://github.com/ivangfr/graalvm-quarkus-micronaut-springboot/tree/master/producer-consumer/quarkus-producer-consumer) from version `1.8.3.Final` to `1.9.0.Final`. It uses `quarkus-smallrye-reactive-messaging-kafka` dependency.

I've realized that the performance of the consumer application, using the latest version `1.9.0.Final`, degraded

[2020-10-24 19:27] cescoffier commented on #833
Set 'commit-strategy' to 'throttled'. We disabled auto-commit in this version.

[2020-10-26 08:46] ivangfr commented on #833
Thanks @cescoffier ! Indeed, setting 'commit-strategy' to 'throttled' solved my issue.

[2020-10-26 08:55] cescoffier commented on #833
Closing.

[2020-10-26 08:55] #833 closed

[2020-10-26 12:26] jeffmaury opened #836 "Always run maven with batch mode for better readability of workflow logs"

[2020-10-26 13:49] #836 closed

[2020-10-28 05:07] dargmuesli opened #839 "MutinyEmitter: No subscriber found for the channel X"
I updated to Quarkus 1.9 (from 1.6) and swapped usages of `Emitter` with `MutinyEmitter` to be able to handle Unis directly. Now my tests fail saying `error: java.lang.IllegalStateException: SRMSG00027: No subscriber found for the channel send-mail` for a declaration like this:
[code]

Somewhere below I only changed
`.onItem().transformToUni((mailMessage) -> Uni.createFrom().completionStage(mailSe

[2020-10-28 06:32] cescoffier commented on #839
That might be a bug. Does that only happen with `UniEmitter`?

[2020-10-28 06:34] dargmuesli commented on #839
It happens with the `MutinyEmitter`. What other Emitter could I test? I'm fairly new to Quarkus / smallrye, but work on an existing codebase.

[2020-10-28 06:37] cescoffier commented on #839
Sorry, `MutinyEmitter`. I was wondering if it happened with `Emitter`.
`MutinyEmitter` has been integrated fairly recently, so we may have forgotten something. @kenfinnigan ?

[2020-10-28 06:41] dargmuesli commented on #839
Ok, `Emitter` is where we come from, everything worked with that. The mentioned error does not appear, if a method is declared with `@Incoming("send-mail")`. Only when no such method exists and despite an outbound connection being defined like this:

[code]

[2020-10-28 10:57] cescoffier commented on #839
Can you provide a reproducer? I will have a look.

[2020-10-28 12:35] kenfinnigan commented on #839
I think it's because there's no subscription to the returned Uni.

Can you try:

`.onItem().transformToUni((mailMessage) -> mailSendEmitter.send(mailMessage).subscribeWith(x -> {}))`

[2020-10-28 12:51] cescoffier commented on #839
Oh right, thanks @kenfinnigan for spotting this. Without a subscription, the uni won't do anything!

[2020-10-28 12:52] cescoffier commented on #839
@kenfinnigan Didn't we add something like `anfAwait` and `andForget` ?

[2020-10-28 12:52] kenfinnigan commented on #839
Right, the alternative would be to call `mailSendEmitter.sendAndForget()`

[2020-10-29 13:41] andreas-eberle opened #843 "Quarkus 1.9.1.Final: Auto Commit strategy does not seem to be enabled by default"
See discussion in Zulip before comment: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Reactive.20Messaging.20Kafka.3A.20Speed.20up.20event.20receiving/near/214966848.

I have the following config but auto commit does not seem to be applied by default. I only get like 80-100 messags/second (with noop event handler).

[code]

When explicitly set the commit strategy to `ignore`, I

[2020-10-29 13:42] cescoffier commented on #843
My guess is that it was still using the `latest` commit strategy, despite the `enable.auto.commit` attribute.

[2020-10-29 16:40] cescoffier commented on #843
@andreas-eberle How many channels do you have?
I'm seeing: my-events and epcis-events (which does not have the connector set)

[2020-10-29 16:43] cescoffier commented on #843
I tried with:
[code]

And the ignore strategy is used.

[2020-10-29 20:34] dargmuesli commented on #839
I guess you mean `.subscribe().with(x -> {})`? That and the suggested `.sendAndForget()` both return a cancellable. I'm a little confused what that means, as I'm fairly new to reactive messaging. I'm not sure about that `AndForget` too as I want to know when the email was sent? I thought using the `Uni<Void>` returned by `MutinyEmitter.send` with an `onItem()` is what I want :see_no_evil:

I can s

[2020-10-29 20:49] kenfinnigan commented on #839
It might be what you want, but you do need to subscribe to it for it to send.

[2020-10-30 07:31] cescoffier commented on #839
@dargmuesli There is one essential difference between a `CompletionStage` and a `Uni.` `CompletionStages` are eager. So when using `CompletionStage<Void> cs = emitter.send(...)`, the message is sent, and the returned `CompletionStage` is a placeholder for the eventual outcome. `Unis,` on the other side, are lazy. `Uni<Void> uni = mutinyEmiter.send(...)` does not do anything until there is a _subsc

[2020-10-31 15:02] kabir opened #845 "@Outgoing messages to Kafka get 'lost' while initialising application"
If I do something simple not backed by anything external it works fine

[code]

However, if I adjust this to be backed by Kafka it no longer works (to-kafka and from-kafka are mapped in my microprofile-config.properties):
[code]

I played a bit with the @Outgoing method, and this does not work either:
[code]

In both cases I see the source() method get called before it does all the Kafka connectio

[2020-10-31 16:24] cescoffier commented on #845
That should not be the case. Can you provide a reproducer?

On Sat 31 Oct 2020 at 16:03, Kabir Khan <notifications@github.com> wrote:

[2020-10-31 17:39] kabir commented on #845
Hi,

I have created a reproducer based on the Kafka example: https://github.com/smallrye/smallrye-reactive-messaging/compare/2.4.0...kabir:reproducer-845?expand=1

As it is it reproduces the behaviour as in no messages are received.

There is a commented out monstrosity alternative @Outgoing method with what I resorted to in the WildFly TS to work with what we have there to simulate a delay. If I

[2020-10-31 18:00] cescoffier commented on #845
Hum, did you forget to set:
[code]

Without, your consumer starts at the latest offset of the partition. If the consumer joins the cluster after the producer it would be 3 - and so don't get any message (as offset 0 is 'hello', 1 is 'reactive' and '2' is messaging).

In the log you should see something like:
[code]

[2020-11-01 11:19] kabir commented on #845
I wasn't aware of that property. But it works fine now when I added it. Thanks for the explanation!

[2020-11-01 11:19] #845 closed

[2020-11-01 19:07] ustari28 opened #846 "How to set up ssl options (certificates/jks) for secure connections in mqtt library?"
Hello,

I want to set up a TLS connection with smallrye-mqtt but when you see mqttoption there is no available options for doing this kind of connections.

Could you tell me how I can set up?

Best regards!

[2020-11-02 06:45] cescoffier commented on #846
Unfortunately, this is not yet possible.
There is an open issue about this: https://github.com/smallrye/smallrye-reactive-messaging/issues/693.

[2020-11-02 06:46] #846 closed

[2020-11-02 06:46] cescoffier commented on #846
(Closed as duplicate)

[2020-11-02 16:20] lorenzleutgeb opened #850 "docs: "Edit this Page" is broken"
In the docs at https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2 the link with link text "Edit this Page" in the top right area of the page is broken. The corresponding `<a>` tag has `href=""` when this should probably be `href="https://..."`.

[2020-11-02 16:21] lorenzleutgeb opened #851 "docs: "Merge" is unclear"
Referring to https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2/advanced/merge.html

  1. In the table of contents, the reference is "Merging" while the header of the page is "Merge". I'd expect that they would match.
  1. The page says that "`@Merge` must be used with `@Merge`". Maybe something else was meant?

[2020-11-02 17:51] cescoffier commented on #851
Oh yes! The second `@Merge` should be `@Incoming`!

[2020-11-02 17:51] cescoffier commented on #850
My Antora skills are inexistent. I've tried multiple times to remove that link...

[2020-11-02 18:18] cescoffier commented on #851
I've opened a PR: https://github.com/smallrye/smallrye-reactive-messaging/pull/852

[2020-11-02 18:18] cescoffier commented on #850
I was finally able to remove it: https://github.com/smallrye/smallrye-reactive-messaging/pull/852 (same PR as the merge doc improvement)

[2020-11-03 09:44] lorenzleutgeb commented on #850
As a side note: I would have tried to provide a fix for #851 if the "Edit this Page" link would have worked. My hope and intention was that someone would fix it, in the sense that it the link would lead to the corresponding file on GitHub, making it easier for outsiders to contribute. Now I feel somewhat sad that you removed the link altogether, but of course you are the primary contributor so thi

[2020-11-03 10:34] cescoffier commented on #850
I don't believe we can compute the right adoc file containing the page to edit. There are many modules, pages are the concatenation of multiple adoc files and some parts of the documentation are generated. See https://github.com/smallrye/smallrye-reactive-messaging/tree/master/documentation for details.

I had to wrap Antora with some maven stuff to reach the level of generation and filtering I wa

[2020-11-04 06:43] #850 closed

[2020-11-04 06:43] #851 closed

[2020-11-04 12:55] radcortez opened #854 "Deprecate / Archive unmaintained connectors"

[2020-11-09 05:22] kdpatel1993 opened #858 "Issues While Connecting To GCP Pub/Sub"
Currently, I am trying to use same example of GCP pub/sub quick-start. as per example set the publisher and receiver like following,

microprofile-config.properties:

gcp-pubsub-project-id=krunal-gcp

Google Cloud Pub/Sub sink (we write to it)
smallrye.messaging.sink.my-channel.connector=smallrye-gcp-pubsub
smallrye.messaging.sink.my-channel.topic=test-services

Google Cloud Pub/Sub source (we rea

[2020-11-09 06:32] cescoffier commented on #858
It looks like a weird Weld versioning issue. @manovotn Any idea?

On which environment are you deploying?
@loicmathieu was able to get it running last week on Quarkus.

[2020-11-09 09:06] loicmathieu commented on #858
Yes, I was able to make it works on Quarkus, see https://github.com/loicmathieu/google-cloud-services/tree/feat/pubsub-reactive-messaging/integration-tests/smallrye-reactive-messaging-pubsub

I only tested an `@Incoming` and on Java 11.

This indead looks like a CDI issue.

[2020-11-09 10:30] manovotn commented on #858
Hmm, this looks like you are trying to use Weld 3.x (or newer) with CDI 1.2? @kdpatel1993, can you double check your versions and post it here, please?

Because [`ObserverMethod.getPriority()`](https://github.com/eclipse-ee4j/cdi/blob/2.0/api/src/main/java/javax/enterprise/inject/spi/ObserverMethod.java#L85-L96) is something that was added in CDI 2.0.
Weld 3 relies on that and uses it [here in the

[2020-11-09 11:32] kdpatel1993 commented on #858
Yes @manovotn I am using Weld 3.1.3.Final with CDI 1.1.
let me update the version of CDI and try it again.
thanks for update.

[2020-11-09 13:49] loicmathieu opened #862 "Unable to use Kafka interceptors while using DLQ"
If we configure a channel with a Kafka interceptor and with a DLQ, the DLQ producer fails to create with ` java.lang.ClassCastException: class io.opentracing.contrib.kafka.TracingConsumerInterceptor`.

[code]

Reproducer:
[kafka-interceptor-issue.zip](https://github.com/smallrye/smallrye-reactive-messaging/files/5510879/kafka-interceptor-issue.zip)

[2020-11-09 14:02] cescoffier commented on #862
Hum... we should drop the interceptor in the DLQ config.

[2020-11-09 14:42] #862 closed

[2020-11-10 07:16] kdpatel1993 commented on #858
Hi @manovotn I have updated the version of CDI. Now i m facing 'Unsatisfied dependencies for type PubSubManager'.
Can you help here? which dependency I am missing here now?
Error screenshot:
`org.jboss.weld.bootstrap.MissingDependenciesRegistry handleResourceLoadingException
INFO: WELD-000119: Not generating any bean definitions from io.smallrye.reactive.messaging.metrics.MetricDecorator because o

[2020-11-10 12:23] manovotn commented on #858
I am not familiar with it, but a quick search on this repo shows me the class is [here](https://github.com/smallrye/smallrye-reactive-messaging/blob/master/smallrye-reactive-messaging-gcp-pubsub/src/main/java/io/smallrye/reactive/messaging/gcp/pubsub/PubSubManager.java). Therefore I _guess_ you are missing `smallrye-reactive-messaging:smallrye-reactive-messaging-gcp-pubsub`.

[2020-11-10 12:24] manovotn commented on #858
Closing this issue as it was a user setup error and it was explained.

[2020-11-10 12:24] #858 closed

[2020-11-11 16:08] FrancescoPessina opened #864 "How can I send a "tombstone" null message to a compacted Kafka topic?"
Hello everyone ✋
Kafka lets you specify "compacted" topic, i.e. topic in which there is only one entry for each message key.
Kafka lets you delete a key from a "compacted" topic sending a message with `null` as payload and the key set as the key to delete.
**How can I achieve this with this library?**

I would do this in this way:
[code]

But this is forbidden because a `Message` cannot be instant

[2020-11-11 16:11] cescoffier commented on #864
Starting Reactive Messaging 2.4 (Quarkus 1.9) you can do:

[code]

see https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2.5/kafka/kafka.html#_sending_keyvalue_pairs.

[2020-11-11 16:26] FrancescoPessina commented on #864
@cescoffier Thank you for the rapid response :)
But, how can I send this `Record`? `send()` method only supports `Message<T>` as parameter.
Is possible to add headers to this `Record`?

[2020-11-11 16:31] cescoffier commented on #864
Which 'send' method?

You can use something like:

   @ApplicationScoped
    public static class BeanProducingKafkaRecordNoKey {

        @Incoming("data")
        @Outgoing("output-record")
        public Record<Integer, String> process(int input) {
            return Record.of(null, "value-" + (input + 1));
        }

        @Outgoing("data")
        public Publisher<Integer> source() {

[2020-11-11 16:33] cescoffier commented on #864
Just to clarify, Record is a payload type, not a Message subclass. The Kafka connector recognizes it and handle it properly.

[2020-11-11 19:13] cescoffier commented on #864
Maybe you can give the kind of code you are using (that needs to set the value to null) and I can show you.

[2020-11-12 08:07] FrancescoPessina commented on #864
No, my fault, I made it work :)
I can close the issue, thanks a lot @cescoffier

[2020-11-12 08:07] #864 closed

[2020-11-12 08:58] andreas-eberle opened #865 "Report topic / partition / offset in Exceptions"
E.g. in exceptions like `io.smallrye.reactive.messaging.kafka.commit.KafkaThrottledLatestProcessedCommit$TooManyMessagesWithoutAckException`, it would be very helpful to get the topic, partition and offset that hasn't been acked for too long. This helps investigating the issues.

Also see https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Reactive.20Messaging.20Kafka.3A.20Speed.20up

[2020-11-12 12:17] andreas-eberle opened #866 "Kafka: Liveness probe fails due to a rebalance causing the commit to fail"
Shortly after the start of my service, I received the following log statement:

[code]

Processing continued fine after this until the liveness probe failed two more times (same log statement as shown above) and thus kubernetes took down the pod and restarted it.

I have no other consumers in the group of this consumer.

Also see [zulip the conversation](https://quarkusio.zulipchat.com/#narrow/str

[2020-11-13 14:20] agentgonzo opened #869 "Blocking(ordered = false) does not work properly (at least to my understanding)"
I would expect (from the [docs](https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2/advanced/blocking.html)) that if I applied `@Blocking(ordered = false)` to my kafka consumer, it would read and handle messages from the kafka topic concurrently/in parallel (up to the limit of the worker thread pool handling the processing - a default of 20 threads). However, even though

[2020-11-16 12:35] #865 closed

[2020-11-17 14:58] cescoffier commented on #588
Forgot to close this issue. It's been addressed in 2.5 with the support of `Record`.

[2020-11-17 14:58] #588 closed

[2020-11-26 09:20] vankofalcon commented on #839
@cescoffier @kenfinnigan I'm still getting the same error when using
[code]
that's in Quarkus 1.9.2
I'm using the smallrye-kafka as a connector for that channel
Is there a workaround or we have to wait for a fix?

[2020-11-26 10:05] cescoffier commented on #839
is you emitter correctly connected to the right channel? Please provide a reproducer because if it's connected, that should not be a problem.

[2020-11-26 11:22] vankofalcon commented on #839
`
@ApplicationScoped
public class MyManager {

@Inject
@Channel("channel-out")
MutinyEmitter<Obj> emitter;

public Uni<Obj> run() {
        return Uni.createFrom().item(new Obj())
                .onItem()
                .transformToUni(r -> {
                    emitter.send(r).subscribe().with((System.out::println, System.out::println));
                    return Uni.createFrom().item(r);

[2020-11-26 11:37] kenfinnigan commented on #839
Is there any configuration for `channel-out` that connects it to Kafka or other provider?

[2020-11-26 11:40] vankofalcon commented on #839
@kenfinnigan yes, it's a standard kafka cfg
[code]

[2020-11-26 11:52] kenfinnigan commented on #839
Are there any log messages prior to "No subscriber" that indicates it wasn't able to connect to Kafka or "my-topic"?

[2020-11-26 13:54] vankofalcon commented on #839
@kenfinnigan Only the normal kafka consumers connected output. Consumers are consuming messages. Everything with kafka works fine. I was using the non-reactive Emitter<T> before that and I've changed only that part to use the MutinyEmitter<T> api

[2020-11-26 13:56] vankofalcon commented on #839
@kenfinnigan  Did you try running the sample code? Is it working for you?

[2020-11-26 14:07] kenfinnigan commented on #839
I haven't run it.

Can you confirm that the code in `transformToUni` is executed?

[2020-11-26 14:12] vankofalcon commented on #839
@kenfinnigan confirmed with a simlpe System.out.println :)

[2020-11-26 14:21] vankofalcon commented on #839
I've updated the code snipped

[2020-11-26 14:29] kenfinnigan commented on #839
With the updated snippet, there is no longer a `subscribe` on `emitter.send()`, which is required

[2020-11-27 09:02] vankofalcon commented on #839
@kenfinnigan It doesn't matter how I write that code. In both cases I get the same error in the output. With that piece of code I still get the error `java.lang.IllegalStateException: SRMSG00027: No subscriber found for the channel channel-out`
[code]

[2020-11-27 10:31] cescoffier commented on #839
I will try to reproduce it.

[2020-11-27 12:32] cescoffier commented on #839
@vankofalcon @kenfinnigan Found the issue. Mutiny emitters are not connected to channels managed by connectors.
See https://github.com/smallrye/smallrye-reactive-messaging/pull/878 for a fix.

[2020-11-30 14:35] lorenzleutgeb opened #879 "Mediator gets discovered twice, leading to WeavingException"
This is on version 2.0.4. I am not sure whether what I am seeing is a bug or I am doing something wrong. I am getting

[code]

So I started investigating. By adding a breakpoint to the lambda in `MediatorManager#analyze` that adds objects to `#collected`. It is called twice, the two methods being:

[code]

I have no clue where that `volatile` method that takes an `Object` comes from. The declaring

[2020-11-30 17:35] cescoffier commented on #879
It looks like you have an overloaded method (same name, different signature). Can you try to change one of the method names to check if that's the issue?

[2020-11-30 18:00] lorenzleutgeb commented on #879
Hmm, my `Foo` class implements an interface. If I remove that, it works. It goes like this:

[code]

[2020-11-30 19:37] cescoffier commented on #879
Can you try removing the type <T> from your listener. That may be the real issue. I need to check how we find and identify the method.

[2020-11-30 19:59] lorenzleutgeb commented on #879
You mean the generic type argument `T` in `Listener`? No, not really. We use this as a "marker" interface. We have many beans that have `@Incoming` methods (all with different responsibilities). By using that interface we force them all to have a uniform name (`onMessage`) and if we want to list them we can just look up all implementations of that interface. If I remove the generic type argument,

[2020-11-30 20:23] cescoffier commented on #879
That was just to pinpoint the issue - not a workaround.

On Mon 30 Nov 2020 at 21:00, Lorenz Leutgeb <notifications@github.com>
wrote:

[2020-12-01 07:45] lorenzleutgeb commented on #879
Right. So this works:

[code]

I just removed the top interface from the hierarchy and added `onMessage` in the more concrete one. The generic type argument is gone, and so is the `WeavingException`.

[2020-12-01 09:29] cescoffier commented on #879
Thanks! With this I can build a test reproducing the issue and fix it!

[2020-12-01 09:53] lorenzleutgeb opened #881 "Does InMemoryConnector support broadcasting?"
Suppose I have an application that uses the Kafka connector in production, with one incoming channel [marked as broadcast by setting the appropriate property](https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2/kafka/kafka.html#_configuration_reference) and that this application further has two `@Incoming` methods for this channel, which should both receive messages.

For

[2020-12-01 10:25] cescoffier commented on #881
You are right the _in-memory connector_ does not support broadcast. We should add this.

[2020-12-01 10:29] Rupert-RR opened #882 "Claim-based security"
I apologise in advance for any inaccuracies since I am not an expert either in Smallrye Reactive Messaging nor in AMQP.

For context, I am trying to add AMQP messaging (sending and receiving) functionality to my Quarkus application. There is a development environment which may run locally and another environment which is deployed to Microsoft Azure. The idea therefore is to have an AMQP 1.0 servic

[2020-12-01 11:38] cescoffier commented on #882
If the vertx client support it, we should be able to support it too.

Do you have the vertx code somewhere?

@gemmellr WDYT?

[2020-12-01 12:25] Rupert-RR commented on #882
I have some very rough code by way of example (this was obviously just to prove that it works so is in no way production ready). It is in Kotlin, but should still be readable I would think.

[code]

and the logic for generating the token, which is specific to Microsoft Azure, is in:

[code]

I presume that we would want to be able to just pass the token itself.

I am not sure whether this kind of

[2020-12-01 12:46] gemmellr commented on #882
Service Bus doesnt require CBS usage to my knowledge. It supports it. Im not aware of any AMQP clients (or servers) other than Microsoft's that yet support it directly. I am aware of other AMQP clients being used against Service Bus that dont support it, and of Microsoft themselves creating a fuller JMS server offering based around an existing client that does not support it (https://azure.microso

[2020-12-01 12:51] Rupert-RR commented on #882
@gemmellr if you have any links to documentation about other supported authorisation mechanisms for AMQP I would be grateful. I get the impression that they may support other mechanisms for other protocols, such as JMS, but for AMQP there is only CBS (I should add that I tried using the SAS key name and value as username and password via the Smallrye configuration) and did not get anywhere the val

[2020-12-01 12:58] gemmellr commented on #882
( I would note though that the link in the original post is to an older draft document. The current draft is at https://www.oasis-open.org/committees/document.php?document_id=67918&wg_abbrev=amqp)

[2020-12-01 13:08] gemmellr commented on #882
I can only refer you to Microsofts documentation in general, I dont have a specific link. I am not particularly familiar with Service Bus myself, but I am aware of a usage of several non-Microsoft clients over the years with Service Bus, clients that do not support CBS. For example, Qpid JMS (which I co-wrote) as Microsoft are working with per the earlier link. You could perhaps follow the guides

[2020-12-01 13:12] Rupert-RR commented on #882
@gemmellr ok, thanks for that. The current draft certainly looks fuller (I was going from the link given in Microsoft's own documentation). I will have a look at Qpid JMS to see if that works (if it does that would suggest that I have a configuration problem with Smallrye or there is some other functionality being used that is not exposed by Smallrye).

[2020-12-01 13:16] gemmellr commented on #882
Here is an Azure doc page for older documentation on using qpid-jms with Service Bus (long before the more recent 'JMS2 support' announced about): https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-java-how-to-use-jms-api-amqp.

The client does nothing special here as its entirely unaware its speaking to Service Bus (and Service Bus cant tell its the JMS client until after th

[2020-12-01 16:24] lorenzleutgeb commented on #881
It [seems that 6 connectors](https://github.com/search?q=broadcast+repo%3Asmallrye%2Fsmallrye-reactive-messaging+path%3A%2Fdocumentation%2Fsrc%2Fmain%2Fdoc%2Fmodules%2Fconnectors%2Fpartials%2FMETA-INF%2Fconnector&type=Code&l=&l=) support broadcast, so it's quite likely that other users will be as surprised as I was...

[2020-12-01 16:33] cescoffier commented on #881
Even worse, the new wiring algorithm I'm working on at the moment suppose that broadcast is somewhat supported. So, it needs to be fixed.

[2020-12-02 08:58] vgallet opened #883 "Message negative-ack function is never call in case of a non-retriable Kafka Producer Exception"
Hello,

when producing a message using Kafka connector, the negative-ack function is never call when a Kafka non-retriable Exception is thrown.

I have changed the Kafka quickstart project to illustrated this issue. The code is available [here](https://github.com/quarkusio/quarkus-quickstarts/commit/0fcfb9ec9862b6ee9fc9b42adf9ad6506c072043).

The component versions are from the quickstart project.

[2020-12-02 19:48] kenfinnigan commented on #718
@cescoffier starting to look at this.

Am I correct in thinking that returning `Uni<Void>` is ok, but `Uni<String>` is not because then it's no longer a subscriber? And likewise for `CompletionStage`.

[2020-12-02 20:20] cescoffier commented on #718
Yes.

You can also drop the emitted item, but I think it’s better to make the
user aware that it won’t send the item anywhere, and so fail.

On Wed 2 Dec 2020 at 20:48, Ken Finnigan <notifications@github.com> wrote:

[2020-12-03 18:15] #718 closed

[2020-12-04 17:56] cescoffier commented on #839
Fixed by #878.

[2020-12-04 17:56] #839 closed

[2020-12-04 19:03] cescoffier commented on #883
Thanks for the reproducer.

The nack is actually get called, after a LOT of retries.
If you configure retries to a low number (like 5), you will get the nack call in a _timely_ fashion.

I guess it's time to start the list of unrecoverable issues.

[2020-12-06 19:06] cescoffier commented on #879
Forgot to ask, from where comes `@Multi`?

[2020-12-06 19:08] cescoffier commented on #879
Can you spot the difference with my code:

[code]

This test passes.

[2020-12-06 19:11] lorenzleutgeb commented on #879
Hmm, I think that I made a mistake here when copying. That should have been `@Merge`. Sorry for the confusion.

[2020-12-06 19:25] cescoffier commented on #879
@lorenzleutgeb Is the super method annotated with `@Incoming`? The @Incoming annotation does not support inheritance.

[2020-12-06 19:26] lorenzleutgeb commented on #879
No, it's not.

[2020-12-06 19:33] cescoffier commented on #879
I just tried the code I've given above in Quarkus and it's working. Any idea of the difference?

PS: I've also tried with `@Merge`

[2020-12-07 07:47] kd-eng opened #891 "GCP Pub/Sub Gives an Errors"
Hi,
I started a simple example project [gcp-pubsub-quickstart](https://github.com/smallrye/smallrye-reactive-messaging/tree/master/examples/gcp-pubsub-quickstart).

Unfortunately when running it I am getting the following error:
[code]

I have added all dependencies which is mention in example. Still am I missing something? Anyone a clue?

smallrye-reactive-messaging-gcp-pubsub version 2.5.0

[2020-12-07 08:38] cescoffier commented on #879
Hum... I was able to get a failed test using the new wiring algorithm.

[2020-12-07 10:24] cescoffier commented on #879
Ok, found the issue (I don;'t get while it only happens on the new wiring, but anyway). I will provide a fix with the new wiring.

[2020-12-07 14:38] cescoffier commented on #414
This issue is finally fixed with the new wiring algorithm.

[2020-12-08 08:04] #866 closed

[2020-12-08 08:05] #881 closed

[2020-12-08 09:29] ferencbeutel4711 opened #897 "Support multiplee kafka brokers"
Hello there,

right now, it seems as if I can only configure the kafka brokers per application and not per channel - this would be incredibly useful in a multi-team setup where each team has its own kafka cluster. So there needs to be a way to configure a relationship between a topic and a kafka cluster.

Thanks!

[2020-12-08 09:37] cescoffier commented on #897
You can configure the broker per channel using:

[code]

Same for outgoing.

[2020-12-08 09:38] ferencbeutel4711 commented on #897
oh that is great to hear! sorry, did not find this documented anywhere, the only thing I've always seen was 'bootstrap.servers'

[2020-12-08 09:38] #897 closed

[2020-12-08 14:51] #891 closed

[2020-12-09 18:06] #883 closed

[2020-12-09 18:07] #414 closed

[2020-12-09 18:07] #879 closed

[2020-12-11 08:24] languitar opened #902 "SRMSG18304: Unknown channel after InMemoryConnector.switch*ChannelsToInMemory in quarkus"
I am trying to get going with using the in-memory connector for tests in a quarkus kotlin project. However, I am unable to use the different switch methods because afterwards, acquiring an InMemory sink fails with "java.lang.IllegalArgumentException: SRMSG18304: Unknown channel comment-events".

This is the `@BeforeEach` test method that is triggering the issue:

[code]

The respective channel has

[2020-12-11 08:44] cescoffier commented on #902
In Quarkus, unfortunately, you need to do the switch in a `TestResource`, as the application is started only once.

Here is an example:

* The test resources witching to in-memory channels: https://github.com/cescoffier/reactive-coffeeshop-demo/blob/master/barista-quarkus-kafka/src/test/java/me/escoffier/quarkus/coffeeshop/KafkaTestResourceLifecycleManager.java

* The test retrieving the channels:

[2020-12-11 08:52] languitar commented on #902
Thanks for the very quick response. That makes perfectly sense now that you are saying this. Some documentation on this (probably on the quakus side) would really help here.

[2020-12-11 15:19] languitar opened #903 "AMQP messages are not acknowledged when using a MessageConverter"
https://github.com/languitar/amqp-ack-test-kotin contains a test quarkus kotlin project that exhibits missing ACKs for AMQP messages. In essence, the important code is:

[code]

Without the message converter incoming messages are acknowledged as expected. With this message converter, the ack is not sent, which I could also verify when tracing the communication with the broker (ActiveMQ Artemis) us

[2020-12-11 15:20] languitar commented on #903
I also tried to use explicit ACKs by receiving a `Message<DummyData>` instance. Same issue here.

[2020-12-14 09:53] languitar commented on #903
Thanks for quickly preparing a fix. Is there any way I can get this working in a current quarkus project?

[2020-12-14 09:58] cescoffier commented on #903
You can build from the PR and add the dependency in your Quarkus
application.

I will cut the 2.6 release tomorrow.

Le lun. 14 déc. 2020 à 10:53, Johannes Wienke <notifications@github.com> a
écrit :

[2020-12-14 10:09] languitar commented on #903
Regarding the 2.6 release: will that automatically propagate into quarkus-universe-bom or how is the process here?

[2020-12-14 13:06] cescoffier commented on #903
No, that would only happen in January. In the meantime, you will need to declare the dependency on the connector in your pom.xml file.

[2020-12-14 13:13] languitar commented on #903
Ok, but that would leave other Quarkus users unaware of this bug and the fix until, right? What is the idea of the release process here? Why is no 2.5.1 bugfix release planned for such a thing?

[2020-12-14 13:17] cescoffier commented on #903
Quarkus release schedule is already defined. In general, we release SmallRye Reactive Messaging 1 week before Quarkus first release candidate so we have time to integrate properly in Quarkus. This one is a bit special because of the end-of-year break, so we will release Reactive Messaging a bit earlier. In general, we do one release every month, 1 week ahead of quarkus.

[2020-12-14 13:20] languitar commented on #903
Thanks for the explanations!

That means there are no updates for bugfixes within the released quarkus versions in general?

[2020-12-14 13:44] cescoffier commented on #903
It happened, but it depends on our bandwidth.

[2020-12-14 13:45] #830 closed

[2020-12-14 13:45] #903 closed

[2020-12-14 13:45] #831 closed

[2020-12-14 16:29] languitar commented on #903
Alright, but it would be safe for me to simply upgrade this one dependency version outside of what the universe bom provides? Do I have to upgrade all reactive-messaging dependencies or which one is required to be bumped to 2.6?

[2020-12-14 17:52] cescoffier commented on #903
It should be fine to just add a dependency on the AMQP connector. Don't update the main module as we need to update the Quarkus side.

[2020-12-14 19:10] languitar commented on #903
Alright. Thanks again for the explanations and quick fix!

[2020-12-17 14:03] loicmathieu commented on #854
@radcortez just see this one, if you plan to deprecate the PubSub connector, we can have a chat to see if we can come up with a solution, I may be able to find some people to help on the PubSub connector.

[2020-12-17 15:08] loicmathieu opened #914 "Kafka Connector : TooManyMessagesWithoutAckException for a processor with Message based method signature"
I'm facing TooManyMessagesWithoutAckException exceptions for a processor method with Message based methods signature.
This exception occurs even with a few messages.

[code]

Manually acking the incomming message before returning the outgoing one fix the issue.

More info on this Zulip chat: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Kafka.20processor.20-.20.20TooManyMessage

[2020-12-18 06:54] cescoffier commented on #914
The problem comes from the _cut_ message chain in your code.

You need to use `event.addMetadata(outgoingMetadata));`

I've opened a PR adding a bit more content about that in the documentation.

[2020-12-18 08:01] #914 closed

[2020-12-21 10:33] kd-eng opened #917 "Not Able To Send Message On Google Cloud Pub/Sub"
Hi,
I am not facing any error with [gcp-pubsub-quickstart](https://github.com/smallrye/smallrye-reactive-messaging/tree/master/examples/gcp-pubsub-quickstart) example but not able to see the my message over the my Topic on GCP.

here the my configration properties file:
[code]
What else I am missing here? And I have configured my service account as enviromant veriable.
Can you please help us to ov

[2020-12-26 04:27] aahmed-se opened #918 "Add Support for apache pulsar"
Add Soucre and Sink support for the Apache pulsar pub sub. https://pulsar.apache.org/

[2021-01-04 09:57] cescoffier opened #920 "Allows outgoing connector to have multiple upstream"
That would be the equivalent of @Merge for connectors

[2021-01-05 06:46] cescoffier commented on #918
Agreed, It would be awesome!

[2021-01-05 06:47] cescoffier commented on #917
@loicmathieu did some experiments recently.

[2021-01-05 12:08] loicmathieu commented on #917
Yes, I have a working prototype for Quarkus here: https://github.com/quarkiverse/quarkiverse-google-cloud-services/pull/55

But it's not merged as the corresponding component on smallrye seems to not be actively maintained, if it changed, I'll merge it.

[2021-01-05 16:34] cescoffier commented on #902
PR opened in Quarkus documentation: https://github.com/quarkusio/quarkus/pull/14120.

Closing this issue as it will be tracked on the Quarkus side.

[2021-01-05 16:34] #902 closed

[2021-01-08 14:30] hacst commented on #562
@kenfinnigan  While OTEL support is great for the future adding pre-release versions of OpenTelemetry to this library has the unfortunate side-effect of locking all users to the specific version of OpenTelemetry this extension specifies as there is not a stable API yet. Currently it specifies 0.9.1 which is very outdated by now as they seem to do ever bigger API changes in the run-up to get in sha

[2021-01-08 14:36] kenfinnigan commented on #562
@hacst yes it's challenging at present, and thanks for the prod as I should update the OTeL version here!

I'm currently working on the OTeL extension for Quarkus, intending for it to be part of the 1.12 release in February.

As for how to solve the dependency issue, unfortunately I don't see an easy way to solve it when APIs break

[2021-01-08 14:45] hacst commented on #562
@kenfinnigan Thanks for the quick reply. We are definitely looking forward for OTEL support in Quarkus. Should hopefully allow us to get rid of the custom integration we are using now. In the meantime I guess we'll have to see whether we can work around this issue somehow. Do you have a specific version of OTEL you are targeting for the Quarkus 1.12 release? Or is it a "whatever is current then" d

[2021-01-08 14:58] kenfinnigan commented on #562
It will be whatever is "most current" at the time

[2021-01-08 15:12] hacst commented on #562
Makes sense. Looking forward to it. Thanks again.

[2021-01-08 17:03] mostafacs opened #925 "Get Bulk polled message from kafka @Incoming consumer method"
I want to batch process the Kafka polled payload.
But current implementation support gets message by message.
Is it possible to support getting the list of pulled records from Kafka.

Example

[code]

[2021-01-09 08:21] cescoffier commented on #925
What are you trying to achieve?

You do the aggregation with:

[code]

The `aggregated-channel` will receive `List<Message<ProcessRequest>>`.
Note that you will need to handle the message acknowledgment yourself in this case.

Another solution would be to use _pre-acknowledgement_:

[code]

The `aggregated-channel` will receive `List<ProcessRequest>`, and the messages from Kafka are already acknow

[2021-01-09 08:23] #827 closed

[2021-01-11 16:48] mostafacs commented on #925
Got it. thank you. I miss reading about Multi. probably because not mentioned in @Incoming methods in quarkus reactive messaging tutorial guide.

[2021-01-12 11:45] kabir opened #928 "@Broadcast clarification"
I have a test in my WildFly reactive feature pack that has both an `@Incoming("source")` and a `@Channel("source")` listening to the same `@Outgoing("source")` channel. This passed with 2.5.0.

Now I am in the process of updating both my WildFly feature branch and my feature pack (which enables non-spec stuff that we don't want in WildFly) to 2.7.1. It now gives me an exception, telling me to add

[2021-01-12 11:51] cescoffier commented on #928
The topology was not legal, and lead to invalid wiring.

Try with @Broadcast(2) waiting for 2 subscribers before emitting.

On Tue 12 Jan 2021 at 12:46, Kabir Khan <notifications@github.com> wrote:

[2021-01-12 12:49] kabir commented on #928
Thanks it works

[2021-01-12 12:49] #928 closed

[2021-01-18 10:59] suleymancan commented on #925
Greetings to all, in my use case send kafka producer messages are sent one by one. I want to read them as a list in the consumer application. I can do that at the Spring Kafka library.
[spring kafka batch listeners](https://docs.spring.io/spring-kafka/docs/current/reference/html/#batch-listeners)
It would be nice if I could do this in `quarkus-smallrye-reactive-messaging-kafka` too.

@cescoffier I

[2021-01-18 11:01] cescoffier commented on #925
@suleymancan do you have the code you used?

[2021-01-18 11:15] suleymancan commented on #925
ooh sorry @cescoffier, I am writing:
`application.properties`
[code]

`TestConsumerDeserializer.class`

I may have made a mistake here. I added value.deserializer because it is mandatory
[code]
`TestConsumer.class`
[code]

[2021-01-18 11:51] cescoffier commented on #925
You are injecting CouponBatchItem while you deserialized TestConsumer.

[2021-01-18 13:36] suleymancan commented on #925
My fault. I tried to sample code here. I misspelled some class names. I edited my message. 🙏 I'm getting a casting error as I am editing it.

[2021-01-19 15:40] loicmathieu opened #945 "Provides Kafka Transaction support"
Kafka Transaction support is usefull to provides:
- Atomic send of multiple messages
- Atomic consume / send of two messages to provides "processor" semantic (a component that reads from an inbound channel and write to an outbound one).

Reactive messaging didn't provides (yet) batching of messages but it's already possible to implement a processor by annoting a method by both `@Incomming` and `@O

[2021-01-21 14:21] cescoffier commented on #804
In the case of a Multi to Multi, we can't manage (post) acknowledgment automatically, as the transformation may produce multiple messages from a single incoming one. So we cannot track the successful processing.

However, pre-ack and manual are supported.
I believe manual (which is the default) is the best in this case, and so you can ack the message individually when the `persistBatch` has comple

[2021-01-22 11:11] danielkec opened #950 "MP Emitter repackaged from unreleased spec is not marked as Experimental"
While there is a note in duplicated `org.eclipse.microprofile.reactive.messaging` package info that new features and changes against the spec are marked with `@Experimental` annotation.

https://github.com/smallrye/smallrye-reactive-messaging/blob/24e3993fd69e6bdc7a1bc60d4deee6a05788bfdd/api/src/main/java/org/eclipse/microprofile/reactive/messaging/package-info.java#L21-L26

`Emitter` and `Channel

[2021-01-22 15:13] #950 closed

[2021-01-26 10:23] #804 closed

[2021-01-26 10:25] loicmathieu opened #955 "Access the low level Kafka consumer / producer from the Kafka connector"
For some low level stuff, we need to have access from the channel the corresponding Kafka Consumer / Producer.

Idealy, those needs to be recoverable from CDI (directly of via the connector).

This allow for example to manyally pause a consumer.

[2021-01-27 14:43] cescoffier opened #958 "Migrate to Vert.x 4"

[2021-01-27 14:44] #958 closed

[2021-01-28 09:03] loicmathieu commented on #945
Another solution to using a `@Transactional` annotation would be to create another acknowledgement mode: `@Acknowledgment(TRANSACTED)` or to provides a `@IncominOutgoing(incomming="in", outgoing="out", transactional=true)` annotations.

[2021-01-28 09:41] mkouba opened #959 "Default invoker should support non-public mediator methods"
The default reflection-based invoker can use `Method.setAccessible(boolean)`. See `io.smallrye.reactive.messaging.AbstractMediator.initialize(Object)`.

[2021-01-28 14:04] #920 closed

[2021-01-28 14:18] #959 closed

[2021-02-01 22:33] vvavepacket opened #967 "High Availability - Multiple Cluster"
I'm currently using this library together with Quarkus to consume messages from a single cluster. Now let's say I have two different clusters. Currently for me to listen to both of these clusters, I need to specify two channels in the properties file and that means I also need to create 2 listeners:

[code]

But the problem is this library currently relies on `kafka.bootstrap.servers` (which just

[2021-02-02 06:49] cescoffier commented on #967
Just configure the bootstrap servers per channel:

[code]

[2021-02-02 06:49] #967 closed

[2021-02-04 06:59] cescoffier opened #974 "Pause the Kafka consumer when request reaches 0"
And resume it when new requests are made.

* When the amount of request reaches 0, create a timer tracking the requests. If no request is made during a given time, pause the consumer, avoiding the poll thread to break
* If during the grace period, requests are made, cancel the timer
* If the consumer is paused and new requests arrive, resume the consumer (and make sure the amount of request is pas

[2021-02-08 15:33] andreas-eberle opened #979 "Allow @Incoming with Multi argument"
At the moment, it is not possible to just receive an Multi in a method annotated with `@Incoming`. Therefore, if you want to process the stream of incoming messages (e.g. batch the incoming messages), you have produce another multi and add `@Outgoing` to then reconsume those messages (see source below).

Instead, it would be much cleaner to be able to consume a multi in a method annotated only wit

[2021-02-09 14:19] Rupert-RR opened #987 "Message sending never succeeds to Azure Service Bus"
I made an issue previously regarding claims-based security #882. As indicated in that issue, the underlying connection issue does not seem to be due to the authentication mechanism, since I can no connect to the Azure service bus using the Vertx AMQP client (it does seem to be necessary to set the SASL mechanism to `PLAIN` in order to connect, otherwise the connection works but any attempt to send

[2021-02-09 14:29] thomasandre84 opened #988 "Request for Synchronous KafkaResponse"
With Message Communication we want to prevent direct communication between the services.
Sometimes there is the case where we need inforamtion from a service and need to continue working on with the response.

Would sth. similar to the KafkaReplyTemplate be an option to be part of Smallrye Reactive Messaging?

[2021-02-09 15:47] cescoffier commented on #988
I believe it could be done. I've started to look at that a long time ago, but priorities changed.

[2021-02-09 16:22] cescoffier commented on #987
@gemmellr any idea?

I don't have access to Azure Service Bus, anything I can run locally?

[2021-02-09 19:15] gemmellr commented on #987
Just saw this. Some comments/thoughts from quick skim before I head off.

I dont have access either, and I'm not aware of anything you can try locally. There was a local Service Bus version originally, but they killed it some years ago (it wasnt the same anyway AFAIK).

The logs arent that helpful on their own. If you set the PN_TRACE_FRM environment variable (not system property) to 1 or true the

[2021-02-09 19:23] gemmellr commented on #987
Ah, missed the SASL point. Based on the description of needing to set PLAIN to be used, I expect that means ServiceBus is announcing the ANONYMOUS mech (which they use for CBS) before the PLAIN mech, so you needed to tell the client to use PLAIN since it would otherwise spot the ANONYMOUS first and use that.

[2021-02-09 19:37] Rupert-RR commented on #987
Thanks for the comments.

Setting `PN_TRACE_FRM` gives the following logs for startup:

[code]

followed shortly later by `[458328925:0] -> Close{error=null}`.

Sending via the Vertx AMQP client then gives:

[code]

and sending via Smallrye gives only:

[code]

after a while, followed by:

[code]

on a second attempt (after a small wait), and the same after a third attempt. **N.B.** I disabled `FI

[2021-02-09 19:45] Rupert-RR commented on #987
Disabling anonymous senders by adding:

[code]

to the configuration gives the following startup:

[code]

and attempting to send using the Smallrye client gives no result, whereas using the Vertx client works as before.

It seems to me that the connection made on startup by the Smallrye client must be blocking somewhere, so that attempts to send a message by it do not generate logs simply because

[2021-02-09 19:48] Rupert-RR commented on #987
If I am interpreting

```[1201387136:0] <- SaslMechanisms{saslServerMechanisms=[MSSBCBS, PLAIN, ANONYMOUS, EXTERNAL]}`

correctly, the service bus is announcing the `PLAIN` SASL mechanism before `ANONYMOUS` so the need to specify `PLAIN` SASL must have another cause.

[2021-02-10 08:23] thomasandre84 commented on #988
I could provide my protytype for this, if it helps. It's not nice code. I just made it working.

[2021-02-10 09:44] gemmellr commented on #987
On the SASL side, yes it is announcing PLAIN before it. Given that, I dont actually see a reason you should need to specify PLAIN as enabled then, so long as the username and password values are set, which clearly they are or it still wouldnt work even once you specified it.

Vertx-amqp-client (or rather vertx-proton beneath it) simply iterates the offered list in the order offered, and picks the

[2021-02-10 09:50] Rupert-RR commented on #987
There must be something else at play then, because if I do not force `PLAIN` then I cannot send messages (I get an unauthorised error, as if the anonymous connection is open to allow me to authenticate using CBS).

It does not surprise me that Microsoft is misinterpreting the standard with regards to `EXTERNAL` - they are good at that!

[2021-02-10 10:02] gemmellr commented on #987
I would be curious to know what it does then, I assume it somehow uses ANONYMOUS, even though I dont see a way for it to. There should presumably be a visible protocol trace difference to warrant an actual difference in behaviour, can you see what it is?

On the non-SASL element, the two scenarios in your last set of logs are sending to different places. Is it possible the configuration isnt as ex

[2021-02-10 10:17] gemmellr commented on #987
Ah, my bad, it will be the EXTERNAL thing causing the issue. I forgot the client actually locally sorts its preferred mechanisms. EXTERNAL being there will mean it tries it, unless you restrict it to PLAIN so it cant.

[2021-02-10 10:26] cescoffier commented on #988
Yes please!

On Wed 10 Feb 2021 at 09:23, Thomas Andre <notifications@github.com> wrote:

[2021-02-10 11:20] Rupert-RR commented on #987
And my bad for the different addresses — it was bound to happen — I was attempting to clean all names from the actual names I used in my code, and I missed one, so the addresses are actually the same.

[2021-02-10 16:53] thomasandre84 commented on #988
https://github.com/thomasandre84/quarkus-tryouts/blob/master/quarkus-kafka/src/main/java/org/acme/commandmode/ProdConsService.java

I've put it all in one package: https://github.com/thomasandre84/quarkus-tryouts/tree/master/quarkus-kafka/src/main/java/org/acme/commandmode

[2021-02-10 17:48] cescoffier commented on #988
Thanks!

On Wed 10 Feb 2021 at 17:54, Thomas Andre <notifications@github.com> wrote:

[2021-02-12 16:09] pcasaes opened #992 "When using CooperativeStickyAssignor in kafka getting unhealthy on non fatal RebalanceInProgressException"
According to the docs this exception is NON FATAL

https://kafka.apache.org/documentation/#upgrade_250_notable

I can definitely work on this. I'm thinking we can create a configurable list of exceptions that won't mark liveness unhealthy.

[2021-02-12 16:53] cescoffier commented on #992
That would be great!

[2021-02-12 18:37] pcasaes commented on #992
Looks like this was already fixed on 2.7.1
https://github.com/smallrye/smallrye-reactive-messaging/blob/2ccf50ce788572e8af78e822a96de45bca6ecc50/smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/KafkaSource.java#L279

[2021-02-13 07:59] cescoffier commented on #992
Yes, but that's only for this type of exception.

On the sender side, we have a list of unrecoverable exceptions:

[code]

No need to retry when you see these, it's not going to work.

[2021-02-16 10:18] Azquelt opened #1002 "Support MP Config 2.0 for MP Reactive Messaging 1.0"
I'd like to make Reactive Messaging 1.0 work with MP Config 2.0. I think `ConnectorConfig` would be the only class which would need updating to be compatible since it implements the `Config` interface.

Ideally I'd have liked to make a new version which works with both MP Config 2.0 and 1.x, but I don't think that's easily done since 2.0 adds methods to the `Config` interface which reference class

[2021-02-16 10:54] cescoffier commented on #1002
One of the issues I faced in the implementation of these new methods. Not necessarily easy or happy with what I have in SR RM 3.x.

[2021-02-16 11:38] Azquelt commented on #1002
There were a few bits I wondered about. If I end up making changes to `ConnectorConfig`, I'll be sure to open a PR for those changes in the 3.x branch as well.

[2021-02-17 14:43] Azquelt commented on #1002
Upon further investigation, I don't think this is actually possible.

The `1.1.0` release has changes which make it incompatible with the Reactive Messaging 1.0 API (in particular, `Message` implementations need to override the default `getAck()` for acknowledgement to work correctly.)

We can't branch off from the `1.0.8` release either because we can't support both MP Config 1.x and 2.0 with one

[2021-02-17 14:43] #1002 closed

[2021-02-17 15:29] vgallet opened #1013 "Kafka Producing Retry Expiration Time"
Default Apache Kafka producer is configured with a number of retry set to [Integer.MAX_VALUE](https://docs.confluent.io/platform/current/installation/configuration/producer-configs.html#producerconfigs_retries). It causes [KafkaSink](https://github.com/smallrye/smallrye-reactive-messaging/blob/master/smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/KafkaSin

[2021-02-18 12:56] stphngrtz opened #1016 "How to propagate JTA state?"
I would like to propagate JTA state (= the transaction) between a transactional REST endpoint that emits a message to a reactive-messaging connector.

[code]

and

[code]

As I understand, context-propagation is responsible for making the transaction available (see `io.smallrye.context.jta.context.propagation.JtaContextProvider#currentContext`). The problem seems to be, that `currentContext` gets

[2021-02-19 07:23] cescoffier commented on #1016
Unfortunately, there is no direct support for this.
To pass the transaction, use:

[code]

and in the consumer method:

[code]

However, because your transaction is bound to the request scope, the transaction is terminated when the endpoint produces a result, and so not when the consumer method does something with it. You would need to transform your endpoint to be asynchronous (return a Completio

[2021-02-19 09:00] stphngrtz commented on #1016
I am not trying to pass the transaction from producer to consumer. The problem I am describing is between resource and outgoing connector.

[code]

I have provided a reproducer for you: https://github.com/stphngrtz/smallrye-reactive-messaging-issue-1016

[2021-02-19 09:06] cescoffier commented on #1016
Do you mean over the network? If that's the case it's not supported.

[2021-02-19 09:11] cescoffier commented on #1016
Regarding the reproducer, it's what I described above. The `emitter` must send a `Message` with the transaction in the metadata of the message. The connector can retrieve the Transaction from the `Message`.

However, as said above, be careful of the lifecycle as the transaction is generally discarded when the request scope is terminated.

[2021-02-19 09:26] stphngrtz commented on #1016
Within the same JVM, not over the network. I am just trying to propagate the transaction from the REST resource (using emitter, reactive messaging API) to the outgoing connector (API implementation that is supposed to actually send the message).

If I have to do this manually via metadata, whats the point of having context propagation? I mean, [this](https://github.com/smallrye/smallrye-context-pr

[2021-02-19 09:44] cescoffier commented on #1016
There are some cases, but yes, at the moment using the context propagation with the emitter is not working as most people would expect.

We had worked on a better integration (capturing the context during the emission, and adding the context to the metadata automatically), but it was not mature enough and we rolled back it. The problem was mostly around leaks as we may have kept references on rele

[2021-02-19 09:44] cescoffier commented on #1016
BTW, if you have a better idea, PRs are more than welcome :-)

[2021-02-20 18:47] eriknyk commented on #695
Hello I'm using v2.4 but still facing an issue:
https://github.com/smallrye/smallrye-reactive-messaging/pull/699#issuecomment-782731167

Regards.

[2021-02-20 18:50] eriknyk opened #1019 "Added support to enclose the channel name with double quotes"
I'm using v2.4 and it still not works.
In theory with this PR https://github.com/smallrye/smallrye-reactive-messaging/pull/699 should fix it however I'm still facing an issue with a determined key:

My conf:

[code]

There is a problem with `mp.messaging.incoming."tc.payments.domain_event.job_created".value.deserializer`

Error Output:

[code]

Can you help with that please?

Best Regards.

[2021-02-20 18:54] cescoffier commented on #1019
Looks like a bug. Kafka requires a bit of processing before passing the configuration to the underlying Kafka client. Something may be wrong during that processing (I guess).

[2021-02-22 06:57] dependabot-preview[bot] opened #1022 "Your .dependabot/config.yml contained invalid details"
Dependabot encountered the following error when parsing your `.dependabot/config.yml`:

[code]

Please update the config file to conform with Dependabot's specification using our [docs](https://dependabot.com/docs/config-file/) and [online validator](https://dependabot.com/docs/config-file/validator/).

[2021-02-22 07:24] #1022 closed

[2021-02-22 11:42] stphngrtz commented on #1016
I'd love to, but with the amount of time I can spare for this, I don't see this happening in the near future.

For the application I am working on a decision has been made to go without reactive messaging for the time being, because of this _bug_. Digging deeper into it and then maybe come up with a solution would require much time and thus probably break our roadmap.

Anyway, thanks for your fast

[2021-02-22 11:53] cescoffier commented on #1016
You know you can just change the channel name? The topic and the channel name can be different.

I can't see how this is a blocker as the workaround is straightforward.

Anyway, I will have a look to the bug.

[2021-02-22 11:54] cescoffier commented on #1016
(Deleting previous comment as it was posted on the wrong issue :-))

[2021-02-22 11:54] #1016 closed

[2021-02-22 11:55] cescoffier commented on #1016
Closing issue.

Hopefully we will have a better solution soon, but yes right now it's convoluted.

[2021-02-23 10:12] #1019 closed

[2021-02-23 15:30] flansen opened #1053 "Default Kafka Config overrides more specific consumer/producer configuration"
Hi,

I'm using Smallrye Reactive Messaging with Quarkus 1.11.3.Final.

### Setup
I provide a default configuration for kafka as mentioned [in the docs](https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2.1/kafka/kafka.html#kafka-default-configuration):

[code]
Now I configure my incoming kafka connector in the application.yml

[code]

### Expectation:
Setting `fetch.min.b

[2021-02-23 20:05] cescoffier commented on #1053
You are absolutely right. It should be switched!

[2021-02-24 09:25] flansen commented on #1053
I have coded the fix, but I'm not allowed to create a new branch for this repository. If you allow me to contribute, I'll open the PR for it. :)

[2021-02-24 09:26] cescoffier commented on #1053
Thanks @flansen!

You need to create a PR from a fork.

[2021-02-24 10:27] flansen commented on #1053
Thanks for explaining, this is my first time contributing... :)

https://github.com/smallrye/smallrye-reactive-messaging/pull/1057
is my PR for it, I guess I can link it somehow to this issue?

[2021-02-24 11:23] cescoffier commented on #1053
Fix by #1053

[2021-02-24 11:24] #1053 closed

[2021-03-01 10:39] cescoffier commented on #633
That was contributed by @gemmellr

[2021-03-01 10:39] #633 closed

[2021-03-01 17:36] anaray opened #1076 "How to handle exceptions/errors when using Emitter and smallrye-http"
How can I handle and recover my application if the downstream HTTP service is down? In my case case I am getting
[code]
Even after the downstream service comes back, I am getting above exception. Is there a way to re-subscribe? Documentation doesn't contain resiliency section https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2/http/http.html#http-outbound

I have an Emitt

[2021-03-01 17:41] cescoffier commented on #1076
Which version are you using?

If you are using Quarkus, there is a dedicated connector for Http which is
more advanced than this one.

On Mon 1 Mar 2021 at 18:36, anumodh <notifications@github.com> wrote:

[2021-03-01 17:44] anaray commented on #1076
@cescoffier I created a ticket in Quarkus too https://github.com/quarkusio/quarkus/issues/15344 .
The Quarkus version is Quarkus 1.11.1.Final.

[2021-03-01 18:03] cescoffier commented on #1076
In Quarkus, you should not use this smallrye-http connector. See https://quarkus.io/guides/reactive-messaging-http.html

[2021-03-01 23:58] anaray commented on #1076
Thank you @cescoffier . Using quarkus-http solved my issue.

[2021-03-01 23:58] #1076 closed

[2021-03-04 09:11] ferencbeutel4711 opened #1078 "Unable to send tombstone message"
Hello there,

we have the requirement that we need to send a kafka message programatically (so using the channel-based approach with the annotations would not work for us)
To get it to work we used the Emitter coming from the org.eclipse.microprofile.reactive.messaging package. However, that emitter expects a Message, which cannot have a null payload.

How are we supposed to send a tombstone recor

[2021-03-04 09:21] cescoffier commented on #1078
First, even on _channel_, you can customize the destination using message metadata.

Then, to send a tombstone, send:

[code]

[2021-03-04 09:34] ferencbeutel4711 commented on #1078
Hi, thank you for your swift response. I understand that when using the channel-based approach with the annotations, you can send a tombstone record by the way specified by you. However, we cannot use the annotation-based approach.
We have a scheduled method like this:

[code]

This piece of code is integrated into a bigger job-framework which is responsible for orchestration of this code over mul

[2021-03-04 09:58] cescoffier commented on #1078
Ah, sorry, I misunderstood!

Instead of `Message.of(null)`, use `Message.of(Record.of(key, null))`

Your emitter would need to be:

[code]

[2021-03-04 10:21] ferencbeutel4711 commented on #1078
Thanks again for your response and help. I can confirm that this is working and am happily closing the issue :)

[2021-03-04 10:21] #1078 closed

[2021-03-06 22:15] suleymancan opened #1080 "Preserving existing header values ​​when sending messages to Deadletter Topic"
Greetings.

My use case,
I'm reading a topic with the SmallRye kafka library in Quarkus application. If there is an error, the library sends a message to the deadletter queue.  I use, `dead letter-queue`as a `failure-strategy`.

I reading the messages sent to the deadletter queue in another application. I add the 'RetryCount' header to the messages I read. Then again I send a message to the topic

[2021-03-06 22:34] suleymancan commented on #1080
I noticed this feature in the new version (2.8.0) and I'm closing the issue.

[2021-03-06 22:34] #1080 closed

[2021-03-08 15:05] carlos-silva24 opened #1082 "In memory connector tests not working with async operations"
Greetings!

I was trying to update the test **testWithMessages** that can be found here: https://github.com/smallrye/smallrye-reactive-messaging/blob/master/smallrye-reactive-messaging-in-memory/src/test/java/io/smallrye/reactive/messaging/connectors/InMemoryConnectorTest.java

I'm running the test on a quarkus project (using the **smallrye-reactive-messaging-in-memory 2.4 version**). Because of t

[2021-03-08 17:23] cescoffier commented on #1082
The following code is invalid:

[code]

The in-memory connector requires receiving messages in a channel normally handled by a connector. It's not your case, as, from my understanding, your method is a consumer method. In this case, you can't use the in-memory connector (because that's not a connector). You will need to collect the items in your method and provides a method to retrieve them:

[cod

[2021-03-09 10:34] #1082 closed

[2021-03-14 19:09] dependabot-preview[bot] opened #1093 "Dependabot couldn't find the branch master"
Dependabot was set up to create pull requests against the branch `master`, but couldn't find it.

If the branch has been permanently deleted you can update Dependabot's target branch in the `.dependabot/config.yml` file in this repo.

[View the update logs](https://app.dependabot.com/accounts/smallrye/update-logs/71967707).

[2021-03-15 08:56] Ladicek opened #1096 "stop using `@Named`"
While I understand the desire to use stringly-typed injection from time to time (and I think it's OK), the `@Named` qualifier is a wrong way to do it. In CDI, `@Named` doesn't work as all other normal qualifiers do.

Imagine this:

[code]

Note that the injection point in `MapConsumer` doesn't declare a qualifier -- yet the `init` method prints `{foo=bar, baz=quux}`.

I'm pretty sure we (in SRye R

[2021-03-15 08:59] Ladicek commented on #1096
Also, for the cases where we use `Map<String, Object>`, we might want to create an extra type for this, but not exactly sure how much is it worth. The Kafka client API also uses `Map`s (or `Properties`).

[2021-03-15 09:06] mkouba commented on #1096
I think that a qualifier works better here.

The general problem with JDK types is that other extensions can produce a bean of the same type and if you only use the `@Named` qualifier then the `@Inject Map<String, Object>`  would result in an ambiguous resolution exception.

[2021-03-15 09:09] cescoffier commented on #1096
I'm not against using another qualifier, but it would need to be shared between Quarkus and SmallRye Reactive Messaging. I guess something for smallrye-annotations.

We used @Named because we wanted to disambiguate the injection and the user can only pass an id. Types won't work as

1. we are not in control of them
2.  we may have multiple candidates

So we need a way to identify the "one".

[2021-03-15 09:20] Ladicek commented on #1096
As I said, I'm totally fine with disambiguating based on string ID. I'm not in the camp of "must be 100% type-based".

As you point out, another option would be to invent a generic alternative to `@Named`, that would behave like a proper qualifier. I think I'd prefer using specific qualifiers for each use case (instead of one generic `@BetterNamed`), but I can't quite articulate why, it's just a f

[2021-03-15 09:22] cescoffier commented on #1096
We would have the same issue in the AMQP connector. So, better not bind it to Kafka.
What about `@Id` or `@BeanName`?

[2021-03-15 09:26] mkouba commented on #1096
`@Id` may be confused with `@javax.persistence.Id` and `@BeanName` can be confused with `Bean.getName()` (for which `@Named` is used ;-). Maybe something like `@Identified`?

[2021-03-15 09:27] cescoffier commented on #1096
Good point!
I've nothing against `@Identified`. @Ladicek WDYT?

[2021-03-15 09:57] Ladicek commented on #1096
I don't think `@Identified` works as is. Something is _named_ "foo", but it's not _identified_ "foo", it's _identified by_ "foo". That would lead to `@IdentifiedBy`, which is a bit ugly in my eyes. `@Identifier` would be better in my opinion.

Both are quite long, too, which I don't like, so I went and found that you can ask Google for synonyms of a word :-) I think JUnit Jupiter already grabbed `

[2021-03-15 10:05] mkouba commented on #1096
Well, the `@Identified` was an attempt to abbreviate "identified by the string value". `@IdentifiedBy` does not help much - it merely says that it's identified by something... not necessarily the `value` of the annotation. `@Identifier` looks ok. There's also: `@StringId` `@StrId`, `@StringIdentifier`.

[2021-03-15 10:12] Ladicek commented on #1096
We can call it `@StringlyTyped` :-D

For `@IdentifiedBy`, remember there's a mandatory `value` attribute, so it always looks like `@IdentifiedBy("foobar")`. Which I think makes sense.

In an unrelated project, I once came up with `@WithName`.

Or `@Designated` :-D

[2021-03-15 10:25] mkouba commented on #1096
`@IdentifiedBy("foo")` reads well. `@WithName("foo")` is also OK, I also used similar approach in several projects.

[2021-03-15 10:37] Ladicek commented on #1096
Alright, I'll submit a PR to SRye Common and we can discuss there.

[2021-03-15 15:16] cescoffier commented on #1093
Branch updated to `main`.

[2021-03-15 15:16] #1093 closed

[2021-03-15 15:17] cescoffier commented on #992
Closing.

[2021-03-15 15:17] #992 closed

[2021-03-16 13:28] r00ta opened #1103 "Add custom header to message before it is sent to dead letter queue"
Hi!

I'm trying to add a custom header to the message I fail to process, but as far as I can see the header is not there in the new event in the dead letter queue.

Here's a snippet of my application that adds the custom header before I send the `nack`

[code]

Is this scenario not supported or am I doing something wrong? Or am I facing a bug? If needed, I can create a separated reproducer.

Thank

[2021-03-16 15:11] cescoffier commented on #1103
It’s an interesting feature. At the moment you can’t modify the header
passed to the dlq. We should provide a way to customize the written record.

On Tue 16 Mar 2021 at 14:28, Jacopo Rota ***@***.***> wrote:

[2021-03-17 10:37] #1013 closed

[2021-03-17 14:58] Ladicek commented on #1096
I just found that some injection points for `Instance<Something>` actually rely on this behavior (that `@Named` isn't a proper qualifier and if there's no other qualifier, the bean also has the `@Default` qualifier), because they didn't use the `@Any` qualifier. Fixing them as I find them.

[2021-03-17 16:41] cescoffier commented on #1096
Thanks @Ladicek !

[2021-03-18 13:33] #1096 closed

[2021-03-21 21:06] arvidvillen opened #1117 "Add support for AWS SQS"
Add support for AWS SQS: https://aws.amazon.com/sqs/

[2021-03-23 14:01] Ladicek opened #1125 "AMQP producer requests credits asynchronously, leading to possible subscription error"
I'm playing with the AMQP connector and found an interesting thing that I'd personally call a bug.

I have a textbook producer configured to produce messages into a queue in an Artemis broker:

[code]

There's nothing else in the application -- it just pushes messages into a queue. However, when I run it, I get nothing -- no messages appear in the queue, no error message is printed to the log, not

[2021-03-23 14:33] cescoffier commented on #1125
It's an interesting scenario. Ticks does not handle backpressure (you can't constraint time), meaning that if you emit too quickly it will fail with a back pressure error.
In general we combine ticks with an overflow strategy such as:

[code]

Now, is this a bug or expected.

`request` can be asynchronous or synchronous. It's up to the "source" to decide how it will handle it. However, it must not

[2021-03-23 15:54] Ladicek commented on #1125
My workaround does work with Quarkus, because the initial `request` is not called from an event loop thread (and that's expected, IIUC, because it submits the "get credits" task to the event loop -- so it knows the original thread might be / often is something else).

Now, how do we improve this? I'm going to claim that "no error is printed and no message is produced" is a bug (one that took me a

[2021-03-23 16:45] cescoffier commented on #1125
The fact it does not print anything is definitely a bug. I can see why.
The failure is propagated (good) but because there is no subscription yet, it can't pass the failure downstream.

That being said, there is another weird part, how can you produce items if the outbound connector did not subscribe yet. I will look at your reproducer, there is something weird there too.

[2021-03-24 08:32] Ladicek commented on #1125
This is what I was scratching my head about, actually. Because as far as I can tell, there _is_ a subscription -- it just didn't request anything yet (because it first needs to get credits from the broker). That's why deferring the first tick for a few seconds helps -- the asynchronous process that gets credits and then requests items has a chance to finish.

[2021-03-24 14:56] vsevel opened #1130 "Can't send messages using reactive producer to AMQ Broker through Interconnect"
I have replicated a mix of https://quarkus.io/guides/amqp and https://quarkus.io/guides/jms in a quarkus client 1.11, and the qpid jms client 0.58-SNAPSHOT.
the other components:
- Red Hat Interconnect 1.10.0 (qpid-dispatch 1.14.0),
- Apache ActiveMQ Artemis Message Broker version 2.16.0.redhat-00012 [amq-broker, nodeID=71402bc5-8180-11eb-9f9e-0a580a87056d]
those components are deployed in OCP 4.6

[2021-03-24 17:47] cescoffier commented on #1130
@gemmellr Anything specific for interconnect?

[2021-03-24 18:14] vsevel commented on #1130
might be the same issue than [this case](https://access.redhat.com/support/cases/#/case/02901196), where I found that using the qpid jms client lead to different outcomes depending on:
- jms 2.0 api style + interconnect => error
- jms 1.1 api style + interconnect => OK
- jms 2.0 api style + broker => OK
- jms 1.1 api style + broker => OK
if there was an exception talking to interconnect, would sma

[2021-03-24 18:34] gemmellr commented on #1130
You dont mention what your router<->broker setup is, by I expect from the description that you are using link routing to the broker. As such you need to use fixed-address producer links so the link can be 'passed through' to the broker. Smallrye-reactive-messaging defaults to using a single 'anonymous' producer link with each message sent specifying its destination rather than the link itself. The

[2021-03-25 09:31] cescoffier commented on #1125
I tracked down the issue and found the _culprit_.

The `ticks` are started at subscription time and not when it gets the first requests. Most of the time these two events are close enough so it does not fail. But, here, emitting the first request takes time (as we need to retrieve the credits from the broker) and ... boom.

One way to fix the problem would be to fix the Mutiny "ticks", to only sta

[2021-03-25 15:26] vsevel commented on #1130
hello @gemmellr, it worked successfully with `use-anonymous-sender=false`.

we are using link routes:

[code]

[2021-03-25 15:26] #1130 closed

[2021-03-25 17:21] Traivor opened #1134 "dynamic channels"
I have a project where I need to be able to publish to arbitrary channels determined at runtime. Basically I'm wanting to dispatch jobs to region appropriate channels. I tried this as a test with a static channel name that works fine when used the normal way:

[code]

Unfortunately that results in:

Is there some way to dynamically bring up channels after startup?

[2021-03-29 15:01] ferencbeutel4711 commented on #955
this is badly needed for any kind of error handling on connectivity issues :(

[2021-03-29 15:26] cescoffier commented on #955
How would it help you do handle connectivity issues?

[2021-03-29 15:26] cescoffier commented on #955
(just to be sure I design the API correctly)

[2021-03-29 20:46] ferencbeutel4711 commented on #955
hi, please imagine the following example:

Kafka -> Quarkus App with smallrye -> Database

So in this example, the application is reading from a kafka topic, doing a transformation to the data and writes the result into a database.
If there is a connectivity issue with the database, some form of error handling is neccessary. One solution could be to implement pausing the consumption with an expone

[2021-03-30 06:11] cescoffier commented on #955
In the 3.x version, the consumption will be automatically paused if there are no requests.

Also, you can use Fault-Tolerance to add a retry (I'm not sure about the backoff - @Ladicek is this supported?).
You would be able to achieve the same with something like:

[code]

So, with the next version, when a failure happens, it will stops requesting, and so pause the consumption.

[2021-03-30 06:22] cescoffier commented on #1134
You can't use dynamic channels like this. However, you can attach metadata to messages to indicate where they should go (for example the Kafka topic). Would that work for you?

[2021-03-30 07:35] ferencbeutel4711 commented on #955
Hi, thank you for your answer. This does sound very promising, however, I still have some questions concerning your code example:

- Does this mean that the message will be kept in memory until it eventually could be processed successfully?
- will new messages be consumed from the source in the meantime and added to the Multi?
- Will the offset commit only be done on success?

[2021-03-30 08:02] cescoffier commented on #955
yes, however, as the offset is not committed, if it crashed, it will re-process it.

only the current batch (the number of records contained in a batch is configurable). Once the number of stored messages is greater than the requests, it pauses the consumption.

Yes, if post-acknowledgement is used.

[2021-03-30 08:16] Ladicek commented on #955
Unrelated, but since @cescoffier asked -- no, MicroProfile Fault Tolerance's `@Retry` doesn't support backoff (we agreed we want it, but couldn't agree on the API :-) ).

[2021-03-30 13:49] Ladicek commented on #955
I did think about that, yes (mostly because I wanted to show how the API should look like from my perspective, but also because it's useful :-) ). The thing with `@Retry` is that it's already overcrowded and hardcodes a single backoff strategy (constant delay). I have created an issue in SRye FT: https://github.com/smallrye/smallrye-fault-tolerance/issues/394

[2021-03-30 13:49] belkevglaz opened #1139 "Publishing to amqp exchange."
Is it possible to publish messages directly to amqp exchange to be able to use `fanout` or `topic` pub/sub mechanism out of the box?

[2021-03-30 13:50] cescoffier commented on #1139
The AMQP connector is for AMQP 1.0.

So, I'm not totally sure what you are talking about.

[2021-03-30 14:10] belkevglaz commented on #1139
Thanks @cescoffier.
I'm trying to migrate our product from `SpringBoot` to `Quarkus` and faced with some problems that were solved perfectly in `Spring Messaging`.
I'm would like to deliver messages to all consumers (queues) on RabbitMQ. In all guides mentioned outbound channels with simple configuration like `mp.messaging.outgoing.publish-channel.address` where address is a queue (looks like this

[2021-03-30 15:05] vsevel opened #1140 "Unable to reconnect producer after broker failure"
I have implemented https://quarkus.io/guides/amqp using:
- a cluster of 2 interconnect, connected using link routes to
- a cluster of 2 AMQ brokers

The interconnect and broker processes run in openshift 4. the client runs outside.
When I run the application, I first kill a broker. the application continues sending and receiving messages.
I wait until the killed broker is restarted and ready, then

[2021-03-30 16:27] Traivor commented on #1134
It would be nice if channels could be injected like this someday. It feels very CDI-y to me.

I hadn't noticed the metadata stuff. It might work, but:
* Is there some way to determine what kind of connector the channel is configured for?
  * I guess I could dig out the config property...
* Otherwise, is it possible to add all possible metadata types to a single message?
  * The javadoc suggests no

[2021-03-30 16:32] ferencbeutel4711 commented on #955
Hello again,

thank you so much for your ongoing help with all of our questions. We have tried out the mentioned approach today and can report that the proposed solution does work for us. We still have 3 questions though:

- Right now, we had to implement another inMemory-Channel to get the other channel started. Our assumption is that since the implementation proposal returns a Multi again, there

[2021-03-31 06:42] cescoffier commented on #955
There is an issue about that. Unfortunately, it's not done yet, and this new signature it not supported by the current specification.

In general, is this approach of error handling and working directly on the Multi-Stream common practice or are we far off the beaten track here?

You can use `message.ack()` and `message.nack(...)`, it's a right way as soon as you need to customize acknowledgements

[2021-03-31 06:42] cescoffier commented on #1139
You refer to RabbitMQ specific behavior. You will have to check how this can be done with the RabbitMQ AMQP 1.0 plugin (on the broker side).

[2021-03-31 06:44] cescoffier commented on #1134
We picked a different approach and validate the complete graph at startup (even at build time in Quarkus (coming soon)). So you can't define channels like this.

I don't see another way.

You can add as man y metadata as you want. a metadata is just an object.

[2021-03-31 06:47] cescoffier commented on #1140
@gemmellr any idea?

[2021-03-31 07:36] ferencbeutel4711 commented on #955
alright, thank you again so much for your support :) I think this is a good way to start including error handling and are eagerly awaiting version 3.x!

[2021-03-31 08:21] Ladicek opened #1141 "message interceptors"
It would be useful to have a notion of "message interceptors" for cases when you want to apply some cross-cuting logic to all messages on a number of channels (one, more than one, all). I hear from @cescoffier that this was discussed in MP Reactive Messaging, but couldn't find an issue in https://github.com/eclipse/microprofile-reactive-messaging/issues We could perhaps discuss the idea here and b

[2021-03-31 08:29] Ladicek commented on #1139
I'm no expert, but I believe that what @cescoffier is trying to explain is: the AMQP connector in SmallRye Reactive Messaging uses AMQP 1.0. The notion of "exchange" seems to be specific to AMQP 0.9.1. Even though numerically, the difference between 1.0 and 0.9.1 is something like 0.0.9 :-D, the reality is that AMQP 0.9.1 and 1.0 are two completely different protocols that have nothing in common b

[2021-03-31 08:31] cescoffier commented on #1141
That was related to https://github.com/eclipse/microprofile-reactive-messaging/issues/72.

[2021-03-31 08:49] #1139 closed

[2021-03-31 10:31] gemmellr commented on #1140
Knowing the use case from above description (and other issues here/elsewhere), the router will be closing the sender links when the broker they are link-routed to goes away (and/or isnt there when a new link is trying to be created). From the description, it sounds SRM may have handled this in one case but not another. From the stacktrace, presumably a particular sender link was closed and yet SRM

[2021-04-10 16:12] thomasandre84 commented on #988
Hello,
I've improved the readability a bit: https://github.com/thomasandre84/quarkus-tryouts/tree/feature/kafka-response/quarkus-kafka

[2021-04-12 08:16] Ladicek commented on #1125
Do we wanna close this (addressed in Mutiny), or is there something we could/should do on the Reactive Messaging side as well?

I'm thinking we should at least provide some form of error logging in case there's no downstream to which an error could be propagated. I'll submit a PR if you agree :-)

[2021-04-12 08:24] cescoffier commented on #1125
Yes, we need to log something in this case. I let you open a PR.

[2021-04-13 15:09] mostafacs commented on #925
I tried to use your aggregate code above and I got the following cast exception.

My consumer code:

[code]
[code]

[2021-04-13 15:29] cescoffier commented on #925
It's because a method receiving a multi cannot return `void`. There is an issue to add that, but I'm still puzzled as it would mean that you need to handle the subscription and back-pressure protocol yourself.

So, in the meantime, try with:
[code]

[2021-04-13 15:35] mostafacs commented on #925
My business logic is pretty different. I'm receiving multiple requests from Kafka and then I'm passing the chunk to be processed with another workflow engine (Temporal).
so,  Is it possible to receive all the chunk read from Kafka ?

[2021-04-13 15:38] cescoffier commented on #925
Well, just configure the group as you want. I just provide an example with a batch of 5, but you can do whatever you want, or if batching is not required (that was the idea of this issue), just consumes the records one by one.

[2021-04-13 15:43] mostafacs commented on #925
Probably, I'm not explaining well. What I want is to get this code working with void return type:
[code]
Can we get this feature?

[2021-04-13 15:47] cescoffier commented on #925
As I said it's tracked, but I'm not sure it's a good idea to add this feature. Indeed, you as user would need to subscribe to the received Multi, and managed the subscription, requests, and so on. It is NOT easy.

As posted before, there is a workaround for now.

If you need to received the Multi, use @Inject @Channel("my-data") Multi<X> multi; but then you will have to subscribe on it and do ever

[2021-04-13 19:08] #925 closed

[2021-04-13 19:19] cescoffier commented on #925
Just for me to be understand. What code would you have written in your method?

Is handling the subscription something you feel ok to do?

[2021-04-14 03:26] mostafacs commented on #925
The code I wrote in my method is call job workflow implemented with Temporal.io .
I want to get the chunk together because it’s related to the same user and better to handle them together.
Actually I don’t know. how I could manage subscription. But I find away to resolve that from workflow code by waiting a minute to group messages into a queue and then start processing them

[2021-04-14 06:00] cescoffier commented on #925
Ok, but your code would not work even if that signature would be supported.

Multi is a stream, it's not a group of objects. If you don't subscribe to the Multi, you will never receive the items. And once subscribe, you need to request the items when you have the capacity to handle them. Yes a lot of that is hidden in general, but such signature would require the user to deal with that kind of log

[2021-04-14 14:44] #1125 closed

[2021-04-15 17:51] mpodlodowski opened #1158 "Add support for NATS"
Add support for NATS: https://nats.io/

[2021-04-17 13:18] vladykin opened #1162 "Support intercepting and converting outgoing messages"
There a several cross-cutting concerns associated with emitting messages to outgoing channel:
* serializing domain objects to wire format
* logging the message that is about to be sent (and the result of sending)
* updating metrics

Having to write this stuff in all places of application where something is emitted or returned from an @outgoing-annotated method is inconvenient. It would be very han

[2021-04-18 07:50] cescoffier commented on #1162
That's an interesting idea. One thing is that AMQP is a bit behind in term of feature (in comparison to Kafka which have been a priority for the last few months). I have a few questions (mostly to collect ideas):

That's generally protocol specific? Typically in Kafka you can configure your serializer.  The AMQP protocol is strict in terms of type (AMQP Type system), however, for object (where we

[2021-04-19 06:59] Ladicek commented on #1162
Is this perhaps related to #1141? (If so, I guess we should keep this one open, as it has more details/ideas. I'd close #1141 as duplicate.)

[2021-04-19 10:01] vladykin commented on #1162
Well, MessageConverter used for incoming messages is not protocol-specific but works just fine.
What about OutgoingMessageConverter with a couple of methods like:
[code]
? Similar to MessageConverter, but without target type argument, which is to be decided internally by the converter.

Implementations can access protocol-specific metadata of Message, if they need to.

[2021-04-19 10:11] vladykin commented on #1162
I'd prefer a hook which would allow to intercept the following events: message about to be sent, message successfully sent (ack'ed by broker), message sending failed. And to reliably match all these events corresponding to a single message.

[2021-04-19 13:54] cescoffier commented on #1162
So, if I understand correctly, your `MessageConverter` is called before the connector is called. Because the first thing an outgoing connector does is to transform an incoming `Message` into its own protocol-specific structure.

[2021-04-20 20:15] vladykin commented on #1162
Yes, OutgoingMessageConverter I described can be called in the message processing pipeline before the message is passed to the outgoing connector.
Maybe there are advanced usecases when access to low-level connector-specific stuff is needed. But for my usecase - serializing protobuf object to byte array - such connector-agnostic converter would be enough.

[2021-04-21 11:02] butwhoareyou commented on #955
Hi,

I have another case which requires the access to underlying kafka-consumer.

I have topics:
price
price-retry-0
price-retry-n

I want to limit interval of polling in underlying kafka-consumer to achieve following behaviour using consumers from above topics:
price - (stream processing, no added delay)
price-retry-0 (lower delay, 0-60s)
price-retry-n (higher delay, 60s-600s)

What do you think

[2021-04-23 17:05] Gfuentesmo99 opened #1176 "How can I send a request every time I refresh a web page? - No suscriber found error"
Hello guys! I'm trying to make a webapp and I'd like to a message when I refresh the web(This is an easy example that I've made because it's easier to understand). I've tried with internal channels but I also tried with Kafka and it did not work too.

The failure message is "No subscriber found for the channel  "notify refresh"". When I tried it with kafka there was no error but it doesnt retrieve

[2021-04-26 11:15] cescoffier commented on #974
Done in the 3.x branch.
The chosen approach is slightly different, it does pause if the pending requests are less than the number of retrieved records.

[2021-04-26 11:15] #974 closed

[2021-04-26 11:18] cescoffier commented on #1134
Closing, please re-open if you need.

[2021-04-26 11:18] #1134 closed

[2021-04-26 13:39] #955 closed

[2021-04-26 14:30] cescoffier commented on #669
Connector move to attic.

[2021-04-26 14:30] #669 closed

[2021-04-26 22:40] Traivor commented on #1134
Sounds good. Thanks for the help.

[2021-04-28 10:53] ctron opened #1181 "When an MQTT connection dies, it fails with a NPE and never reconnects"
Assuming there is successfully connected MQTT connection, which then just dies. In the log you can see a NPE (`NullPointerException') and the client never reconnects.

[code]

<details>
<summary>Full exception stack trace</summary>

[code]

</details>

[2021-04-29 13:44] cescoffier opened #1189 "Investigate io.smallrye.reactive.messaging.kafka.client.ReactiveKafkaConsumerTest#testGroupingRecordsByPartition"
This test has been disabled as it was failing randomly on CI.

[2021-05-02 16:54] cescoffier commented on #1181
The Vert.x MQTT client does not support reconnection, unfortunately.

[2021-05-03 07:47] ctron commented on #1181
That would mean that smallrye must provide this part. Would you accept PRs fixing that in smallrye?

Because right now, that would make the feature completely unusable from my point of view. Never recovering and not reporting this condition wouldn't allow any serious usage of the feature.

[2021-05-03 08:07] cescoffier commented on #1181
Yes, sure, even if last time I checked it was quite complicated and should probably be something to add to the MQTT client directly.

[2021-05-04 06:37] ctron commented on #1181
It looks like a PR for this already exists: https://github.com/smallrye/smallrye-reactive-messaging/pull/1081

Also it looks to me as if adding a functionality like this is too opinionated for vertx: https://github.com/vert-x3/vertx-mqtt/issues/66

My proposal would be focus on the PR mentioned above. It looks like we are not the only ones having interest in this feature.

[2021-05-04 07:09] cescoffier commented on #1181
Well, yes, there is another PR and good reasons while it's not merged yet. A quick run revealed a hidden thread pool and the _reactive_ API is just delegating blocking calls on that thread pool. So, not really in line with the overall architecture.

The outcome of vert-x3/vertx-mqtt#66 does not seem to be valid. I've discussed it with @vietj about it, and it's definitely a feature the client shoul

[2021-05-04 11:54] cescoffier commented on #1176
You are creating a cycle, I don't believe it would work.
With Kafka is will work because it cut the cycle.

[2021-05-04 11:55] cescoffier opened #1195 "Allow Kafka consumer to specify the initial offset"
The idea is to allow the application to define which offset should be read first.
This can be done using the `seek` method on the Kafka Consumer.

CC @Ladicek that's what we discussed.

[2021-05-05 14:06] Ladicek commented on #1103
I see where the problem is. `Message` exposes an immutable interface, so when you do

[code]

the 1st line creates a new `Message` (and immediately discards it), and the 2nd line calls `nack` on the original `Message`.

However, even if you fixed the code to do

[code]

it still wouldn't work. The new `Message` would carry over the old nack handler, which would use the old `Message` state.

I'll s

[2021-05-05 15:36] Ladicek commented on #1103
I have prototyped something here: https://github.com/Ladicek/smallrye-reactive-messaging/commits/modify-kafka-dlq-metadata

I need to look at how to actually propagate the outgoing metadata into the nack handler -- the rest should be good.

[2021-05-05 16:41] cescoffier commented on #1103
The metadata is immutable to avoid concurrent access, which had lead to many issues in the first attempt of the APIs.
However, the metadata object themselves could be mutable. So, you can inject a metadata object in the message (in the incoming connector), and modify its state.

[2021-05-06 07:26] Ladicek commented on #1103
I don't really mind the metadata -- what matters is the message :-)

At this point, I'm thinking it would probably be best to add `nack(Throwable, Metadata)` to the existing `nack(Throwable)`. If the underlying connector supports it, the `Metadata` would be used in the nack handler. For example, when the Kafka connector forwards the nacked message to a dead letter topic, it would look for `Outgoin

[2021-05-06 09:02] Ladicek commented on #1103
So it seems the idea is entirely possible. I pushed the prototype here: https://github.com/Ladicek/smallrye-reactive-messaging/commits/modify-kafka-dlq-metadata

With this change, the original use case would be solved with:

[code]

@r00ta WDYT?

[2021-05-06 09:11] ctron commented on #1181
Implementing such a feature isn't a big (technical) problem. It only looks to me like people ask for it, so do we. I think I can find the time do the implementation. But I would really like to focus on the technical aspect then, and not go into lengthy discussions on the "why" and "where". So if you can tell me "where" and "how" you would want to see this fixed, then I can try to get it done as so

[2021-05-06 09:14] r00ta commented on #1103
Hi @Ladicek , thank you very much for taking care of this. From my perspective I think this is going to cover my scenario :+1:

[2021-05-06 09:26] Ladicek commented on #1103
Perfect, thanks! I'll write some documentation and submit a PR.

[2021-05-06 11:04] cescoffier commented on #1181
That would be awesome!

[2021-05-09 16:10] #1103 closed

[2021-05-18 06:04] cescoffier opened #1214 "Allow receiving Kafka record by batch"
At the moment, the records are received one by one, requiring a method processing the stream to recreate a _batch_ (by size). It would be convenient to allow the user to receive the batch directly:

[code]

The underlying client should allow us to do this, and a converter should be able to call the method.

Acknowledgment would still be the same, except that when this method returns, we ack all th

[2021-05-18 08:27] ppatierno commented on #1181
@cescoffier it's totally wrong. The MQTT client HAS TO implement MQTT 3.1.1 specification and not other unrelated stuff. The rest has to be at higher level so at SmallRye level or application level.

[2021-05-18 08:40] cescoffier commented on #1181
Well, it needs to be somewhere. We got many requests for such a feature, even a fork of the connector using a different client that is handling the reconnect. Note that if the Vert.x client would have offered an easy way to detect connection failures and reconnect (as Paho is doing BTW), we would not need this new abstraction, and everything could have been done in the connector.

Now if you want

[2021-05-18 08:49] ctron commented on #1181
I think handling reconnects is something that is not specific to smallrye, but others using MQTT as well.

And other clients (like HiveMQ, Paho and Fuse) do it the same way. I am not sure why Vertx must be special here.

So, if that it is a huge problem for everyone involved to put it into vertx-mqtt, then I would suggest create a vertx-mqtt-reconnect-client project (or some other name) with the c

[2021-05-18 08:57] ppatierno commented on #1181
Regarding Paho having the reconnect feature, with a quick look on the code I noticed that it's just about reconnecting and then calling back to allow the higher level to add some logic. It's not trying to trace the subscriptions as we are trying to do with the PR on the Vert.x client. Anyway, If I am wrong please let me know maybe I missed some part of the Paho code.
AFAIK even when you implement

[2021-05-18 11:52] cescoffier opened #1215 "Migrate kscript to jbang"
The release process is still using KScript scripts and requires java 8.
It would be awesome to switch to Jbang. We did this work in Mutiny, and we don't regret it.

[2021-05-19 13:10] Ladicek commented on #1195
I've been looking into this for a while today and I believe we shouldn't attempt to allow _programmatically_ setting an _initial_ offset. There's just no good place in the code to do that. It is an error to seek on a topic/partition you haven't been assigned, so we'd have to wait for an initial assignment -- which gets notified through a rebalance listener.

Fortunately, Kafka itself has a way to

[2021-05-19 13:58] cescoffier commented on #1195
That's a good point!

+1 to expose seek operation. So, if you want a specific location, implement a rebalance listener which will be called during the assignment and let you seek the right position. (that would need to be documented).

[2021-05-19 14:46] Ladicek commented on #1195
Thanks! I'll see what's the best place in the documentation to mention this.

[2021-05-19 15:17] Ladicek commented on #1195
Actually I see that our `KafkaConsumerRebalanceListener` already provides access to the Kafka `Consumer`, and our documentation for consumer rebalance listeners even contains an example of `seek`-ing. So we already have everything that's needed for this.

I'm just thinking I will add a short section on `KafkaClientServices` to the documentation and that will be it.

[2021-05-22 14:30] diogenes1oliveira commented on #1214
This functionality would help me a lot as well. I suppose we can do some tricks with Multi<> and Uni<> but it isn't clear how that would work, at all.

Some suggestions on how to implement microbatches would be very welcome!

[2021-05-24 15:50] kenfinnigan opened #1222 "Disable Vertx Tracing when producing Kafka Messages"
To prevent duplication of spans between Reactive Message and Vert.x Tracer, we need to disable tracing from Vert.x when we're producing Kafka messages and we've created the span ourselves

[2021-05-24 16:18] #1222 closed

[2021-05-26 14:36] #1195 closed

[2021-05-29 13:39] Omega1001 opened #1229 "Cycle detection wrongly reports joins as Cycles"
If I build an app where Messages are put on a reactive messaging stream that branches onto two or more services and then joins in a common Terminator etc., a  loop is detected where there is none:

The Setup is as follows:
![setup](https://user-images.githubusercontent.com/10009846/120071826-28aab880-c091-11eb-8d7b-f9475d4ca749.png)
Apparently it contains no loop and should work without problems

[2021-05-29 14:40] Omega1001 commented on #1229
I did some more Debugging on this.
Here is what I found out:

**The Cause of the Problem**
The problem is located in the Class `io.smallrye.reactive.messaging.wiring.Graph` which is part of the `io.smallrye.reactive:smallrye-reactive-messaging-provider` project.

There, the `detectCycles()` method is used to find out if the Graph has a cycle in it.
It does that by rooting the Graph at the initial

[2021-05-29 14:43] cescoffier commented on #1229
Thanks for the analysis! Looks good, fancy a PR?

On Sat 29 May 2021 at 16:41, Omega1001 ***@***.***> wrote:

[2021-05-29 17:59] Omega1001 commented on #1229
Glad if I can help.

I'm good at the moment, but thanks anyway.

[2021-05-31 06:23] fritzb opened #1230 "Sending Message in MutiniyEmitter which returns Uni<Void>"
In `MutiniyEmitter` interface, there exist a method below to send message M, and unfortunately it is subscribed and is not returning Uni<Void>
`<M extends Message<? extends T>> void send(M msg);`

I'm proposing to add a new method below to assist sending message M which returns Uni<Void>.

`<M extends Message<? extends T>>  Uni<Void> send(M msg);`

This is useful for sending Kafka message where th

[2021-05-31 07:02] cescoffier commented on #1230
Unfortunately, that new method would conflict with the existing one (Java signature). So, we would need another name. Also, if the passed message is configured with custom ack and nack, implementing such support would erase them, which can be dangerous (that's the reason why this method does not return a Uni).

[2021-05-31 13:10] #1181 closed

[2021-05-31 18:08] fritzb commented on #1230
Sorry, I'm new to the framework. Could you explain how would ack/nack will have to be erased ?
If custom ack/nack can't be supported, how about throwing Illegal Argument exception when configured ?

[2021-05-31 18:50] cescoffier commented on #1230
ack/nack functions are configured on the Message. They are called when the message is acknowledged positively or negatively.

When using send(Payload), we create a basic message with the ack and nack configured to report to the produced Uni. For a payload, it's fine because no one except the framework can pass the ack and nack:

[code]

If a add the method (which would need another name) we can't

[2021-05-31 19:11] fritzb commented on #1230
Thanks for the explanation. I'm closing this issue.

[2021-05-31 19:11] #1230 closed

[2021-06-01 07:17] #1229 closed

[2021-06-01 20:19] diogenes1oliveira opened #1237 "Manually assign partitions in the Kafka consumer"
Is there a way to make Smallrye call assign() with a custom list of partitions instead of subscribe()? I tried doing it in a rebalance listener but Kafka complains, I figure this method must be called once the subscription process is already done:

[code]

I get the error

[code]

Is there any way to do this? It is very useful to debug topics in production when our development machine has read acc

[2021-06-02 07:30] Ladicek commented on #1237
This is currently not possible, AFAICS. If it was enough for you to specify this in configuration, that should be relatively simple to implement. For example, instead of

[code]

you'd write something like

[code]

Kafka topic name is `[a-zA-Z0-9._-]+`, so `:` should be OK to use.

WDYT?

[2021-06-02 12:00] diogenes1oliveira commented on #1237
Indeed it would be good enough. The subscription seems to be implemented here: https://github.com/smallrye/smallrye-reactive-messaging/blob/a0554ca40c1677d6a8ec524724172c697a168b3a/smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/KafkaSource.java#L115-L119

I think we'd just had to add another branch in the `if`, is that correct?

[2021-06-02 12:07] Ladicek commented on #1237
That is correct, yes.

[2021-06-02 12:42] diogenes1oliveira commented on #1237
Cool! Perhaps I'll be opening a PR about it. By the way, where is KafkaConnectorIncomingConfiguration defined? I grepped the source code but couldn't find the definition

[2021-06-02 12:49] cescoffier commented on #1237
@diogenes1oliveira it's created from the `@ConnectorAttribute` annotations from the `KafkaConnector` class.

We have an annotation processor reading the attribute and generating the config class (as well as the asciidoc tables for the doc)

[2021-06-03 18:11] tcerdaITBA commented on #1117
@cescoffier

I would love to collaborate with this implementation but I have a few theoretical doubts when it comes to backpressure and implementing the incoming connector.

First a high level overview of how SQS works. SQS offers a long polling mechanism (max 20 secs), can return up to a maximum of 10 messages per poll/batch and AWS offers an async SDK. So a very simple implementation for a Publi

[2021-06-03 18:53] cescoffier commented on #1117
I don't now SQS, but Mutiny will only retry when there is request. So, I believe the back pressure will be managed.

[2021-06-04 14:39] Ladicek opened #1243 "message-level retry for Kafka producers"
When consuming from Kafka topics, SmallRye Reactive Messaging provides a message-level retry (configured using `retry`, `retry-attempts` and `retry-max-wait`). This is _in addition_ to Kafka's consumer retry, which happens on the network level. For example, Kafka's consumer won't retry in case of a deserializer error, even though that error might have been caused by a temporary network glitch when

[2021-06-04 14:41] Ladicek commented on #1243
One obvious possible problem is ordering.

[2021-06-09 10:45] ctron opened #1246 "[MQTT] Connection timeout of seconds used as milliseconds"
The `connection-timeout-seconds` is actually passed to a method which accepts milliseconds:

https://github.com/smallrye/smallrye-reactive-messaging/blob/271ba4444dde4aa331d5cbe5f3cf237200199abc/smallrye-reactive-messaging-mqtt/src/main/java/io/smallrye/reactive/messaging/mqtt/MqttHelpers.java#L28

https://github.com/eclipse-vertx/vert.x/blob/d99eb5c933ed5aad94039d23b591dcc45e4236b9/src/main/java/

[2021-06-09 12:28] #1246 closed

[2021-06-10 10:13] ozangunalp opened #1253 "Log Kafka message deserialization error on recovery"
Deserialization failure recovery should log the `deserializationFailure` when no `DeserializationFailureHandler` is configured otherwise, the exception is lost and the value is replaced with `null`.

[2021-06-10 10:35] cescoffier commented on #1253
Fancy a PR?

[2021-06-10 10:36] ozangunalp commented on #1253
On it

[2021-06-10 13:51] #1253 closed

[2021-06-10 13:51] Ladicek commented on #1253
Hope I assigned milestones correctly, this is the first PR I ever merged here :-)

[2021-06-14 07:48] cescoffier opened #1255 "Decrease the log level of SRMSG18246 and SRMSG18247"
INFO is too high, DEBUG would be better, it's rather low level messages:

[code]

[2021-06-14 11:24] #1255 closed

[2021-06-14 14:00] spike83 opened #1259 "Kafka: Liveness probe fails after rebalance took place"
I'm using quarkus 2.0.0.CR3 and therefore smallrye kafka 3.3.2

Consuming a high velocity stream with multiple consumers in a group.
Using `commit-strategy: throttled`

Incoming channel is annotated like this:
[code]
In here I have some async operation (Elasticsearch BulkPorcessor) etc. which ack / nacks the messages.

When a new consumer joins on the others I get

`SRMSG18239: Acked record 804115

[2021-06-14 14:01] cescoffier commented on #1259
Hum, that's definitely a bug, the failure should not be "fatal".

[2021-06-14 14:02] cescoffier commented on #1259
Oh, I got it, when we rebalance we should clear the message queue waiting for acknowledgment. I'm surprised because I was sure it was done. anyway, that's a bug.

[2021-06-14 14:12] Ladicek commented on #1259
Should we clear the entire queue, or just remove messages that belong to partitions we no longer consume?

Just curious -- I'm not totally sure what's best (or correct, FWIW).

[2021-06-14 14:14] cescoffier commented on #1259
Yes, that's the idea.
Removing the message that can't be committed anyway.

[2021-06-14 14:14] cescoffier commented on #1259
I need to refresh my memory, but I vaguely remember that the queue is actually a map per partition

[2021-06-14 14:32] cescoffier commented on #1259
Hum, I may found the problem: https://github.com/smallrye/smallrye-reactive-messaging/blob/main/smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/commit/KafkaThrottledLatestProcessedCommit.java#L139 ?

That seems to be something introduced with the new Kafka client. I need to double-check which set of partitions we get.

[2021-06-14 14:34] cescoffier commented on #1259
No, it seems ok, we get the "The list of partitions that were assigned to the consumer and now need to be revoked (may not include all currently assigned partitions)"

[2021-06-15 06:07] cescoffier commented on #1259
Just a head's up. I was unable to reproduce it with a real setup, but, I was able to reproduce it with a mock consumer. A fix is coming...

[2021-06-15 16:30] #1259 closed

[2021-06-16 08:56] einarjohnson commented on #329
Hi, are there any plans on the roadmap to support concurrency when processing messages?

[2021-06-16 09:49] cescoffier commented on #329
You can already do that using @Blocking.

[2021-06-16 19:44] ahofmeister opened #1264 "Overriding a config property with hypen at runtime fails with an exception at startup"
Starting a Quarkus application with version 1.13.5.Final+ breaks the configuration of config keys with hyphens that are overriden with environment variables.
Example: `mp.messaging.incoming.keycloak-events.connector` and `MP_MESSAGING_INCOMING_KEYCLOAK_EVENTS_CONNECTOR=smallrye-in-memory`

I found out that in the end, the ConfigSource ends up with two properties.

`smallrye-config/1.13.1/smallrye-

[2021-06-17 04:07] cescoffier commented on #1264
Did it ou try with Quarkus 2? The new Config api let's us be a bit more precise.

[2021-06-17 04:32] ahofmeister commented on #1264
@cescoffier Yes. In fact, I found this bug while migrating from 1.11.6 to 2.0.0.CR3.

[2021-06-17 05:47] cescoffier commented on #1264
Looking at it more deeply, seems to be something in Smallrye config. @radcortez did we change anything in config?

[2021-06-17 05:51] ahofmeister commented on #1264
I think (but @radcortez declined it :D), that it was introduced with https://github.com/smallrye/smallrye-config/pull/563

[2021-06-17 05:56] cescoffier commented on #1264
Sounds related.
@radcortez what makes you think it's not related?

[2021-06-17 10:10] radcortez commented on #1264
I didn't decline it :)

I've just said that I need to check on how the properties are being read, because the only thing we did there was to add a best effort equivalent to the `getPropertyNames`. We added it because when we populate maps with `getPropertyNames` and we get a property in the format `X_Y_Z` we couldn't find a mapping back to the config object, so we needed to transform it somehow to

[2021-06-17 11:29] radcortez commented on #1264
@ahofmeister Check this out:
https://github.com/ahofmeister/mp-messaging-config-hyphen-reproducer/pull/1/files

Is this what you expect? I still have to look into the SR RM code, but I believe the main Config code is work as expected.

[2021-06-17 11:42] knutwannheden commented on #1264
I just stumbled across the same problem as well (although for another config property with hyphens in its name). I couldn't figure out where the wrong property names reported by `ConfigDiagnostic#unknown(String)` were coming from. Please let me know if there is any more details I can provide.

[2021-06-17 11:50] radcortez commented on #1264
@knutwannheden are you getting an error? or just a warning in the logs?

[2021-06-17 12:13] knutwannheden commented on #1264
Just warnings of the form `Unrecognized configuration key "xxx" was provided; it will be ignored; verify that the dependency extension for this configuration is set or that you did not make a typo`.

[2021-06-17 12:32] radcortez commented on #1264
It should be a false warning, which is fixed here: https://github.com/quarkusio/quarkus/pull/17704

Can you confirm that the configuration is still being applied successfully?

[2021-06-17 12:51] knutwannheden commented on #1264
Thanks for the pointer. Yes, the configuration is correctly applied.

[2021-06-17 13:44] ahofmeister commented on #1264
@radcortez Thanks for the PR, good idea to include a test case! I think, the excpetion only occurs, IF the config ends up with `mp.messaging.incoming.keycloak.events.connector` in it, it then results in `Invalid channel configuration -  the `connector` attribute must be set for channel keycloak`. The problem is, that `.keycloak.` ends up as channel, but this 'new' channel does not have a connector

[2021-06-17 14:49] #562 closed

[2021-06-18 14:20] radcortez commented on #1264
Thanks. Let me have a look.

[2021-06-18 15:27] radcortez commented on #1264
As I suspected, we suffer here from the same issue we had with a corner case with `getPropertyNames`.

For instance, if you only define an env variable, we cannot reach it because the logic around `getPropertyNames` is only looking for dotted properties:
https://github.com/smallrye/smallrye-reactive-messaging/blob/207b94afd04666f27744b1800d883d798fe6be14/smallrye-reactive-messaging-provider/src/ma

[2021-06-18 15:31] radcortez commented on #1264
To clarify further, without the change in SR Config we can't set up configuration using `getPropertyNames` that is only set in env variables. But the change in SR Config, as we noticed has some additional unwanted side effects :)

[2021-06-18 23:19] radcortez commented on #1264
I believe https://github.com/smallrye/smallrye-config/pull/600 should do the trick.

[2021-06-20 19:09] cescoffier commented on #53
The HTTP connector is deprecated. It got replaced by a connector specific to Quarkus (https://quarkus.io/guides/reactive-messaging-http.html)

[2021-06-20 19:09] #53 closed

[2021-06-20 19:09] cescoffier commented on #332
Implemented in Quarkus - https://quarkus.io/guides/reactive-messaging-http.html

[2021-06-20 19:09] #332 closed

[2021-06-20 19:10] cescoffier commented on #360
In Quarkus, we are detecting most of the configuration.

[2021-06-20 19:10] #360 closed

[2021-06-21 06:09] cescoffier commented on #174
Closing - out of date.

[2021-06-21 06:09] #174 closed

[2021-06-21 06:21] cescoffier opened #1268 "TracingAmqpToAppNoParentTest is flaky"
The TracingAmqpToAppNoParentTest is flaky and fails on CI almost constantly.

[code]

[2021-06-21 08:59] einarjohnson commented on #329
@cescoffier , thanks for the quick reply. another question, can I use the blocking annotation in conjunction with the smallrye fault tolerance @retry annotation?

[2021-06-21 09:00] cescoffier commented on #329
Yes.

[2021-06-21 12:21] cescoffier commented on #470
Won't be done, I would like to switch from antora to something else.

[2021-06-21 12:21] #470 closed

[2021-06-21 14:07] #1268 closed

[2021-06-22 07:15] cescoffier commented on #14
Closing - out of date.

[2021-06-22 07:15] #14 closed

[2021-06-22 07:15] cescoffier commented on #33
Closing, out of date.

[2021-06-22 07:15] #33 closed

[2021-06-22 07:18] cescoffier commented on #389
This has been fixed with the new Kafka client.

[2021-06-22 07:18] #389 closed

[2021-06-22 07:20] cescoffier commented on #649
Was fixed.

[2021-06-22 07:20] #649 closed

[2021-06-22 07:20] cescoffier commented on #843
Fixed - out of date.

[2021-06-22 07:20] #843 closed

[2021-06-22 07:21] cescoffier commented on #854
That has been done. The connectors were moved to the attic directory.

[2021-06-22 07:21] #854 closed

[2021-06-22 20:49] oneturkmen opened #1273 "Potential misuse of @Outgoing and/or @Incoming annotations in documentation examples"
If a method of a class uses `@Outgoing` or `@Incoming` from Microprofile Reactive API, then the class containing the method(s) should be annotated with `@ApplicationScoped` or `@Dependent` annotations

Relevant documentation link: https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2/model/model.html#overview

Relevant code snippets:
https://github.com/smallrye/smallrye-rea

[2021-06-23 05:26] cescoffier commented on #1273
The code you listed is just here to allow inclusion into the documentation. They are not bean per-se (we don't execute them). Yes, in a real application these classes would need to be annotated with `@ApplicationScoped` (or any other supported scope).

[2021-06-27 18:23] #1273 closed

[2021-06-29 08:23] cescoffier commented on #1264
Doing the update right now.

[2021-06-29 17:41] cmasantos commented on #1214
It would also be cool if we could define a timetout, for example: take lists of 100 records but wait at max 5 minutes.

We can make it work using this: https://github.com/smallrye/smallrye-reactive-messaging/issues/979

But it would be nice do this without that workaround.

[2021-06-30 05:33] cescoffier commented on #1214
@cmasantos #979 won't help. Mutiny does not have (yet) an operator grouping items with a max duration.

CC @jponge

[2021-06-30 06:55] jponge commented on #1214
We can make groups at fixed rates with `every` but it's not the same thing.

[2021-07-01 05:55] #1264 closed

[2021-07-02 17:37] ahofmeister commented on #1264
@cescoffier Is there any workaround available? As I mentioned, we are using Quarkus 2.0.0.Final and It uses still 3.5.0 instead of 3.6.0.

[2021-07-02 17:51] cescoffier commented on #1264
The fix is in config not in messaging.

On Fri 2 Jul 2021 at 19:37, Alexander Hofmeister ***@***.***>
wrote:

[2021-07-02 23:19] radcortez commented on #1264
Thr SR Config version `2.4.1` should be compatible with Quarkus `2.0.0.Final`. So if you manually update the SR Config version it should work. I believe you may need to also update the SR Config Common.

[2021-07-02 23:28] radcortez commented on #1264
Try this:

[code]

[2021-07-05 05:58] ahofmeister commented on #1264
@radcortez Thanks! It work's. :)

[2021-07-07 17:50] coiouhkc opened #1296 "smallrye-reactive-messaging-jms support for Jackson instead of JsonB for (de-)serialization"
Hi all,
i'm trying to integrate smallrye-reactive-messaging-jms with IBM MQ in a Quarkus-based project.
Quarkus allows for selection of either jsonb or jackson as serialization framework and i'm using jackson in the project.
However smallrye-reactive-messaging-jms explicitly requires use of jsonb, otherwise
[code]
 - is there a possibility to make the choice (jsonb vs jackson) configurable?
Thanks

[2021-07-07 19:14] cescoffier commented on #1296
I believe it's possible. However note that the JMS connector is not officially supported in Quarkus. I doubt it will work in native.

[2021-07-07 19:26] coiouhkc commented on #1296
Hi @cescoffier, thanks for the quick reply.
I'm using java runtime based images for now, so at least short-term lack of native support might be OK - also explains why there's no `io.quarkus:quarkus-smallrye-reactive-messaging-jms` (btw, what's the reason for your doubts?).
What can i do/ how do we proceed further with jackson support? I'd be glad to try working on a PR, if you'd provide me with a

[2021-07-07 19:33] cescoffier commented on #1296
We would need to introduce an abstraction and have two implementation, probably in different modules to avoid having to bring Jackson and JSON-B on the classpath.

[2021-07-07 19:38] coiouhkc commented on #1296
You mean like `smallrye-reactive-messaging-jms-jsonb` and `smallrye-reactive-messaging-jms-jackson` implementing a common (de)serialization interface defined in `smallrye-reactive-messaging-jms`?

[2021-07-07 19:41] cescoffier commented on #1296
Yes, something like that. Trying to see if we could find an easier way.

[2021-07-08 09:10] cescoffier opened #1299 "Investigate if we need outgoing retry in the Kafka connector"
There is already a retry built-in in the Kafka producer. We may not need another one.

[2021-07-08 09:12] cescoffier opened #1300 "Allows Kafka incoming connector to report readiness once assigned"
This would be a new health check strategy for readiness where we wait until we get assigned to at least a topic/partition before indicating the application to be ready.

[2021-07-08 09:14] cescoffier commented on #1214
An idea would be to implement a Message implementation where the payload is the collection/list of records (or values).

- Calling .ack() would commit the last offset of the batch
- It should provide metadata such as initial offset, last offset, topic, partition, number of records...
- It should allow access to the underlying records

[2021-07-08 09:18] cescoffier opened #1301 "Allow the Kafka outgoing connector to forward the incoming key"
This feature would allow forwarding the key of incoming records into outgoing records automatically.

When a message is going to be written to Kafka, and the key has not been explicitly set (neither in the record, in the outgoing metadata, nor in the connector configuration) and if there is an incoming Kafka metadata, this option would use the key from that incoming Kafka metadata.

[2021-07-08 12:11] phelioz opened #1302 "Instance Emitter without using @Inject"
Would like to instance a Emitter without using @Inject. So creating it imperative and using a dynamic channel name.
So instead of doing this:
[code]

I would like to do something like this:
[code]

I see that you can get the existing emitters from `io.smallrye.reactive.messaging.ChannelRegistry.getEmitter()`
Wonder if there is anything similar for creating a emitter, if not this would be a feature

[2021-07-08 12:34] ozangunalp opened #1303 "Change consumer rebalance listener name property to identifier"
`@Named` is not suggested anymore to be used to identify the ConsumerRebalanceListener beans.
 It'd be best to rename the
`mp.messaging.incoming.$channel.consumer-rebalance-listener.name` property to `mp.messaging.incoming.$channel.consumer-rebalance-listener.identifier`.

[2021-07-08 13:53] ozangunalp commented on #1302
This is not possible at the moment and I don't think that if it'll ever be.

Channels are configured for a specific messaging backend using connectors, such as `smallrye-kafka`, `smallrye-amqp`, etc. This is done at startup and configured by application properties *per channel* (mainly properties like `mp.messaging.incoming|outgoing.my_channel`). Each connector uses various configurations on a cha

[2021-07-08 18:06] coiouhkc commented on #1296
@cescoffier could you please check the linked (draft) implementation and tell me whether the general direction is OK?

[2021-07-09 08:16] phelioz commented on #1302
Yeah what I really was trying was to send messages to different topics dynamically and that fixed it for me, must have missed it when reading the docs.
Thanks for the help, appreciate it! 👍

[2021-07-09 08:16] #1302 closed

[2021-07-14 18:25] coiouhkc commented on #1296
Btw, what's the reason behind your doubt?

[2021-07-15 11:27] Ladicek commented on #1303
I personally think `name` is fine and can stay, but I also see how the rename is appealing :-)

[2021-07-15 11:30] Ladicek commented on #1302
For the record, it should be possible to lookup the `Emitter` object from the CDI container programmatically (`CDI.current()` etc.). But using metadata for dynamic addressing is definitely better, if that's what you're after.

[2021-07-16 07:02] cescoffier commented on #1296
We will need to see, but we will have to extend the native compiler configuration to include SPI implementations.

[2021-07-16 07:10] cescoffier commented on #1303
We would need to support both for a bit of time if we decide to switch.

[2021-07-22 06:15] #1301 closed

[2021-07-22 07:54] #1300 closed

[2021-07-22 08:35] loicmathieu opened #1331 "Kafka connector performance issue with 3.5"
We detect a performance regression when migrating our application from Quarkus 1.13 to Quarkus 2.0, that includes Smallrye Reactive Messaging Kafka 3.5.

The detail of the issue and the research done on the subject can be found here: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Smallrye.20Reactive.20Messaging.20Kafka.20Quarkus.202.20Thread.20blocked

Observation: When using ma

[2021-07-23 09:08] #1215 closed

[2021-07-28 22:21] GauthierHacout opened #1337 "[Question] What does OnOveflow.Strategy.NONE actually do ?"
Hello,

Firstly if this is not a place to ask questions, don't hesitate to tell me. I couldn't find the answer I'm seeking in the documentation: https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2/emitter/emitter.html#emitter-overflow

And I wasn't 100% sure of what I was reading in the code:
[code]

So I figured it was best to ask the people who are the most knowledgeabl

[2021-07-30 12:21] kevinbds opened #1338 "SSL connection support for RabbitMQ"
RabbitMQConnector#createClient is without setSSL, not possible to connect to AmazonMQ!

[2021-08-05 15:08] kabir opened #1340 "KafkaProducer serializer broken when using PublisherBuilder to convert to Message"
I noticed when updating the WildFly quickstart that the KafkaProducer gets confused about what the payload is when PublisherBuilder.map() has been used to create a message from a stream of the payloads.

I have modified the SR RM quickstart to showcase the problem here. https://github.com/smallrye/smallrye-reactive-messaging/compare/main...kabir:publisher-with-message-problem?expand=1#diff-db6074d

[2021-08-05 16:18] kabir commented on #1340
I believe the problem is in StreamTransformerMediator.processMethodConsumingAPublisherOfPayload() for this particular case and probably also will be in processMethodConsumingAPublisherBuilderOfPayload().

That is where the extra wrapping happens. I think it needs to take into account whether the generic MediatorConfigurationSupport.returnTypeAssignable is a Message or not.

[2021-08-12 18:16] Dieken opened #1350 "Default deserialization failure handler is danger"
https://github.com/smallrye/smallrye-reactive-messaging/blob/main/smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/fault/DeserializerWrapper.java#L139

[code]

I use Quarkus + smallrye-reactive-messaging to consume AVRO message produced by Debezium from MySQL binlog, I'm surprised the consumer offset is still advanced even when Quarkus fails to deserialize.

Isn

[2021-08-15 14:35] cescoffier commented on #1350
This is the behavior that has been chosen when we designed the feature.
After a few months, yes, I believe it would be safer to fail and stop and only skip the message if the user specifically configured it.

So basically, we would add a new configuration attribute (something like `deserialization-failure-strategy` (with two values: fail (default), skip). Note that this setting will only be used i

[2021-08-15 14:44] cescoffier commented on #1337
Reactive Messaging handles reactive streams (https://www.reactive-streams.org/) and enforces the reactive streams protocol especially back-pressure. When using an emitter, you can't "control" the pace, so we need to apply an overflow strategy that defines what happens if the emitter tries to send more than what the application can handle.

The `none` strategy sends the items as they come without a

[2021-08-15 14:44] #1337 closed

[2021-08-15 14:48] cescoffier commented on #1331
@ozangunalp @Ladicek I've seen some investigation. Has the regression being identified?

[2021-08-15 15:31] ozangunalp commented on #1331
This has been fixed by https://github.com/smallrye/smallrye-reactive-messaging/pull/1339. Forgot to mention it in a commit message.

[2021-08-15 16:20] cescoffier commented on #1331
Thanks @ozangunalp !

[2021-08-15 16:20] #1331 closed

[2021-08-16 09:00] Ladicek commented on #1350
I agree we should fail by default, even if that's a breaking change.

[2021-08-16 12:13] cescoffier commented on #1340
You can't mix payloads and messages. Such a signature is not valid: `Publisher<Message<Double>>generate(Publisher<Double> messages)`, it needs to be ` Publisher<Message<Double>> generate(Publisher<Message<Double>> messages)`.

I'm preparing a PR that detects and reports invalid signatures.

[2021-08-16 16:55] #1340 closed

[2021-08-18 07:42] cescoffier commented on #1338
The PR also contains the configuration to connect to AmazonMQ.

[2021-08-18 09:10] #1350 closed

[2021-08-19 12:22] loicmathieu opened #1363 "Using the `paritions` settings in the Kafka connector leads to acknowledgement issue"
Hi,

I try to set the `partitions` setting on an inbound channel to 3, the number of partitions of my topic.
And it leads to the following message: `Too Many Messages without acknowledgement in topic private_aoaa_trace_v1 (partition:4), last committed offset is -1`.

I'm running Quarkus 2.2.0.CR1 so SR reactive messaging 3.9.0

[2021-08-19 16:12] coiouhkc opened #1366 "Correlation between `session-mode=SESSION_TRANSACTED` and `javax.transaction.Transactional`"
Scenario:
In the project we'd like to transactionally send change notifications once a database transaction is successful (and do not send, if the database transaction failes).

From what I understand about https://docs.oracle.com/javaee/7/api/javax/jms/JMSContext.html#SESSION_TRANSACTED - it's what should be used, but I could not find any `commit()` calls in the code.

Question:
Is usage of `@Tra

[2021-08-20 06:20] cescoffier commented on #1366
This is not yet supported. To support that, the JMS connector should check if there is a running transaction and enqueue the action to it.

[2021-08-20 07:46] #1363 closed

[2021-08-22 15:22] #1338 closed

[2021-08-23 13:09] yk12345678 commented on #869
My understanding of the docs is the same, I would also expect concurrent processing if `ordered = false`. I'm wondering why this issue has been open for nine months and no one has ever acknowledged a bug in either the implementation or the documentation.

One change I did observe with the latest version is that now just one worker thread gets used always no matter how large the configured thread p

[2021-08-23 13:13] cescoffier commented on #869
I believe it's a bug, let me add the label. I will have a look.

[2021-08-24 07:12] cescoffier commented on #1296
Was fixed in #1304

[2021-08-24 07:12] #1296 closed

[2021-08-24 08:04] coiouhkc commented on #1366
Thanks!
Is it planned to include the feature sometime in future?
For now i could think of different workarounds (e.g. commiting the messages to DB and then fetching them to enqueue)..
Or are you concerned about ordering the transactions, heterogenous nature of transactions, the potential need to support distributed transactions o.s.?

[2021-08-25 00:52] pcasaes opened #1377 "Replaying from a Kafka Topic Broken with Out of Memory"
On of our use cases is replaying a kafka topic in order to build a state from 0.
It looks like the new reactive kafka consumer never stops polling from kafka and filling up a queue in KafkaRecordStream.

This TODO is very suspicious
https://github.com/smallrye/smallrye-reactive-messaging/blob/5296684541b3bcad5bdfc65c3db4666a0350c3e3/smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/react

[2021-08-25 01:25] pcasaes commented on #1377
Version 3.7.1 on Quarkus 2.1

[2021-08-25 01:55] pcasaes commented on #1377
This might solve this issue

https://github.com/smallrye/smallrye-reactive-messaging/pull/1339

[2021-08-25 05:39] cescoffier commented on #1377
Can you try to override the reactive messaging version to 3.9.1?

[2021-08-25 06:47] Ladicek commented on #1377
Also, do you have `pause-if-no-requests` configured to `false`? If not, there would probably be a bug elsewhere.

[2021-08-25 14:38] pcasaes commented on #1377
3.9.1 resolves the issue!

On 3.7.1 changing `pause-if-no-requests` has no effect. With it set to true the channel would still keep requesting so the consumer would never pause. #1339 solves it by making the queue the deciding factor to pause and not whether requests were being made.

Thanks everybody!

[2021-08-25 14:39] pcasaes commented on #1377
It would be nice to have some metrics around the queue size and the state of the pause.

[2021-08-25 14:39] #1377 closed

[2021-08-27 09:59] antoniomacri opened #1381 "Hyphenation in attribute names on doc website"
Looking at:

https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/3.9/kafka/kafka.html

I noticed the incoming `bootstrap.servers` attribute is shown as `boot-strap.servers` on my browser:

<img width="850" alt="Screenshot 2021-08-27 at 11 45 48" src="https://user-images.githubusercontent.com/1660048/131108307-42b64437-2b5b-4c47-ac61-dd4811b4056c.png">

Maybe better to disab

[2021-08-27 13:51] manuelrf opened #1382 "Incoming asynchronous messages"
Hello,

I would like to ask a question concerning incoming messages.

We are seeing in Kafka, when we receive these messages are processed synchronously, these messages require a long-term operational, approximately 20 seconds before ack

Is it possible to receive each message as it arrives in different threads and not block other messages?

I don't sure if it is a configuration error or it's work

[2021-08-30 08:49] cescoffier commented on #869
So, a bit more detail (and a fix).

The problem was that the internal reactive messaging (using MicroProfile Reactive Streams Operators (RSO)) did not provide the right operator to handle concurrent calls.  However, we recently decided to reduce our dependency on RSO and use Mutiny everywhere. In this case, when ordered is set to `false`, the method may be called concurrently.

This will be includ

[2021-08-30 11:38] cescoffier commented on #1381
Ah ah, found a CSS trick!
It requires modifying the attributes to tables converter and add a CSS rule. But it works.

[2021-08-30 11:44] cescoffier opened #1389 "Flaky test - PauseResumeTest.testRebalanceDuringPausedWithDifferentPartitions:281"
I believe it's due to the pause/resume cycle modification that was introduced recently.

[2021-08-30 15:30] antoniomacri commented on #1381
Uh, great!

[2021-08-31 17:54] #1381 closed

[2021-09-01 06:32] cescoffier commented on #1382
Yes, it's possbile.
In the next version (3.10) it will be a lot easier than it is today, but here is what would work today:

[code]

[2021-09-01 16:11] manuelrf commented on #1382
ok, thank you very much, creating the thread pool we can manage them asynchronously, and not blocking other incoming messages.

[2021-09-01 16:11] #1382 closed

[2021-09-02 16:45] msillence opened #1393 "kafka protobuf support"
The documentation mentions support for avro: https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/3.9/kafka/kafka.html

specifically:

[code]

the obvious change to support protobuf is

`mp.messaging.incoming.[channel].value.deserializer=io.confluent.kafka.serializers.protobuf.KafkaProtobufDeserializer`

and I do see a com.google.protobuf.DynamicMessage deliverd to my consum

[2021-09-03 12:52] msillence commented on #1393
Found the documentation here:
https://docs.confluent.io/platform/current/schema-registry/serdes-develop/serdes-protobuf.html

adding the following lines worked for me:

mp.messaging.incoming.figaro-currency.specific.protobuf.value.type=....Key$Key
mp.messaging.incoming.figaro-currency.specific.protobuf.key.type=....Value$Value

I've not manged to persuade the autodetection to work with .derive_typ

[2021-09-03 14:18] cescoffier commented on #1393
Auto-detection only works in Quarkus and has not been implemented for Protobug (@ozangunalp / @Ladicek).
That being said, a PR updating the doc is more than welcome!

[2021-09-03 15:23] Ladicek commented on #1393
Protobug is a lovely typo :rofl:

[2021-09-03 16:04] msillence commented on #1393
I am using quarkus, any hints on configuring it would be welcome. Looking at the code it seems it's `derive.type` and not `derive_type`

`mp.messaging.incoming.[chanel].derive.type=true`

generates lots of errors saying I need to set either `java_outer_classname` or `java_multiple_files` and setting them doesn't make the error go away. I'm only consuming the messages here so may be there's some ma

[2021-09-08 16:08] #1389 closed

[2021-09-12 16:52] cescoffier commented on #1393
What's the status of this issue? We merged the documentation PR. Is there anything else?

[2021-09-13 07:34] pcasaes opened #1403 "Kafka Throttled commit strategy sometimes fails to commit after a consumer rebalance"
Symptom: After a consumer rebalance there's a chance that the throttled commit strategy will _break_ and stop commiting for one or more assigned partitions. This will only occur if using a non sticky consumer assignor (the default) and the chances increase if the consumer is far behind, ie: during a replay. A secondary symptom I noticed was having the commited offset go back after a rebalance.

Ca

[2021-09-13 08:20] cescoffier commented on #1403
Which version are you using? We recently did a long analysis and fix a few things in the commit strategy.

[2021-09-13 13:50] ericsouza opened #1405 "Kafka consumer and producer with kotlin coroutines examples"
Is there any example to use Kafka both consumer and producer with kotlin coroutine?

[2021-09-13 13:54] cescoffier commented on #1405
Not that I'm aware, but I've seen it working (in Quarkus).

[2021-09-13 14:19] ericsouza commented on #1405
@cescoffier do you have any quickstart link for this using quarkus? I'm evaluating a full reactive stack with kotlin

[2021-09-13 14:21] pfaffn opened #1406 "ClassCastException in KafkaRecordStream"
Hi, I am currently migrating a kafka consumer service from Quarkus 1.13.7.Final to 2.2.2.Final and have possibly found a bug in your class `KafkaRecordStream`.

Quarkus 2.2.2 uses smallrye-reactive-messaging-kafka version 3.9.1 (quarkus 1 uses some 2.x version).

In `KafkaRecordStream` line 59 in its private class `KafkaRecordStreamSubscription` the value of `max.poll.record` is cast to an Integer

[2021-09-13 15:13] ozangunalp opened #1407 "Modify doc on Kafka at-least-once delivery guarantee for NONE commit strategy with auto commit enabled"
Posted by @pcasaes in https://github.com/smallrye/smallrye-reactive-messaging/pull/1404#discussion_r707210445_

Mentioned in
https://github.com/smallrye/smallrye-reactive-messaging/blob/main/smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/commit/KafkaIgnoreCommit.java#L13

and

https://github.com/smallrye/smallrye-reactive-messaging/blob/main/documentation/src/

[2021-09-13 15:17] cescoffier commented on #1405
There is some info there: https://quarkus.io/guides/kotlin#kotlin-coroutines-and-mutiny - but not that much. Any contribution is more than welcome. I'm not a Kotlin developer, so it's hard for me to build something outside of the very basic things.

[2021-09-13 15:18] cescoffier commented on #1406
It was a bug. "max.poll.records" is intended to be an integer, not a String.
But what you say concerns me. Are you saying that you cannot configure `max.poll.records` anymore?

[2021-09-13 15:28] cescoffier commented on #1406
@radcortez For my own curiosity, shouldn't the converters convert the String into Integer?

[2021-09-13 15:39] pfaffn commented on #1406
Yes, I cannot configure it because it would always lead to the exception. So it uses always the default 500.

[2021-09-13 15:40] cescoffier commented on #1406
Thanks, Definitely a bug. I'm on it.

[2021-09-13 15:42] pfaffn commented on #1406
Thanks and good luck!

[2021-09-13 16:14] radcortez commented on #1406
Yes. That is super weird because a String to Integer converter is registered as default.

[2021-09-13 16:19] cescoffier commented on #1406
Working on a patch right now using the `ConfigValue` which is always a String (getValue() returns a String). Not very happy, but should make it work.

About the converter, it is because of the Optional?

[2021-09-13 16:46] radcortez commented on #1406
No, it works for Optionals as well. Let me have a look.

[2021-09-13 17:12] cescoffier commented on #1406
There is the ConnectorConfig in the way, but it delegates to the overall config.

[2021-09-13 17:32] radcortez commented on #1406
I noticed that in tests a `MapBasedConfig` implements `Config` and the implementations of `getOptionalValue` completely ignores the the conversion type:

https://github.com/smallrye/smallrye-reactive-messaging/blob/c6df05d53d442f7c1cf798b2850399e852db2704/test-common/src/main/java/io/smallrye/reactive/messaging/test/common/config/MapBasedConfig.java#L99-L104

I see other `Config` implementations i

[2021-09-13 17:38] cescoffier commented on #1406
The MapBasedConfig is only used in tests. It should not matters.

The ConnectorConfig is where things can be more tricky. Unfortunately, there is nothing we can do (it's mandated by the spec):
https://github.com/smallrye/smallrye-reactive-messaging/blob/main/smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/impl/ConnectorConfig.java

[2021-09-13 17:47] radcortez commented on #1406
Ok, let me have a look into that one.

[2021-09-13 17:52] radcortez commented on #1406
@pfaffn can you please also provide us a reproducer to make sure we are looking in the right place? Thanks!

[2021-09-13 17:55] cescoffier commented on #1406
Oh, I've one - Let me share it:
[Archive.zip](https://github.com/smallrye/smallrye-reactive-messaging/files/7156428/Archive.zip)

It's a quarkus app overriding the Kafka connector version to the snapshot one.
If you start it in dev mode, it should crash with the class cast exception.

[2021-09-13 18:05] cescoffier commented on #1406
Sorry,m it won't reproduce it. I may be found the problem, and it's not a conversation problem (at least it's not obvious).
This configuration fails:
[code]

It fails with:
[code]

This configuration works:
[code]

You may wonder how does that matter?
The `kafka.x` attributes are extracted by Quarkus which creates a `Map<String, ?>`. This map is then used in the connector to configure the Kafka cl

[2021-09-13 18:10] cescoffier commented on #1406
Confirmed - the merge is broken

[2021-09-13 18:11] cescoffier commented on #1406
(And I have a fix).

However, @radcortez, I'd like to talk to you about that _merge_. If we can find a better way that would be great. This is done in `io.smallrye.reactive.messaging.kafka.KafkaConnector#merge`.

[2021-09-13 18:21] pfaffn commented on #1406
Hey, can confirm, using `mp.messaging.incoming.foo.max.poll.records` does fix the issue. Thx! I understand you don't need a reproducer anymore - correct?

[2021-09-13 18:36] cescoffier commented on #1406
no, thanks @pfaffn, I built one myself.

[2021-09-13 19:04] #1214 closed

[2021-09-13 20:26] radcortez commented on #1406
Ideally, the map configuration should go to a low-level source. The problem is that it means that we need to hook up a mutable source so we can update it.

A better option might be to create an actual `Config` instance with the `SmallRyeConfigBuilder`, with everything empty (except from Converters, and a source for the default kafka config) and keep the same login that you have, but instead of del

[2021-09-14 06:00] cescoffier commented on #1406
It's even more complex, as in another PR it's not one Map, but multiple and the set of maps depends on the channel. So, I'm not sure it would work.

Also, I can't easily integrate a dependency to SmallRye Config in this connector. I need to check the usage first.

[2021-09-14 08:45] msillence commented on #1393
I'm happy to close.

I presume if anyone needs Apicurio that can be raised as a seperate issue.

I think I now understand the derive type problem - we need the code generating the schema to include the optional java_outer_classname parts and debezium is not doing that so that problem lies elsewhere.

[2021-09-14 09:58] radcortez commented on #1406
We might be able to do it just with `ConfigProviderResolver.instance().getBuilder`. I believe we don't need anything specific from the `SmallRyeConfigBuilder`.

The other option is to go back to the mutable `ConfigSource` idea, so you can just add the values you need to a source and keep the same `Config` instance.

It worries me that we are relying on CDI for users to set configuration. The relat

[2021-09-14 13:39] #1406 closed

[2021-09-14 15:33] cescoffier commented on #1406
So, actually, while the mechanism is based on CDI, the user does not use that behavior directly. It's mostly for service bindings.

[2021-09-14 21:25] ericsouza commented on #1405
I see. Well, thanks a lot for your work with reactive stuff!!

[2021-09-14 21:25] #1405 closed

[2021-09-17 06:09] cescoffier commented on #1393
Let's close it, we can add apicurio later.

[2021-09-17 06:09] #1393 closed

[2021-09-17 08:05] tryasta opened #1419 "Saga pattern / LRA integration in microprofile for Apache Kafka"
**Context:**
Narayana LRA has been integrated in [Quarkus 2.2.1](https://quarkus.io/blog/using-lra/) and it provides Saga orchestration for SOA. For our purposes it works sweet as. It is easy to use and we would love to use it in other scenarios as well.

**Question:**
Does smallrye provide support for LRA for Kafka topics?

**Request**:
Can it be supported by smallrye?

[2021-09-17 08:26] cescoffier commented on #1419
That's more a question for Narayana.
The problem is that you can't really compensate with Kafka. The only thing you can do is send another message that canceled the one you want to roll back.
The consumer will see the 2 messages, and for a time window (between the two), will have a wrong state.

[2021-09-17 09:46] tryasta commented on #1419
After reading this article https://ibm-cloud-architecture.github.io/refarch-eda/patterns/saga/ I was hoping compensation in Kafka was possible. It seems to imply not all hope is lost.

There are certainly some differences with the SOA approach. Not only orders are events. Compensation (and I guess Completion?) in this case is implemented via events, too.

[2021-09-17 10:00] cescoffier commented on #1419
Yes, that is correct. It’s going to be eventual consistent.

On Fri 17 Sep 2021 at 11:46, tryasta ***@***.***> wrote:

[2021-09-17 16:22] coiouhkc opened #1420 "'Restarting' `Emitter` subscription after it has been cancelled due to connectivity issues"
In my current Quarkus project i'm using `Emitter` together with `smallrye-reactive-messaging-jms` to send messages to a JMS queue.
It works fine, until the first connectivity issue with the message server (IBM MQ in my case) - after the first attempt to send the message to an unavailable host:port i keep getting `java.lang.IllegalStateException: SRMSG00028: The subscription to <queue-name> has bee

[2021-09-17 16:47] cescoffier commented on #1420
I guess the problem is in the JMS connector. The connector is not integrated into Quarkus as it's more a best-effort thing at the moment. It probably does not recover after the loss of connection.

[2021-09-19 12:41] cescoffier commented on #1403
Closed by #1404

[2021-09-19 12:41] #1403 closed

[2021-09-20 05:58] #1419 closed

[2021-09-20 14:42] coiouhkc commented on #1420
Ok, @cescoffier, thanks for the quick reply!

[2021-09-27 13:11] #869 closed

[2021-09-27 15:48] btcdevops-apps opened #1433 "smallrye-reactive-messaging-rabbitmq:3.9.1 config issues in helidon-mp"
**MP Implementation**: Helidon-MP 2.3.3
I am trying to consume this artifact in helidon mp, however the application crashes at start up. The logs below indicates that ConfiguredChannelFactory.initialize() in smallrye-reactive-messaging-provider  is using the spi implementation thus unable to load the entries in the microprofile-config.properties or application.yaml file.

**Is there any additional

[2021-09-27 16:36] cescoffier commented on #1433
You need an implementation of MicroProfile Config 2.0. I don't know which version is implemented by Helidon.

[2021-09-28 05:38] cescoffier commented on #1433
BTW, we don't use the SPI implementation: org/eclipse/microprofile/config/ConfigValue is part of the spect.

[2021-09-28 11:01] radcortez commented on #1433
Hi @btcdevops-apps,

`ConfigValue` is an MP Config 2.0 API. It seems that the Helidon version you are using only supports 1.4: https://github.com/oracle/helidon/blob/2.3.3/dependencies/pom.xml#L99.

[2021-09-28 13:10] ozangunalp commented on #1407
Closed in #1404

[2021-09-28 13:10] #1407 closed

[2021-10-06 12:09] #1433 closed

[2021-10-06 20:51] flashpixx opened #1443 "configuration by environment variables"
Hello,

I would like to start with build reactiving messaging with Kafka, I have take a look into https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/3.1/connectors/connectors.html#_configuring_connectors
and I see that I need to set this entry
[code]

But in my case I would like to set this with an environment variables, so each service in my application is build as docker

[2021-10-07 06:07] cescoffier commented on #1443
@flashpixx You can use:

* `KAFKA_BOOTSTRAP_SERVERS` : configure the default Kafka bootstrap servers used by all the Kafka channels
* `MP_MESSAGING_OUTGOING_DATA_BOOSTRAP_SERVERS`: configure the Kafka bootstrap servers used by that specific channel

In general, the first one is enough.

Note that if you are using Quarkus, you can also:

* implement your own config source reading the configuration

[2021-10-07 22:02] kdubb opened #1446 "RabbitMQ connector unusable in Quarkus application"
Attempting a fairly simple use of the RabbitMQ connector in a Quarkus application and the outgoing connection to RabbitMQ never gets established properly due to a race condition that cause an exception.

With debug logging enabled you can see that a client is "started" multiple times for the single outgoing channel; this ultimately leads to a `ConcurrentModifiactionException` because the multiple

[2021-10-11 05:34] #1446 closed

[2021-10-12 10:27] OpenGuidou opened #1458 "[Camel] Headers not forwarded through message processor"
Hello,

When using a message processor pattern, the headers are not forwarded between the incoming and outgoing messages.

`@Incoming("receiver-channel")
 @Outgoing("emitter-channel")
  public String ping(String ping)  {
    return "pong"
  }`

  I would expect the headers received with the ping message to be forwarded with the pong.

Looking at the CamelConnector code (createExchangeFromMessage),

[2021-10-15 13:43] bennetelli opened #1466 "The link to Acknowledgement is broken"
Hi coworkers,

the link to "Achknowledgement" is broken here: https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2/acknowledgement/acknowledgement.html

I will open a PR and fix this issue.

[2021-10-15 13:43] cescoffier commented on #1466
hum, this is a very old URL. We are using 3.10, this one is for 2.0

[2021-10-15 13:46] #1466 closed, assigned to nobody

[2021-10-19 05:45] cescoffier commented on #328
All tasks have been achieved - closing.

[2021-10-19 05:45] #328 closed

[2021-10-19 05:46] cescoffier commented on #331
This is done.

[2021-10-19 05:46] #331 closed

[2021-10-19 05:49] #1176 closed

[2021-10-19 14:41] silviu-negoita opened #1471 "Update smallrye-gcp-pubsub"
Hello,

We are using the very 'hidden' nice connector `smallrye-gcp-pubsub`. I'm saying hidden, because I didn't find documentation ([here](https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2/connectors/connectors.html)) about it, despite the fact that is released and updated in maven central [repo](https://mvnrepository.com/artifact/io.smallrye.reactive/smallrye-reactive

[2021-10-20 08:08] cescoffier commented on #1471
This connector has been moved to the "attic." Unfortunately, we didn't have a maintainer, and the rest of the team did not have the knowledge and experience with GCP Pub/Sub. It is unfortunate, but, to keep the project healthy, we had to make that move. However, there is no problem bringing the connector back, especially if someone (like you) volunteers to help us maintain it.

About your issue, y

[2021-10-20 14:37] cescoffier commented on #1471
Yes, please! That would be great.

[2021-11-01 09:01] cescoffier opened #1489 "Integrate Kafka 3.0"
This issue is about the integration of Kafka 3.0 without breaking the compatibility with 2.8.x.

Some tests are constantly failing with 3.0, so need to be investigated.

[2021-11-02 06:57] cescoffier commented on #1158
That sounds promising.

* Non-Blocking
I'm a bit afraid of the async support that seems to be async but not non-blocking. Basically, it looks like they offload to a thread pool (kind of a bad idea under load). For the `Dispatcher` we may be able to use a Vert.x context.

* Back-pressure
The consumer side back-pressure mechanism is not great. At least it tells you you got dropped and we could imagi

[2021-11-02 15:46] kabir opened #1491 "Host disappears if used with AmqpClientOptions"
If I have
`mp.messaging.outgoing.source.client-options-name=ssl-client-options`

which points to
[code]
If I remove the `setHost()` call it fails:
[code]
This happens whether or not I have amqp-host set in my MP Config or not. Without the AmqpClientOptions I don't need AMQP-host, since it in that case defaults to zero.

[2021-11-03 15:04] herbertkb opened #1494 "Integration with AWS Glue Schema Registry"
Hello,

We are unable to configure Kafka connectors to use AWS Glue Schema Registry.

1. Added the latest version of the AWS Glue Schema Registry serde library (https://github.com/awslabs/aws-glue-schema-registry) to pom.xml
[code]

2. Added configuration to `application.properties`:
[code]

3. Create a simple consumer and producer for these topics:
[code]

4. On `mvn compile quarkus:dev`, I get t

[2021-11-03 15:43] cescoffier commented on #1494
Do you know if the names are case-sensitive?
Any reason to use quotes around schemaName and DataFormat?

[2021-11-03 16:05] herbertkb commented on #1494
@cescoffier The property names were taken from the examples the AWS Glue Scheme Registry library README had for configuring other Kafka clients: https://github.com/awslabs/aws-glue-schema-registry#producer-for-kafka-with-json-format
Those names were taken from looking up those constants in the AWS source.

[2021-11-04 13:32] cescoffier commented on #1494
@herbertkb FYI a fix has been merged.

[2021-11-05 10:25] loicmathieu opened #1503 "Kafka : provide a way to retry deserialization"
Today, when an issue arrives at the deserialization level, we cannot use retry from MP Fault Tolerance as it's only possible at the incomming method level.

But deserialization issue are sometimes transient (network issue accessing the AVRO schema registry for example) so a retry at the deserialization level may improve reliability of the application.

Some discussion around it can be found on thi

[2021-11-07 15:11] cescoffier commented on #1471
Fixed in #1486

[2021-11-07 15:11] #1471 closed

[2021-11-09 09:47] #1491 closed

[2021-11-11 06:43] smolloy-moog opened #1507 "[Kafka - Latest commit strategy] Last messages from Kafka process very slowly, as each one causes a poll() with 1-second timeout to fetch nothing new"
When we are processing messages from kafka using a simple @Incoming annotation, we see that as soon as the kafka topic is exhausted, and all the messages are loaded into the in-memory "buffer" in KafkaRecordStreamSubscription.queue, each request for another message (aka each invocation of our annotated method) will FIRST poll() to Kafka, wait for the timeout (1 second), find no additional items, t

[2021-11-11 11:51] ozangunalp commented on #1507
@smolloy-moog thanks for the description. I'll try to reproduce it.
At the top of my mind, message dispatches run always on vert.x context and poll's run always on the polling thread.
Except _I think_ for the first call to the poll, which should originate from a request call.

[2021-11-11 14:15] itzg commented on #1507
I'm on the same team as @smolloy-moog. It's probably good to mention that we're using Quarkus 2.3.1, which seems to use 3.9.1 of smallrye-reactive-messaging-kafka. Perhaps there's a new version that fixes this? Understandably, it's probably hard to answer that without a reproducer yet.

[2021-11-11 15:14] cescoffier commented on #1507
Ah ah! Thanks! We fixed an issue in that area recently. So I would recommend using reactive messaging 3.10 or 3.11. It might be already fixed.

[2021-11-11 20:24] smolloy-moog commented on #1507
Well, I can say "the latest version still has the same behavior" and, you are right (and I was wrong), the blocking call to poll() that I pointed to only happens on the first iteration, and subsequent calls all hop right to dispatch().  Yet, the poll(timeout) call to Kafka still gates our per-message consumption rates, so now we're focusing on maybe some interaction of the commit ack() call and th

[2021-11-11 20:35] smolloy-moog commented on #1507
OK, so, good news - it was correct that the ack()->commit() call was waiting on poll(timeout), and, switching from "latest" commit strategy to "throttled", where the commits are done "every once in a while, but not on EVERY message" immediately "solved" the issue (more like "avoided").  The "solutions" to using "latest" commit strategy in combination with poll(timeout) seem very complex, so for no

[2021-11-11 21:43] smolloy-moog commented on #1507
I am not sure if I should close this issue, or rename it to "risks of using 'latest' strategy when consuming the last messages from Kafka topic"?  The issue is still there when these conditions and settings are combined, but I am not sure I can call it a bug now, more like a limitation of how Kafka client forces us to only do "one thing at a time".

[2021-11-11 22:32] ozangunalp commented on #1507
Using the "latest" commit strategy explains the issue you are having. The Kafka consumer is not thread-safe, so we are using a single thread to poll and commit offsets. I don't know yet if there is a better way of implementing the latest commit strategy.

[2021-11-12 06:45] cescoffier commented on #1507
_latest_ is dangerous and should not be used. It's still there because there are use cases, but, use it at your own risk. It's not using Kafka "the recommended way".

[2021-11-17 11:19] ozangunalp commented on #1507
Looking at this again, the problem arises from the fact that the latest commit strategy does sync commit on the polling thread, therefore waits for the polling thread (blocked on the Consumer#poll for incoming records).

I think it makes sense to do an async commit without waiting for the result and only log if there is a commit error. It'll make the latest commit strategy more usable.

Note that

[2021-11-17 14:35] ozangunalp commented on #1189
We can watch this issue to close since this test is tagged as flaky now and running on CI.

[2021-11-17 15:45] itzg commented on #1507
That sounds great @ozangunalp and thanks for following through on this issue. BTW, I had reproduced the issue with the following repo:

https://github.com/itzg/try-quarkus-kafka-commit-latest

[2021-11-19 10:57] #1507 closed

[2021-11-22 23:21] shnplr opened #1526 "Logging Kafka producer settings for emitter"
Can we log actual config values used by the emitter kafka producer?

for example say I want to configure acks=all for all emitters, can property work like

[code]

It would be great to see which setting actually works - I assume the last definitely will

[2021-11-23 06:57] cescoffier commented on #1526
If you are using Quarkus, set the log level of `org.apache.kafka.clients` to `INFO` and you will get the configuration of the producer and consumer.

[code]

From the top of my head, the working configs are:

[code]

Pick the one you prefer.

[2021-11-23 06:58] cescoffier commented on #1458
Fixed by #1460.

[2021-11-23 06:58] #1458 closed

[2021-11-24 02:38] shnplr commented on #1526
Thanks, adding the logging category to Quarkus 2.4.2 app the ProducerConfig for the Emitter channels is now logged.

I ended up using the custom kafka-configuration option to pass a custom map (since its more flexible approach to configure dynamically based on non kafka. (kafak-streams) properties, & targeting both secure & unsecure kafka envs.

Thanks

[2021-11-24 02:38] #1526 closed

[2021-11-24 23:05] scrocquesel commented on #1162
We have similar needs. We have use cases where we want to add some metadata as cross-cutting concerns (correlationId, authenticated principal name, ...).

[2021-11-25 13:47] #1243 closed

[2021-11-25 13:47] #1503 closed

[2021-11-30 13:13] OpenGuidou opened #1535 "Forward headers in kafka processor"
Hello,

Following https://github.com/smallrye/smallrye-reactive-messaging/issues/1458, it seems that the kafka headers are not  forwarded either between incoming channel and outgoing channel when using a processor.

Can I open a PR to add this feature ?

[2021-11-30 17:41] ozangunalp commented on #1535
One thing to be cautious about is that Serializers can add headers to the record.
That's why I think it can make sense to add this behind a flag, like the propagate record key feature (#1324).
Also, we should not override the existing headers in OutgoingKafkaRecordMetadata.

[2021-12-01 13:17] ozangunalp opened #1536 "3.13.0.RC1"

[2021-12-01 13:17] #1536 closed

[2021-12-03 22:47] MihaiBogdanEugen commented on #1117
@tcerdaITBA I'd like to contribute to this as well. Have you made any progress on your side?

[2021-12-05 16:48] cescoffier commented on #1489
Fixed in #1493

[2021-12-05 16:48] #1489 closed

[2021-12-06 13:23] butwhoareyou opened #1539 "MutinyEmitter send Message<?>"
Version: `3.13.0`
Package: `io.smallrye.reactive.messaging`
Expected behaviour: send method returns `Uni<Message<?>>`
Actual behaviour: send method returns `Message<?>`

As a user of MutinyEmitter I expect that every `send` method returns `Uni<?>` like `Uni<Void>` without `Message<?>` wrapper.
At this moment, the method `send` which wraps payload with `Message<?>`, subscribes internally and return

[2021-12-06 13:38] cescoffier commented on #1539
Yes, it's intentional.

When passing a message, you need to pass the ack and nack methods into the message. Because we cannot modify a `Message` instance, we cannot (and should not) change the ack and nack methods.

So, in order to get a `Uni<Void>` you could use something like:

[code]

Change the message creation with what you need (metadata and so on)

[2021-12-06 13:47] butwhoareyou commented on #1539
Cool. That is what I thought to implement.
Thanks for quick reply.

[2021-12-06 13:57] butwhoareyou commented on #1539
As far I know, custom ack/nack are optional, so I can stay with `CompletableFuture.completedFuture(null)` theoretically.

Do you want modify ack/nack because of possible blocking operations inside ack/nack?

[2021-12-06 15:34] cescoffier commented on #1539
It would require changing the ack/nack to be notified of the completion/failure. That event is the one completion/failing the returned Uni.

Note that if you only pass a payload, then it returns a `Uni<Void>`, because in that case, I can pass my own ack/nack methods.

[2021-12-06 16:40] butwhoareyou commented on #1539
In my case I was thinking to map Uni of completion/failure to ack/nack completion stage and return the result as an output.
Something like (pseudo-code):

[code]

But I assume it is too "dirty hack" for the library.

Anyway, thanks for your help!

[2021-12-07 07:07] #1539 closed

[2021-12-07 09:17] belks opened #1541 "Vert.x buffer overflow when sending AMQP messages"
Hi,

we encountered some strange issues with Vert.x when using smallrye-reactive-messaging and ActiveMQ - see exception below.
I hope you can help or point us in the right direction if we are doing something completely wrong.

`Uncaught exception received by Vert.x - Exception: newPosition > limit: (65536 > 32768) - java.lang.IllegalArgumentException: newPosition > limit: (65536 > 32768)
	at java.

[2021-12-07 09:37] cescoffier commented on #1541
@gemmellr any idea? It seems to be in Proton itself.

[2021-12-07 11:04] gemmellr commented on #1541
@cescoffier I'd have to go with illegal multi-threaded use of the engine by the bits using vertx-proton (whether that be vertx-amqp-client, smallryre-reactive-messaging-amqp, or above).

The bit it is in at the time of the exception is writing from an intermediate framing buffer into the transport output buffer, and it fails with an attempt to set the target buffer to its new position following an

[2021-12-07 13:07] cescoffier commented on #1541
Thanks @gemmellr,

I can see multiple `@Blocking`. While all the actions should happen on the correct event loop, we may miss something.

[2021-12-07 13:24] cescoffier commented on #1535
This feature makes sense.
As @ozangunalp said, it should be a flag, because it could leak sensible or ephemeral data.

[2021-12-07 13:39] cescoffier commented on #979
After having thought about this issue a lot, I don't believe it makes sense to add support for Multi injection in the @Incoming method (and no @Outgoing).

@Incoming indicates that it's a managed stream. Reactive Messaging manages the stream on your behalf, primarily the subscription and request protocol. On the other side, @Channel indicates a non-managed stream, in the sense that the user must s

[2021-12-07 13:39] #979 closed

[2021-12-07 14:22] cescoffier commented on #1541
Hum, I've tried to reproduce it without any luck. I followed the given code snippet and configured the worker pools, but for me everything worked. Would it be possible to get a reproducer?

[2021-12-07 14:32] cescoffier commented on #1541
I even load-test it to be sure that the emitter are using the correct threads and it looks like it's alright (every access are made from the same event loop)

[2021-12-07 15:52] gemmellr commented on #1541
The particular stack above is from the periodic idle timeout check started on the connections event loop when the connection opens. Artemis advertises a default 30sec timeout I think, so I expect the check is kicking in every 15 seconds (it pessimistically uses half the peers advertised value as the timeout) as the connection tries to ensure its satisfying it, and its possibly only at that point i

[2021-12-07 15:53] gemmellr commented on #1541
When you say the accesses are using the same event loop, is it the correct thread the connection requires, i.e the one doing the idle timeout check.

[2021-12-07 16:33] cescoffier commented on #1541
Yes, the connection happens on an event loop we capture, and everything is done on that event loop. However, I'm not sure about the idle timeout. That's a very good point. I will try to see if I reduce it to something very small. Unfortunately, I would not be able to use my dev service for this :-(

[2021-12-07 17:37] gemmellr commented on #1541
The idle timeout is scheduled on the event loop during a callback while processing the connection open.

[2021-12-10 07:45] ylepikhov commented on #1162
Hi. I need to work with XML and SOAP messages. At the moment I've written MessageConverter for incoming messages (it uses Apache Axiom). But there is not way to do something similar for outgoing messages. I supose that OutgoingMessageConverter could be useful in my case.  Actually, I think that there is no need in to introduce new interface and MessageConverter may be reused. Connector can specify

[2021-12-12 16:49] cescoffier commented on #1541
Still unable to reproduce it. @belks, can you provide a reproducer?

[2021-12-13 09:30] belks commented on #1541
I will try

[2021-12-13 14:39] cescoffier commented on #1541
Thanks, I will have a look.

[2021-12-13 15:14] cescoffier commented on #1541
Thanks,

So the code is not correct. When using messages, you must `nack` the message. The framework cannot do that, as you may have done that already:

[code]

With this in B and C, I didn't get the error anymore.

[2021-12-13 15:39] belks commented on #1541
Hi,

I am still getting it even with the change you suggested. The only difference this time was that with the nack there were some followup errors as well (log at the end).

I would have been very surprised if the nack was fixing things, because in our actual application we do all message processing within global try-catch blocks and send a nack on any exception.

[code]

[2021-12-13 16:35] cescoffier commented on #1541
I finally got it reproduced. But, I don't see how we can have the race. I've added trace to all AMQP access both production, reception, ack, and nack are done on the same event loop. I also checked the idle timeout (as suggested by @gemmellr ) - same event loop.

[2021-12-13 16:53] cescoffier commented on #1541
I may have found something:
https://github.com/vert-x3/vertx-amqp-client/blob/master/src/main/java/io/vertx/amqp/impl/AmqpSenderImpl.java#L141-L145

It accesses the message address outside of the event loop.

[2021-12-13 17:43] gemmellr commented on #1541
The message address is only ever returned from a field, it doesnt seem like it would influence writing to the transport buffer and updating its position, which is where the exception is being thrown, by the relatively-rarely-run idle timeout check, and in such a way that utterly smacks of there being 2 different threads operating there.

The messages themselves in general sit largely apart from th

[2021-12-13 18:11] cescoffier commented on #1541
Ok, I got it... It's nasty. The bug in the Vert.x AMQP client and probably there since Vert.x 4.0.
The AMQP Sender uses `connection.runOnContext(x -> {`. However, in this case, the send is done from a "vertx.executeBlocking" construct (hidden behind the `@Blocking`).

The trampoline check if the current context is the attached context, and in this case, it's the case. Inside the executeBlocking, y

[2021-12-14 07:10] cescoffier commented on #1541
The issue is fixed in the Vert.x AMQP client.

[2021-12-14 08:09] belks commented on #1541
Thank you very much :)

[2021-12-14 08:11] belks commented on #1541
Which release is it going to be in? I would be very happy to test it

[2021-12-14 08:22] cescoffier commented on #1541
Hopefully Vert.x 4.1.7 which will be followed with Reactive Messaging 3.14.0. It will be released this week.

[2021-12-14 08:23] cescoffier commented on #1541
It might be a 3.13.x.

[2021-12-20 12:21] chainhead opened #1548 "How to keep topic and channel name different?"
As per [documentation](https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/3.4/kafka/kafka.html#_example):

1. Can you show an example of _exactly_ how the topic attribute is to be overridden for both incoming and outgoing cases?
2. Also, can a single channel map to multiple topics - incoming or outgoing?

[2021-12-20 12:43] chainhead commented on #1548
I think, [this](https://quarkus.io/guides/kafka#kafka-configuration) should help.

[2021-12-20 12:49] cescoffier commented on #1548
1. just use the `topic` attribute in your channel configuration:
[code]

(`topics` and `pattern` are also available for incoming)

2. multiple topics only work for incoming (writing to multiple topics would need multiple outgoing channels).  You can set the `topics` attribute to a comma-separated list of topics, or `pattern` which is a regexp.

[2021-12-20 12:49] #1548 closed

[2021-12-20 21:32] PyAntony commented on #329
@cescoffier Hi. Can you please give an example (or post a link) of how to achieve this? I know how blocking works, but what would be the best way to achieve multiple consumers with @Blocking?

[2022-01-05 08:09] wicksim commented on #1141
Is there any progress on this one? We are still looking for a solution for our problem discussed in https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Use.20RequestScoped-bean.20in.20Kafka-Interceptor. A solution with a CDI-Decorator does not seem to work, maybe because of the needed `@Channel`-annotation. Decorator is just not used.

So I'm still searching for a solution to interce

[2022-01-13 16:14] #1535 closed

[2022-01-14 11:15] radcortez opened #1571 "Split packages between in-memory and messaging-provider"
https://github.com/smallrye/smallrye-reactive-messaging/tree/main/smallrye-reactive-messaging-in-memory/src/main/java/io/smallrye/reactive/messaging/providers/connectors

https://github.com/smallrye/smallrye-reactive-messaging/tree/main/smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/providers/connectors

[2022-01-14 11:17] radcortez commented on #1571
It should be fine to change the packages in the in-memory module. It is unlikely that someone is using the APIs directly.

[2022-01-14 14:41] radcortez opened #1572 "Refactor OTel integration to use the Instrumenter API"
The OTel integration should move to use the Instrumenter API, which is the recommended way to integrate with OTel.

[2022-01-14 14:41] radcortez commented on #1572
I can work on this.

[2022-01-14 17:37] ozangunalp commented on #1571
@radcortez I also think that it'd be better to change the in-memory module package.
But the in-memory connector classes are documented (and are used) for testing applications: https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/3.13/testing/testing.html

So it'll be a breaking change but cleaner than the other way around.

@cescoffier WDYT?

BTW I'll leave this here for x-r

[2022-01-14 17:40] radcortez commented on #1571
Another option is to just create a new module and deprecate the current one.

Ops, I've missed that this was already reported on the Quarkus side.

[2022-01-14 17:59] ozangunalp commented on #1571
I was here to create the issue myself :)

[2022-01-16 10:53] cescoffier commented on #1571
It's a public API that is used, so we would need a deprecation cycle (at least 6 months).
Before deprecating, we need an alternative implementation in a package that does not lead to a split-package.

[2022-01-18 09:25] loicmathieu opened #1574 "Kafka connector: cloud event support perrormance issue"
The Cloud Event support for the Kafka connector has some performance issue.

It uses the configuration on each message to get default configuration which lead to calls to `Config.getOptionalValue` .
Some profiles shows up to 10% samples on this method call.
Caching the config value (wich never changes) should improve performance.

CPU profile is attached.
[profile-cpu.zip](https://github.com/small

[2022-01-18 09:58] cescoffier commented on #1574
+1!

AMQP is likely going to have the same issue.

[2022-01-18 13:09] #1574 closed

[2022-01-23 21:19] LazaroR94 opened #1582 "Unknown connector 'smallrye-kafka' in Quarkus 2.6.3"
I recently upgraded to the newest Quarkus version and seem to be having some issues with the configuration of Smallrye's reactive messaging. Prior to 2.6.3, the connector has always been smallrye-kafka, but it seems I am having a strange error now when I run my application in that it cannot identify that as a known Kafka connector?

Error:

[code]

This is my configuration (real values omitted for

[2022-01-23 22:10] ozangunalp commented on #1582
It's very tricky to reproduce this. I don't have the issue with 2.6.3 with a simple project.
If you can post the output of `mvn dependency:tree` I can look further.

I don't think it is related but you can try disabling the auto connector attachment feature to see if it's causing the issue :
[code]

[2022-01-23 22:51] LazaroR94 commented on #1582
@ozangunalp I am using Gradle, I will post the output here (even though it's large). Also, `auto-connector-attachment` doesn't seem to exist as a property under `reactive-messaging`.

[dependencies.txt](https://github.com/smallrye/smallrye-reactive-messaging/files/7921612/dependencies.txt)

[2022-01-24 06:56] cescoffier commented on #1582
@LazaroR94 the Kafka connector does not seem to be included in your dependencies. Are you sure you have the extension?

[2022-01-24 13:36] LazaroR94 commented on #1582
@cescoffier I was unaware that the connector is a separate package and not included with the reactive-messaging package in the newer version? If so, do you happen to have that extension handy, as I can't seem to find it?

[2022-01-24 13:38] cescoffier commented on #1582
@LazaroR94 it has always been a separate extension:

[code]

[2022-01-24 13:57] LazaroR94 commented on #1582
Ah, I see where I went wrong. Seeing as I used **code.quarkus.io** to build a new project I must've included the general reactive-messaging package instead of the one with the Kafka connector. My apologies and thanks @cescoffier.

[2022-01-24 14:15] #1582 closed

[2022-01-28 22:21] alexlitovsky opened #1588 "AMQP - Intermittent errors sending messages to Azure Service Bus due to closed idle connections"
I have a Quarkus 2.6.3 application that sends messages via an `Emitter` to Azure Service Bus
It uses smallrye-reactive-messaging-amqp 3.13.0

Azure Service Bus disconnects idle connections after 5 minutes.  That's just how it is.
Right after the Azure Service Bus drops the idle connection, attempts to send a message fail with the Exception below.
Eventually the system recovers and is able to send

[2022-01-28 23:56] alexlitovsky commented on #1140
I think I have a related issue with Azure Event Hub, which aggressively closes idle connections after 5 minutes: https://github.com/smallrye/smallrye-reactive-messaging/issues/1588

Just wondering if I need to submit this issue with vertx or is this the right place?

[2022-01-29 07:10] cescoffier commented on #1140
I would say vertx. In RM we are a bit too far away from the connection. We can try to retry sending, but that may not be efficient.

[2022-01-29 07:12] cescoffier commented on #1588
Not great, but did you try with a MitinyEmitter and with an onFailure().retry()?

Do you know how the system fixes itself? Is it due to an application restart?

[2022-01-29 20:31] alexlitovsky commented on #1140
Thanks @cescoffier , I will submit it to vertx.

[2022-01-29 20:33] alexlitovsky commented on #1588
Thanks for the MutinyEmitter tip.  I will try that.  I'm trying to setup a repeatable scenario so that I can experiment and at least get more details.

The Emitter recovers by itself after a few minutes.  No restarts are needed.

[2022-01-30 16:55] alexlitovsky commented on #1588
@cescoffier I created a reproducer:  https://bitbucket.org/alexlitovsky1/vertx-amqp-emitter-bug

A few interesting things:
1. It only fails if my messages are sent with a period > 10 minutes.  This leads me to believe that it's not the 5 minutes idle connection timeout of ASB, but the 10 minute idle link timeout:  https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-amqp-troubl

[2022-01-30 17:01] cescoffier commented on #1588
Thanks for the reproducer. I will have a look to see if we can do something at the connector level.

[2022-01-30 17:35] alexlitovsky commented on #1588
Related issue submitted to vertx:  https://github.com/vert-x3/vertx-amqp-client/issues/77

[2022-01-31 14:57] alexlitovsky opened #1589 "AMQP - Support passing other config options to Vertx AmqpClient"
Vertx AmqpClientOptions supports a bunch of useful options, such as `idleTimeout`:
https://github.com/vert-x3/vertx-amqp-client/blob/master/src/main/java/io/vertx/amqp/AmqpClientOptions.java

However, SRM only allows the app to use a subset of them.
https://github.com/smallrye/smallrye-reactive-messaging/blob/main/smallrye-reactive-messaging-amqp/src/main/java/io/smallrye/reactive/messaging/amqp/A

[2022-01-31 15:11] cescoffier commented on #1589
You can pass your own AmqpClientOptions provider. Thus, you can pass all the options you want.
See https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/3.4/amqp/amqp.html#amqp-customization

[2022-01-31 15:53] alexlitovsky commented on #1589
Thank you!  I should have RTFM.

The example didn't work for me with `@Identifier("my-named-options")`.  It did work once I changed it to `@Named("my-named-options")`.

[code]

[2022-01-31 15:53] #1589 closed

[2022-01-31 16:10] cescoffier commented on #1589
We support both. Which version of reactive messaging are you using?

[2022-01-31 16:14] alexlitovsky commented on #1589
3.13.0

[2022-02-01 06:37] cescoffier commented on #1589
Can you provide a reproducer?